.bkg-administrativo {
  padding: 50px;
  .d-flex {
    .text-center {
      margin-right: -7%;
    }
  }
  .gerenciador-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 26.633px;
    box-shadow: 0px 7.102px 7.102px 0px rgba(0, 0, 0, 0.3);
  }

  .bold {
    font-size: 20.418px;
    font-weight: 700;
  }

  .container {
    padding: 20px;
    border-radius: 10px;
  }

  .btn-back {
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    padding: 50px;
    border-collapse: separate;
    border-spacing: 0 15px;
  }

  .table-container {
    overflow-x: auto;
  }

  th {
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
  }

  td,
  tr {
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.487%;
    text-transform: uppercase;
  }

  tbody {
    td {
      border-top: 2.663px solid rgba(0, 0, 0, 0.15);
      border-bottom: 2.663px solid rgba(0, 0, 0, 0.15);
      padding: 10px;
    }

    td:first-child {
      border-left: 2.663px solid rgba(0, 0, 0, 0.15);
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
    }

    td:last-child {
      border-right: 2.663px solid rgba(0, 0, 0, 0.15);
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
    }
  }

  .actions {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .btn-action {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-attach {
    display: flex;
    width: 138px;
    height: 48px;
    padding: 19.139px 80.81px;
    justify-content: center;
    align-items: center;
    gap: 7.089px;
    border: none;
    border-radius: 12px;
    opacity: 0.9;
    background: #c5c5c5;
    margin-left: auto;
    margin-right: auto;
    font-size: 14.474px;
    font-style: normal;
    font-weight: 700;
  }

  .btn-action {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    opacity: 0.9;
    background: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-voltar {
    display: flex;
    height: 48.017px;
    padding: 14.362px 48.64px 11.654px 48.36px;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 17.739px;
    font-style: normal;
    background-color: #fff;
    cursor: pointer;
    border-radius: 26px;
    font-weight: 600;
  }
  .button-orgao {
    display: flex;
    height: 48.017px;
    padding: 14.362px 48.64px 11.654px 48.36px;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 17.739px;
    font-style: normal;
    background-color: #000;
    cursor: pointer;
    border-radius: 26px;
    font-weight: 600;
  }
  .text-center {
    color: #000;
    font-size: 15px;
    font-weight: 600;
  }

  h1 {
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    color: #000;
    font-size: 46.759px;
    font-style: normal;
    font-weight: 800;
  }
}

.eye {
  background-image: url("../../../assets/icons/eye-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
}

.edit {
  background-image: url("../../../assets/icons/edit-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
}

.folder {
  background-image: url("../../../assets/icons/folder-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
}

.clipboard {
  background-image: url("../../../assets/icons/clipboard-adm.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
}

.bin {
  background-image: url("../../../assets/icons/bin-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
}

.red {
  opacity: 0.9;
  background: #d23a3a !important;
}

@media (max-width: 768px) {
  .bkg-administrativo {
    padding: 20px;

    .justify-content-center {
      justify-content: center !important;
      flex-direction: column-reverse !important;
    }

    .button-voltar {
      margin: 0px !important;
      justify-content: center !important;
    }

    .gerenciador-content {
      padding: 15px;
      margin-top: 20px;
      border-radius: 20px;
    }

    h1 {
      font-size: 22px;
      padding-top: 20px;
    }

    p {
      font-size: 12px;
      margin-bottom: 15px;
    }

    .table-container {
      overflow-x: auto;
    }

    table {
      padding: 20px;
      border-spacing: 0 10px;
    }

    th,
    td,
    tr {
      font-size: 14px;
    }

    .actions {
      gap: 5px;
    }

    .btn-attach {
      width: 100px;
      padding: 10px 40px;
    }

    .btn-action {
      width: 40px;
      height: 40px;
    }

    .button-voltar {
      height: 40px;
      padding: 10px 30px;
      font-size: 14px;
    }

    .text-center {
      font-size: 12px;
    }

    .bold {
      font-size: 16px;
    }
  }
}
