<div class="licitacao-detalhes-container">
  <h2>DETALHES DA LICITAÇÃO</h2>
  <p>Detalhes de licitações cadastradas</p>

  <div *ngIf="isLoadingDetails" class="loading-indicator">
    Carregando detalhes...
  </div>

  <div
    *ngIf="licitacaoDetalhes && !isLoadingDetails"
    class="licitacao-info-row"
  >
    <div class="licitacao-info">
      <div class="d-flex flex-column">
        <strong>LICITAÇÃO N:</strong> {{ licitacaoDetalhes.number }}/{{
          licitacaoDetalhes.year
        }}
      </div>
      <div class="d-flex flex-column">
        <strong>NÚMERO DA COMPRA:</strong>
        {{ licitacaoDetalhes.process_number }}
      </div>
    </div>
    <div class="add-item-button">
      <button class="btn-add" (click)="openAddItemModal()">
        ADICIONAR NOVO ITEM
      </button>
    </div>
  </div>

  <div *ngIf="isLoadingItens" class="loading-indicator">
    Carregando itens...
  </div>
  <div
    *ngIf="licitacaoItens.length > 0 && !isLoadingItens"
    class="table-responsive">
    <table class="table-editada">
      <thead>
        <tr>
          <th scope="col" class="col-number">Nº</th>
          <th scope="col" class="col-description">Situação</th>
          <th scope="col" class="col-quantity">Descrição</th>
          <th scope="col" class="col-quantity">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of licitacaoItens; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ getContractItemStatus(item.contract_item_situation_id) }}</td>
          <td>{{ item.description }}</td>
          <td>
            <div class="d-flex align-items-center justify-content-center gap-3">
              <div class="d-flex flex-column align-items-center">
                <a
                  (click)="irParaPncp(1)"
                  class="btn-visualizar btn-format d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../../../../../assets/icons/visualizar-adm-icon.svg"
                    alt="Visualizar"
                  />
                </a>
                <span class="mt-1 legenda-icons">Visualizar</span>
              </div>

              <div class="d-flex flex-column align-items-center">
                <a
                  class="btn-edit btn-format d-flex justify-content-center align-items-center"
                  (click)="openEditDialog(item)"
                >
                  <img
                    src="../../../../../assets/icons/edit-icon-adm.svg"
                    alt="Editar"
                  />
                </a>
                <span class="mt-1 legenda-icons">Editar</span>
              </div>

              <div class="d-flex flex-column align-items-center">
                <button
                  class="btn-resultados btn-format d-flex justify-content-center align-items-center"
                  (click)="openResultadoDialog(item)"
                >
                  <img
                    src="../../../../../assets/icons/check-adm-icon.svg"
                    alt="Resultados"
                    class="icon"
                  />
                </button>
                <span class="mt-1 legenda-icons">Resultados</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div
    class="bkg-bottom d-flex justify-content-end align-items-center mt-3 flex-wrap"
    *ngIf="pagination"
  >
    <span class="resultado me-3">{{ pagination.total }} resultados</span>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <!-- Primeira Página -->
        <li class="page-item" [class.disabled]="pagination.current_page === 1">
          <a
            class="page-link bg-white"
            (click)="goToPage(1)"
            aria-label="Primeira"
          >
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>

        <!-- Página Anterior -->
        <li class="page-item" [class.disabled]="pagination.current_page === 1">
          <a
            class="page-link bg-white"
            (click)="previousPage()"
            aria-label="Anterior"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <!-- Página Atual -->
        <li class="page-item active">
          <span class="page-link bg-dark border-0">{{
            pagination.current_page
          }}</span>
        </li>

        <!-- Próxima Página -->
        <li
          class="page-item"
          [class.disabled]="pagination.current_page === pagination.last_page"
        >
          <a
            class="page-link bg-white"
            (click)="nextPage()"
            aria-label="Próxima"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>

        <!-- Última Página -->
        <li
          class="page-item"
          [class.disabled]="pagination.current_page === pagination.last_page"
        >
          <a
            class="page-link bg-white"
            (click)="goToPage(pagination.last_page)"
            aria-label="Última"
          >
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<ng-template #addItemModal>
  <div class="modal-header bg-dark">
    <h5 class="modal-title text-white">Adicionar Item à Licitação</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <form class="form-itens-licitacao" [formGroup]="novoItemForm">
      <h5 class="mb-3 strong_font">Itens da Licitação</h5>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Incentivo fiscal PPB (Processo Produtivo Básico)</label
          >
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="basic_productive_incentive"
            />
            <label class="form-check-label strong_font">Sim</label>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Orçamento sigiloso?</label>
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="confidential_budget"
            />
            <label class="form-check-label strong_font">Sim</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Categoria do Item *</label>
          <select
            id="item_category_id"
            formControlName="item_category_id"
            class="form-control"
          >
            <option></option>

            <option
              *ngFor="let option of itemCategoriaEnum"
              [ngValue]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Material ou Serviço? *</label>
          <select
            id="item_type"
            formControlName="item_type"
            class="form-control"
          >
            <option></option>
            <option
              *ngFor="let option of materialOuServicoEnum"
              [ngValue]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Tipo de benefício *</label>
          <select
            id="item_type"
            formControlName="benefit_type_id"
            class="form-control"
          >
            <option></option>

            <option
              *ngFor="let option of beneficiosEnum"
              [ngValue]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Critério de julgamento *</label>
          <select
            id="judging_criteria_id"
            formControlName="judging_criteria_id"
            class="form-control"
          >
            <option></option>

            <option
              *ngFor="let option of criterioDeJulgamentoEnum"
              [ngValue]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label strong_font">Descrição do item *</label>
        <textarea
          class="form-control"
          formControlName="description"
          rows="3"
          maxlength="2048"
        ></textarea>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Quantidade *</label>
          <input
            type="number"
            class="form-control"
            formControlName="quantity"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Unidade de medida *</label>
          <select
            id="unit_of_measurement"
            formControlName="unit_of_measurement"
            class="form-control"
          >
            <option></option>

            <option
              *ngFor="let option of unidadeDeMedidaEnum"
              [ngValue]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Valor unitário estimado *</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="estimated_unit_value"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Valor total *</label>
          <input
            type="number"
            class="form-control"
            formControlName="total_value"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Patrimônio</label>
          <input type="text" class="form-control" formControlName="assets" />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Código Registro Imobiliário</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="real_estate_registry_code"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Aplicabilidade da Margem de Preferência Normal</label
          >
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="applicability_normal_preference_margin"
            />
            <label class="form-check-label">Sim</label>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Aplicabilidade da Margem de Preferência Adicional</label
          >
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="applicability_additional_preference_margin"
            />
            <label class="form-check-label">Sim</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Código NCM/NBS</label>
          <input
            type="text"
            class="form-control"
            formControlName="ncm_nbs_code"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Descrição NCM/NBS</label>
          <textarea
            class="form-control"
            formControlName="ncm_nbs_description"
            rows="2"
            maxlength="2048"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">
      Cancelar
    </button>
    <button
      type="button"
      class="btn bg-dark text-white"
      [disabled]="novoItemForm.invalid"
      (click)="adicionarItem()"
    >
      Salvar
    </button>
  </div>
</ng-template>
