.bg-ata_das_sessoes {
    background-image: url('../../../assets/bkg/bkg-ata-das-sessoes.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: #fff;

    .titulo-ata {
        text-align: center;
        margin-top: 50px;
    }

 
}
