.git
dist
*.yml
.editorconfig
.gitignore
cypress
*.cache
build.sh
dev-build.sh
frontend.docker.gz
frontend.docker
dev-frontend.docker.gz
dev-frontend.docker
deploy.sh
dev-deploy.sh
.vscode
*.md
.env
.env.*
!.env.deploy.local
!.env.staging.local
