.bg-acesso_informacao {
  background-image: url("../../../assets/bkg/bkg-portal-transparencia.png");
  background-size: cover;
  background-repeat: no-repeat;

  .bg-acesso-content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .acesso_informacao-title {
      color: #fff;
      font-size: 46.759px;
      font-style: normal;
      font-weight: 800;
      line-height: 122.487%;
      text-transform: uppercase;
      padding-top: 50px;
      text-align: center;
    }

    .acesso_informacao-subtitle {
      width: 70%;
      padding-top: 20px;
      color: #fff;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 122.487%;
      margin-left: auto;
      margin-right: auto;
      a {
        color: #fff !important;
      }
    }
  }

  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 20px;

    .button-acessos {
      max-width: 185px;
      width: 100%;
      height: 164px;
      display: flex;
      flex-direction: column;

      img {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
      }
    }
  }
}

.btn-padrao__hover .btn-padrao__text {
  white-space: normal;
  text-align: center;
}
.btn-padrao__hover:hover {
  img {
    filter: brightness(0) saturate(1000%) invert(1);
  }
}
.btn-padrao__hover {
  padding: 20px;
  max-height: 125px;
}
