<div class="container mt-5">
  <div class="form-content">
    <h3 class="mb-4">
      {{
        isEditMode
          ? "Editar Item do Plano Contratação"
          : "Dados do Plano de Contratação"
      }}
    </h3>
    <form [formGroup]="pcaForm" (ngSubmit)="onFormSubmit()">
      <div class="row">
        <!-- Dados principais do plano -->
        <div class="col-md-6 mb-3 ps-1 pe-1">
          <label for="agency_country_register">Órgão</label>
          <ng-select
            [items]="agencyOptions"
            bindLabel="label"
            bindValue="value"
            formControlName="agency_country_register"
            placeholder="Selecione um órgão"
            [searchable]="true"
            [disabled]="isEditMode"
          ></ng-select>
        </div>

        <div class="col-md-6 mb-3 ps-1 pe-1">
          <label for="unit_id">Unidades Compradora</label>
          <ng-select
            [items]="unitOptions"
            bindLabel="key"
            bindValue="value"
            formControlName="unit_id"
            placeholder="Selecione uma unidade"
            [searchable]="true"
            [disabled]="isEditMode"
          ></ng-select>
        </div>

        <div class="col-md-6 mb-3 ps-1 pe-1">
          <label for="year">Ano*</label>
          <input
            id="year"
            type="number"
            class="form-control"
            formControlName="year"
            placeholder="Ano do contrato"
            [readonly]="isEditMode"
          />
        </div>

        <!-- Cabeçalho dos itens com botões -->
        <div class="col-12">
          <div class="d-flex justify-content-start align-items-center mb-4">
            <h4 class="mb-0">ITENS DO PLANO DE CONTRATAÇÃO ANUAL</h4>
            <div class="ms-4 d-flex">
              <span class="toggle-icon add me-2" (click)="addItem()">+</span>
              <span
                *ngIf="itemsFormArray.length > 0"
                class="toggle-icon bg-danger"
                (click)="removeItem(itemsFormArray.length - 1)"
              >
                -
              </span>
            </div>
          </div>
        </div>

        <!-- Lista de itens -->
        <div class="col-12" formArrayName="items">
          <div
            *ngFor="let item of itemsFormArray.controls; let i = index"
            [formGroupName]="i"
            class="border rounded p-3 mb-3"
          >
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="mb-0">Item {{ i + 1 }}</h5>
              <button
                type="button"
                class="btn btn-sm btn-danger"
                (click)="removeItem(i)"
                *ngIf="itemsFormArray.length > 1"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'contract_renewal_' + i"
                  >Renovação do Contrato</label
                >
                <input
                  [id]="'contract_renewal_' + i"
                  type="checkbox"
                  class="form-check-input ms-2"
                  formControlName="contract_renewal"
                />
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'item_number_' + i">Número do Item*</label>
                <input
                  [id]="'item_number_' + i"
                  type="number"
                  class="form-control"
                  formControlName="item_number"
                  placeholder="Número do item"
                  readonly
                />
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'item_category_id_' + i"
                  >Categoria do Item*</label
                >
                <ng-select
                  [id]="'item_category_id_' + i"
                  [items]="categoriaItem"
                  bindLabel="key"
                  bindValue="value"
                  formControlName="item_category_id"
                  placeholder="Selecione"
                  [searchable]="true"
                ></ng-select>
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'item_category_id')"
                >
                  {{ getItemFieldError(i, "item_category_id") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'catalog_' + i">Catálogo*</label>
                <ng-select
                  [id]="'catalog_' + i"
                  [items]="modeloCatalogo"
                  bindLabel="key"
                  bindValue="value"
                  formControlName="catalog"
                  placeholder="Selecione"
                  [searchable]="true"
                ></ng-select>
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'catalog')"
                >
                  {{ getItemFieldError(i, "catalog") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'catalog_classification_' + i"
                  >Classificação do Catálogo*</label
                >
                <ng-select
                  [id]="'catalog_classification_' + i"
                  [items]="catalogoClassificacao"
                  bindLabel="key"
                  bindValue="value"
                  formControlName="catalog_classification"
                  placeholder="Selecione"
                  [searchable]="true"
                ></ng-select>
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'catalog_classification')"
                >
                  {{ getItemFieldError(i, "catalog_classification") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'superior_classification_code_' + i"
                  >Código da Classe do Material ou Grupo do Serviço*</label
                >
                <input
                  [id]="'superior_classification_code_' + i"
                  class="form-control"
                  formControlName="superior_classification_code"
                  placeholder="Código da classe"
                />
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'superior_classification_code')"
                >
                  {{ getItemFieldError(i, "superior_classification_code") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'pdm_code_' + i"
                  >Código PDM referente ao Material conforme CNIS</label
                >
                <input
                  [id]="'pdm_code_' + i"
                  class="form-control"
                  formControlName="pdm_code"
                  placeholder="Código PDM"
                />
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'item_code_' + i"
                  >Código do Material ou Serviço*</label
                >
                <input
                  [id]="'item_code_' + i"
                  class="form-control"
                  formControlName="item_code"
                  placeholder="Código do material ou serviço"
                />
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'item_code')"
                >
                  {{ getItemFieldError(i, "item_code") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'pdm_description_' + i"
                  >Descrição PDM referente ao Material</label
                >
                <textarea
                  [id]="'pdm_description_' + i"
                  class="form-control"
                  formControlName="pdm_description"
                  placeholder="Descrição PDM"
                ></textarea>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'superior_classification_name_' + i"
                  >Descrição da Classe do Material*</label
                >
                <textarea
                  [id]="'superior_classification_name_' + i"
                  class="form-control"
                  formControlName="superior_classification_name"
                  placeholder="Descrição da classe"
                ></textarea>
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'superior_classification_name')"
                >
                  {{ getItemFieldError(i, "superior_classification_name") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'description_' + i"
                  >Descrição do Material ou Serviço*</label
                >
                <textarea
                  [id]="'description_' + i"
                  class="form-control"
                  formControlName="description"
                  placeholder="Descrição do material ou serviço"
                ></textarea>
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'description')"
                >
                  {{ getItemFieldError(i, "description") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'supply_unit_' + i"
                  >Unidade de Fornecimento*</label
                >
                <input
                  [id]="'supply_unit_' + i"
                  class="form-control"
                  formControlName="supply_unit"
                  placeholder="Unidade de fornecimento"
                />
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'supply_unit')"
                >
                  {{ getItemFieldError(i, "supply_unit") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'quantity_' + i">Quantidade de Itens*</label>
                <input
                  [id]="'quantity_' + i"
                  type="number"
                  class="form-control"
                  formControlName="quantity"
                  placeholder="Quantidade de itens"
                  (input)="calculateTotalValue(i)"
                />
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'quantity')"
                >
                  {{ getItemFieldError(i, "quantity") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'unit_value_' + i">Valor Unitário*</label>
                <input
                  [id]="'unit_value_' + i"
                  type="text"
                  class="form-control"
                  formControlName="unit_value"
                  placeholder="Valor unitário"
                  currencyMask
                  (input)="calculateTotalValue(i)"
                />
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'unit_value')"
                >
                  {{ getItemFieldError(i, "unit_value") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'total_value_' + i">Valor Total*</label>
                <input
                  [id]="'total_value_' + i"
                  type="text"
                  class="form-control"
                  formControlName="total_value"
                  placeholder="Valor total"
                  currencyMask
                  readonly
                />
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'total_value')"
                >
                  {{ getItemFieldError(i, "total_value") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'budget_value_for_year_' + i"
                  >Valor Orçamentário Estimado*</label
                >
                <input
                  [id]="'budget_value_for_year_' + i"
                  type="text"
                  class="form-control"
                  formControlName="budget_value_for_year"
                  placeholder="Valor orçamentário estimado"
                  currencyMask
                />
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'budget_value_for_year')"
                >
                  {{ getItemFieldError(i, "budget_value_for_year") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'desired_date_' + i">Data Desejada*</label>
                <input
                  [id]="'desired_date_' + i"
                  type="datetime-local"
                  class="form-control"
                  formControlName="desired_date"
                />
                <small
                  class="text-danger"
                  *ngIf="isItemFieldInvalid(i, 'desired_date')"
                >
                  {{ getItemFieldError(i, "desired_date") }}
                </small>
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'requesting_unit_' + i"
                  >Nome Unidade Requisitante</label
                >
                <input
                  [id]="'requesting_unit_' + i"
                  class="form-control"
                  formControlName="requesting_unit"
                  placeholder="Nome da unidade requisitante"
                />
              </div>

              <div class="col-md-6 mb-3 ps-1 pe-1">
                <label [for]="'contracting_group_name_' + i"
                  >Nome da Contratação Futura</label
                >
                <input
                  [id]="'contracting_group_name_' + i"
                  class="form-control"
                  formControlName="contracting_group_name"
                  placeholder="Nome da contratação futura"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-dark w-100 hover-sucesso">
            {{ isEditMode ? "Editar" : "Cadastrar" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
