<div class="container mt-5">
  <div class="form-content">
    <h3 class="mb-4">dados do PLANO DE CONTRATAÇÃO</h3>
    <form [formGroup]="pcaForm" (ngSubmit)="onFormSubmit()">
      <div class="row">
        <!-- Dados principais do plano -->
        <div class="col-md-6 mb-3 ps-1 pe-1">
          <label for="agency_country_register">Órgão</label>
          <ng-select
            [items]="agencyOptions"
            bindLabel="label"
            bindValue="value"
            formControlName="agency_country_register"
            placeholder="Selecione um órgão"
            [searchable]="true"
          ></ng-select>
        </div>

        <div class="col-md-6 mb-3 ps-1 pe-1">
          <label for="unit_id">Unidades Compradora</label>
          <ng-select
            [items]="unitOptions"
            bindLabel="key"
            bindValue="value"
            formControlName="unit_id"
            placeholder="Selecione uma unidade"
            [searchable]="true"
          ></ng-select>
        </div>

        <div class="col-md-6 mb-3 ps-1 pe-1">
          <label for="year">Ano*</label>
          <input
            id="year"
            type="number"
            class="form-control"
            formControlName="year"
            placeholder="Ano do contrato"
          />
        </div>

        <!-- Dados do item -->
        <div class="row">
          <h4 class="mb-4">ITENS DO PLANO DE CONTRATAÇÃO ANUAL</h4>
        </div>

        <div formGroupName="items">
          <div class="row">
            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="contract_renewal">Renovação do Contrato</label>
              <input
                id="contract_renewal"
                type="checkbox"
                class="form-check-input ms-2"
                formControlName="contract_renewal"
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="item_number">Número do Item*</label>
              <input
                id="item_number"
                type="number"
                class="form-control"
                formControlName="item_number"
                placeholder="Número do item"
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="item_category_id">Categoria do Item</label>
              <ng-select
                [items]="categoriaItem"
                bindLabel="key"
                bindValue="value"
                formControlName="item_category_id"
                placeholder="Selecione"
                [searchable]="true"
              ></ng-select>
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="catalog">Catálogo*</label>
              <ng-select
                [items]="modeloCatalogo"
                bindLabel="key"
                bindValue="value"
                formControlName="catalog"
                placeholder="Selecione"
                [searchable]="true"
              ></ng-select>
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="catalog_classification"
                >Classificação do Catálogo*</label
              >
              <ng-select
                [items]="catalogoClassificacao"
                bindLabel="key"
                bindValue="value"
                formControlName="catalog_classification"
                placeholder="Selecione"
                [searchable]="true"
              ></ng-select>
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="superior_classification_code"
                >Código da Classe do Material ou Grupo do Serviço*</label
              >
              <input
                id="superior_classification_code"
                class="form-control"
                formControlName="superior_classification_code"
                placeholder="Código da classe"
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="pdm_code"
                >Código PDM referente ao Material conforme CNIS</label
              >
              <input
                id="pdm_code"
                class="form-control"
                formControlName="pdm_code"
                placeholder="Código PDM"
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="item_code"
                >Código do Material ou Serviço conforme Catálogo
                Utilizado*</label
              >
              <input
                id="item_code"
                class="form-control"
                formControlName="item_code"
                placeholder="Código do material ou serviço"
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="pdm_description"
                >Descrição PDM referente ao Material conforme o CNBS</label
              >
              <textarea
                id="pdm_description"
                class="form-control"
                formControlName="pdm_description"
                placeholder="Descrição PDM"
              ></textarea>
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="superior_classification_name"
                >Descrição da Classe do Material ou Grupo do Serviço*</label
              >
              <textarea
                id="superior_classification_name"
                class="form-control"
                formControlName="superior_classification_name"
                placeholder="Descrição da classe"
              ></textarea>
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="description"
                >Descrição do Material ou Serviço conforme Catálogo
                Utilizado*</label
              >
              <textarea
                id="description"
                class="form-control"
                formControlName="description"
                placeholder="Descrição do material ou serviço"
              ></textarea>
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="supply_unit">Unidade de Fornecimento*</label>
              <input
                id="supply_unit"
                class="form-control"
                formControlName="supply_unit"
                placeholder="Unidade de fornecimento"
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="quantity">Quantidade de Itens do Plano*</label>
              <input
                id="quantity"
                type="number"
                class="form-control"
                formControlName="quantity"
                placeholder="Quantidade de itens"
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="unit_value">Valor Unitário do Item*</label>
              <input
                id="unit_value"
                type="text"
                class="form-control"
                formControlName="unit_value"
                placeholder="Valor unitário"
                currencyMask
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="total_value">Valor Total do Item*</label>
              <input
                id="total_value"
                type="text"
                class="form-control"
                formControlName="total_value"
                placeholder="Valor total"
                currencyMask
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="budget_value_for_year"
                >Valor Orçamentário Estimado para o Exercício*</label
              >
              <input
                id="budget_value_for_year"
                type="text"
                class="form-control"
                formControlName="budget_value_for_year"
                placeholder="Valor orçamentário estimado"
                currencyMask
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="desired_date">Data Desejada para Contratação*</label>
              <input
                type="datetime-local"
                id="desired_date"
                class="form-control"
                formControlName="desired_date"
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="requesting_unit">Nome Unidade Requisitante</label>
              <input
                id="requesting_unit"
                class="form-control"
                formControlName="requesting_unit"
                placeholder="Nome da unidade requisitante"
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="contracting_group_code"
                >Código da Contratação Futura</label
              >
              <input
                id="contracting_group_code"
                class="form-control"
                formControlName="contracting_group_code"
                placeholder="Código da contratação futura"
              />
            </div>

            <div class="col-md-6 mb-3 ps-1 pe-1">
              <label for="contracting_group_name"
                >Nome da Contratação Futura</label
              >
              <input
                id="contracting_group_name"
                class="form-control"
                formControlName="contracting_group_name"
                placeholder="Nome da contratação futura"
              />
            </div>
          </div>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-dark w-100 hover-sucesso">
            Cadastrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
