<div class="container">
    <div class="vereadores-container">
        <div class="vereadores-content">
          <h2>Vereadores</h2>
          <div *ngFor="let month of vereadores">
            <h4>{{ month.month }}</h4>
            <ul>
              <li *ngFor="let item of month.items">
                {{ item.nome }}
              </li>
            </ul>
          </div>
        </div>
        <div class="vereadores-image">
          <img src="/app/assets/temporarias/vereadores.png" alt="Presidente" />
        </div>
      </div>
      
</div>