<div class="mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <div>
      <h5>DIÁRIOS OFICIAIS</h5>
      <small>Lista de diários oficiais cadastrados</small>
    </div>
    <button
      routerLink="/adm/diario-oficial-administrativo/publicar"
      class="btn btn-adm-adicionar ms-2"
    >
      <mat-icon>person</mat-icon> Publicar Diário Oficial
    </button>
  </div>

  <div class="">
    <table class="table-editada mb-0">
      <thead>
        <tr>
          <th>Data</th>
          <th>Edição</th>
          <th>Arquivo</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doc of publicacoes">
          <td>{{ doc.date | date : "dd/MM/yyyy" }}</td>
          <td>{{ doc.year_label + "/" + doc.number }}</td>
          <td>{{ doc.description }}</td>
          <td>
            <strong
              [ngClass]="{
                'tx-mustard': doc.status === 'scheduled',
                'tx-green': doc.status === 'published',
                'text-danger': doc.status === 'error',
              }"
              >{{
                statusPublicacao(doc.status)
              }}</strong
            >
          </td>
          <td class="w-25">
            <div class="d-flex justify-content-end align-items-center gap-2">
              @if(doc.protocol && doc.protocol.length > 0){
              <a
                [href]="doc.protocol"
                target="_blank"
                class="btn btn-sm"
                tooltip="Protocolo"
              >
                <img
                  src="../../../../../assets/icons/megaphone-adm-icon.svg"
                  alt="Protocolo"
                />
              </a>
              }

              <a
                [href]="doc.file_upload"
                target="_blank"
                class="btn btn-sm"
                tooltip="Original"
              >
                <img
                  src="../../../../../assets/icons/clipboard-adm.svg"
                  alt="Original"
                />
              </a>
              <a
                [href]="doc.file_published"
                target="_blank"
                class="btn btn-sm"
                [ngClass]="{
                  'bg-mustard': doc.status === 'scheduled',
                  'bg-green': doc.status === 'published',
                  'bg-danger': doc.status==='error',
                  'bg-transparent': !doc.status
                }"
                tooltip="Publicado"
              >
                <img
                  src="../../../../../assets/icons/check-adm.svg"
                  alt="Publicado"
                />
              </a>

              @if(isStaff){
              <button
                class="btn btn-anexar"
                (click)="openAnexarModal(anexarDocumentos, doc)"
              >
                Anexar
              </button>
              <button
                class="btn-format btn-remove-page border-0 ps-0 pe-0 ms-0 me-0"
                tooltip="Remover Página"
                (click)="openDeletePage(deletePage, doc)"
              >
                <img
                  src="../../../../../assets/icons/remover-pagina-icon.svg"
                  alt="Remover Página"
                />
              </button>
              <button
                class="btn-format btn-remove border-0 ps-0 pe-0 ms-0 me-0"
                tooltip="Remover Publicação"
                (click)="openConfirmationModal(confirmationTemplate, doc)"
              >
                <img
                  src="../../../../../assets/icons/remove-icon.svg"
                  alt="Remover Publicação"
                />
              </button>

              <ng-template #confirmationTemplate>
                <div class="modal-header">
                  <h5 class="text-capitalize">Excluir Diário Oficial</h5>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modalRef?.hide()"
                  ></button>
                </div>
                <div class="modal-body">
                  <div>
                    <p class="mb-2">Você realmente deseja excluir?</p>
                    <strong
                      ><span class="text-danger">{{
                        selectedDocument?.file_name
                      }}</span></strong
                    >
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="modalRef?.hide()"
                  >
                    Cancelar
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="confirmDelete()"
                  >
                    Excluir
                  </button>
                </div>
              </ng-template>

              <ng-template #deletePage>
                <div class="modal-header">
                  <h5 class="text-capitalize">Remover páginas</h5>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modalRef?.hide()"
                  ></button>
                </div>
                <div class="modal-body">
                  <div>
                    <p class="mb-2">
                      Selecione a(s) página(s) que deseja remover:
                    </p>
                  </div>
                  <div class="mt-3">
                    <!-- Lista de checkboxes para selecionar as páginas -->
                    <div *ngFor="let page of documentPages" class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [id]="'page-' + page"
                        [value]="page"
                        (change)="togglePageSelection(page)"
                      />
                      <label class="form-check-label" [for]="'page-' + page">
                        Página {{ page }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                  <!-- Botões de ação -->
                  <div class="d-flex justify-content-between w-100">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="viewCurrentFile()"
                    >
                      Ver Arquivo Original
                    </button>
                    <ng-container>
                      <button
                        *ngIf="doc.status === 'published'"
                        type="button"
                        class="btn btn-success"
                        (click)="previewFile()"
                      >
                        Ver Arquivo no Diário
                      </button>
                    </ng-container>
                  </div>
                  <div class="d-flex justify-content-between w-100">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="modalRef?.hide()"
                    >
                      Cancelar
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      [disabled]="selectedPages.length === 0"
                      (click)="confirmDeletePage()"
                    >
                      Excluir Selecionadas
                    </button>
                  </div>
                </div>
              </ng-template>

              <ng-template #anexarDocumentos>
                <div class="modal-header">
                  <h5 class="text-capitalize">
                    Anexar arquivo ao final da publicação de edição:
                    {{ selectedDocument?.year_label }}/{{
                      selectedDocument?.number
                    }}
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modalRef?.hide()"
                  ></button>
                </div>
                <div class="modal-body">
                  <div>
                    <label for="fileInput" class="form-label"
                      >Selecione um arquivo:</label
                    >
                    <input
                      id="fileInput"
                      type="file"
                      class="form-control"
                      accept=".pdf"
                      (change)="onFileSelected($event)"
                    />
                    <small class="text-muted"
                      >Tipos de arquivos aceitos: .pdf</small
                    >
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="modalRef?.hide()"
                  >
                    Cancelar
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    [disabled]="!selectedFile"
                    (click)="attachDocument()"
                  >
                    Selecionar Arquivo
                  </button>
                </div>
              </ng-template>

              }
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="bkg-bottom d-flex justify-content-end align-items-center mt-3 flex-wrap"
  >
    <span class="resultado me-3">{{ documents.length }} resultados</span>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="goToPage(1)" aria-label="Primeira">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link"
            (click)="goToPreviousPage()"
            aria-label="Anterior"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item active">
          <span class="page-link">{{ currentPage }}</span>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="goToNextPage()" aria-label="Próxima">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a
            class="page-link"
            (click)="goToPage(totalPages)"
            aria-label="Última"
          >
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
