<div class="bg-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="titulo">
                    ACESSO RÁPIDO
                </div>
                <div class="d-flex-acesso">
                    <div class="acesso-rapido" *ngFor="let acesso of acessos; let i = index"
                        [routerLink]="acesso.routerLink">
                        <div class="icone">
                            <div class="btn-padrao__perfil-icon"></div>
                        </div>
                        <div class="texto">
                            {{ acesso.texto }}
                        </div>
                    </div>
                </div>


                <button class="btn btn-banner" routerLink="/acesso-informacao-transparencia">
                    Acesso a Informação
                </button>
            </div>
            <div class="col-md-6">
                <div class="titulo">
                    ÚLTIMAS NOTÍCIAS
                </div>
                <app-slider></app-slider>
                <button class=" btn btn-banner">
                    ACESSAR PÁGINA DE NOTÍCIAS
                </button>
            </div>
        </div>
    </div>
</div>
<div class="noticias-gerais">
    <div class="container">
        <div class="titulo-noticias">
            <h1>Notícias</h1>
        </div>
        <div class="noticias-content">
            <div class="main-news">
                <div class="news-item" *ngFor="let main of mainNews">
                    <img class="img-fluid" [src]="main.img" alt="">
                    <h2>{{ main.title }}</h2>
                    <p>{{ main.description }}</p>
                </div>
                <div class="vereadores-gerais">
                    <div class="titulo-noticias">
                        <h1>vereadores (as)</h1>
                    </div>
                    <div class="vereadores-content">
                        <div class="vereador-item" *ngFor="let vereador of vereadores">
                            <img class="vereador-img" [src]="vereador.img" alt="">
                            <div class="vereador-name">{{ vereador.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-news">
                <div class="news-item" *ngFor="let sidebar of sidebarNews">
                    <img class="sidebar-img" [src]="sidebar.img" alt="">
                    <div class="sidebar-text">
                        <div class="sidebar-date">{{ sidebar.date }}</div>
                        <div class="sidebar-title">{{ sidebar.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>