<div class="latest-news_header">
  <div class="container d-flex">
    <div class="latest-news__img">
      <img
        src="/app/assets/icons/megaphone-icon.svg"
        alt="Latest News"
        class="img-responsive"
      />
      <span>Últimas Notícias: </span>
    </div>
    <div class="latest-news__text">
      <p>{{ marqueeText }}</p>
    </div>
    <!-- <div class="latest-news__button">
      <button *ngIf="posts.length > 0" (click)="goToCurrentNews()">
        Ler Notícia completa
      </button>
    </div> -->
  </div>
</div>
