.side-container {
    background: #272727;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .side-container__title {
        margin-top: 50px;
        color: #FFF;
        text-align: center;
        font-size: 20.526px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .side-container__list {
        a {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .button-acessos {
            &.active {
                border-radius: 20.457px;
                background: #2e2e2e;
                display: flex;
                width: 185.475px;
                height: 133.651px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 9.546px;
                flex-shrink: 0;
                pointer-events: none;

                .btn-padrao__perfil-icon {
                    filter: invert(1);
                    opacity: 0.7;
                }

                .btn-padrao__text {
                    color: #8b8a8a;

                }
            }
        }
    }

    .buttons {
        gap: 16px;
        flex-wrap: wrap;

        .btn-padrao__hover {
            width: 185.838px;
            height: 133.838px;
            max-height: 100%;
            padding: 12.493px;
            justify-content: center;
            align-items: center;
            align-content: center;
            display: flex;
            flex-direction: column;
            gap: 16.104px;
            flex-shrink: 0;
            flex-wrap: wrap;

            .btn-padrao__perfil-icon {
                width: 30.003px;
                height: 35.458px;
                background-size: cover;
                background-image: url('../../../../assets/icons/perfil-icon-preto.svg');

            }

            .btn-padrao__text {
                text-align: center;
                font-size: 13.638px;
                font-style: normal;
                font-weight: 700;
                color: #000;
                white-space: normal;

            }
        }

        .btn-padrao__hover:hover {
            background-color: #000;

            .btn-padrao__text {
                color: #fff;

            }

            .btn-padrao__perfil-icon {
                filter: invert(1);

            }
        }

    }
}

@media (max-width: 768px) {
    .btn-padrao__hover {
        display: flex !important;
        flex-direction: row !important;
        height: 45px !important;
        width:300px !important;
        .btn-padrao__text {
            font-size: 12px !important;
        }

        .btn-padrao__perfil-icon {
            width: 25px !important;
            height: 25px !important;

        }
    }
}