<div class="side-container">
  <div class="side-container__list w-100">
    <div class="d-flex dashboard ms-auto me-auto">
      <div class="logo">
        <img
          src="../../../../assets/logos/logo-adm-portal-itaberaba.svg"
          alt=""
        />
      </div>
      <div
        routerLink="/adm/dashboard-administrativo"
        class="btn-padrao__hover button-acessos w-100"
      >
        <span class="btn-padrao__perfil-icon"></span>
        <span class="btn-padrao__text text-uppercase">Trocar Órgão</span>
      </div>
    </div>
  </div>
</div>
