<div class="side-container">
  <div class="side-container__list buttons">
    <div class="d-flex dashboard">
      <a
        routerLink="/adm/dashboard-administrativo"
        class="btn-padrao__hover button-acessos"
      >
        <div class="btn-padrao__perfil-icon"></div>
        <div class="btn-padrao__text">Dashboard</div>
      </a>
    </div>

    <div class="dashboard-content">
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <div class="btn-padrao__hover button-acessos">
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Cadastrar</div>
          </div>
        </mat-expansion-panel-header>
        <div class="sub-menu-item">
          <a
            routerLink="/adm/cadastrar-cliente"
            class="btn-padrao__hover button-acessos"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Cliente</div>
          </a>
          <a
            routerLink="/adm/cadastrar-usuario"
            class="btn-padrao__hover button-acessos"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Usuário</div>
          </a>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <div class="btn-padrao__hover button-acessos">
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Diário Oficial</div>
          </div>
        </mat-expansion-panel-header>
        <div class="sub-menu-item">
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/diario-oficial-administrativo/publicar"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Publicar</div>
          </a>
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/diario-oficial-administrativo/gerenciar"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Gerenciar</div>
          </a>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <div class="btn-padrao__hover button-acessos">
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">PNCP</div>
          </div>
        </mat-expansion-panel-header>
        <div class="sub-menu-item">
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/pncp-administrativo/orgaos"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Orgãos</div>
          </a>
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/pncp-administrativo/unidades"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Unidades</div>
          </a>
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/pncp-administrativo/licitacoes"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Licitações</div>
          </a>
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/pncp-administrativo/contratos"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Contratos</div>
          </a>
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/pncp-administrativo/pca"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">PCA</div>
          </a>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <div class="btn-padrao__hover button-acessos">
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Portal de Transparência</div>
          </div>
        </mat-expansion-panel-header>
        <div class="sub-menu-item">
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/atas-sessao-administrativo"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Ata das Sessões</div>
          </a>
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/atos-admissionais-administrativo"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Atos Admissionais</div>
          </a>
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/audiencia-publica-administrativo"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Audiência Pública</div>
          </a>
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/balanco-administrativo"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Balancete</div>
          </a>
          <a
            class="btn-padrao__hover button-acessos"
            routerLink="/adm/acesso-informacao-administrativo"
          >
            <div class="btn-padrao__perfil-icon"></div>
            <div class="btn-padrao__text">Outros</div>
          </a>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
