.side-container {
  background: #1f1f1f;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 5%;
    color: #fff;
    text-align: center;
    font-size: 20.526px;
    font-weight: 800;
    text-transform: uppercase;
  }

  &__list {
    width: 100%;
    a {
      margin: 20px 0;
    }

    .dashboard {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      margin-bottom: 15%;

      img {
        width: 100%;
      }
      .btn-padrao__hover {
        background-color: #383838 !important;
        border-radius: 4px;
        margin-top: 10px;

        .btn-padrao__perfil-icon {
          width: 7.003px;
          margin-right: 10px;
          height: 9.458px;
          background-size: cover;
          background-image: url("../../../../assets/icons/perfil-icon-branco.svg") !important;
        }

        .btn-padrao__text {
          color: #fff;
          font-size: 7px;
          font-weight: 600;
          line-height: 8.57px;
          text-align: center;
        }
      }

      &__hover:hover {
        background-color: #fff;
      }
    }
  }
}

.buttons-sidebar {
  width: 100%;

  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 15px;
      cursor: pointer;
      transition: background-color 0.3s;

      color: #e6e6e6;
      font-size: 8.537px;
      font-style: normal;
      font-weight: 700;
      line-height: 122.487%;
      text-transform: uppercase;

      &:hover {
        background-color: #444;
      }

      mat-icon {
        margin-right: 10px;
        color: #fff !important;
      }

      .menu-title {
        flex-grow: 1;
        text-transform: uppercase;
        font-size: 8.537px;
      }

      .menu-arrow {
        transition: transform 0.3s;
        color: #fff;

        &.expanded {
          transform: rotate(90deg);
        }
      }
    }

    .submenu {
      list-style-type: none;
      padding: 0 15px;
      margin: 0;

      span {
        color: #e6e6e6;
        font-size: 8.537px;
        font-style: normal;
        font-weight: 700;
        line-height: 122.487%; /* 10.457px */
        text-transform: uppercase;
      }
      li {
        cursor: pointer;
        padding: 10px 0;
        mat-icon {
          color: #fff;
        }
        a {
          color: #fff;
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;
          display: block;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .active {
      background-color: #44444457;

      .submenu {
        display: block;
      }
    }
  }
}
.dashboard-button {
  display: flex;
  height: 26px;
  padding-left: 20px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  background: #e6e6e6;
  border-radius: 0;
  margin-bottom: 15%;
  .btn-padrao__perfil-icon {
    background-image: url("../../../../assets/icons/perfil-icon-preto.svg") !important;
    width: 10.016px;
    height: 11.837px;
    background-size: contain;
  }
  .btn-padrao__text {
    color: #1f1f1f;
    font-size: 8.537px;
    font-style: normal;
    font-weight: 700;
    line-height: 122.487%; /* 10.457px */
    text-transform: uppercase;
  }
}
.dashboard-button:hover {
  background: #e6e6e6;
}
