.side-container {
  background: #272727;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .side-container__title {
    margin-top: 50px;
    color: #fff;
    text-align: center;
    font-size: 20.526px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .side-container__list {
    a {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .dashboard-content {
      margin-top: 10vh;
    }
    @media (max-width: 768px) {
      .dashboard-content {
        margin-top: 0px;
      }
    }
    .dashboard {
      margin-top: 15%;

      .btn-padrao__hover {
        background-color: #fff;
        border-radius: 10px;
        width: calc(100vw / 7);

        .btn-padrao__perfil-icon {
          width: 25.003px;
          height: 25.458px;
          background-size: cover;
          background-image: url("../../../../assets/icons/perfil-icon-preto.svg");
        }

        .btn-padrao__text {
          text-align: center;
          font-size: 13.638px;
          font-style: normal;
          font-weight: 700;
          color: #000;
          white-space: normal;
        }
      }
      .btn-padrao__hover:hover {
        background-color: #fff;
      }
    }
    @media (max-width: 767px) {
      .dashboard {
        width: 100%;
        display: flex;
        .btn-padrao__hover {
          margin-left: auto;
          margin-right: auto;
          width: 215px;
        }
      }
      .mat-expansion-panel {
        width: calc(100vw / 2);
      }
    }
    @media (width: 768px) {
      .dashboard {
        .btn-padrao__hover {
          width: calc(100vw / 5);
        }
      }
      .mat-expansion-panel {
        width: calc(100vw / 5);
      }
    }

    .button-acessos {
      &.active {
        border-radius: 20.457px;
        background: #2e2e2e;
        display: flex;
        width: 185.475px;
        height: 133.651px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 9.546px;
        flex-shrink: 0;
        pointer-events: none;

        .btn-padrao__perfil-icon {
          filter: invert(1);
          opacity: 0.7;
        }

        .btn-padrao__text {
          color: #8b8a8a;
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn-padrao__hover {
      width: 185.838px;
      height: 40px;
      max-height: 100%;
      padding: 12.493px;
      gap: 10px;
      justify-content: flex-start;
      display: flex;
      background-color: transparent;

      .btn-padrao__perfil-icon {
        width: 25.003px;
        height: 25.458px;
        background-size: cover;
        background-image: url("../../../../assets/icons/perfil-icon-branco.svg");
      }

      .btn-padrao__text {
        text-align: center;
        font-size: 13.638px;
        font-style: normal;
        font-weight: 700;
        color: #fff;
        white-space: normal;
      }
    }
    .btn-padrao__hover:hover {
      background-color: transparent;
      border-radius: 0px;
      border: none;
    }
  }
  @media (max-width: 768px) {
    .buttons {
      margin-bottom: 10px;
    }
  }
}

.mat-expansion-panel {
  background-color: transparent;
  width: calc(100vw / 7);
  margin-left: auto;
  margin-right: auto;
  .mat-expansion-panel-header {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid gray;
    border-radius: 0px;
    padding-left: 0;
  }
  .mat-expansion-panel-header:last-child {
    border-bottom: 0px solid transparent;
  }
  .btn-padrao__text {
    font-size: 13.64px;
    font-weight: 700;
    line-height: 16.7px;
    text-align: left;
  }
}
.mat-expansion-panel:hover {
  background-color: initial;
}
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  background-color: initial;
}
