<div class="bkg-administrativo">
  <div class="bkg-dashboard">
    <div class="">
      <div class="row altura">
        <div class="w-esq-side">
          <app-sidebar-administrativo></app-sidebar-administrativo>
        </div>
        <div class="w-dir-main">
          <div class="dashboard-header">
            <app-navbar></app-navbar>
          </div>
          <div class="container-fluid">
            <div class="ms-4 bg-pagina-interna">
              <h1 class="pagina-interna mt-2">Dados da Licitação</h1>
              <div class="d-flex justify-content-start">
                <p class="text-left">
                  Antes de enviar, certifique-se de que todas as informações<br />
                  preenchidas nos campos abaixo estão corretas!
                </p>
                <div
                  class="button-voltar ms-3 d-flex justify-content-center align-items-center"
                >
                  <mat-icon>arrow_back</mat-icon> Voltar
                </div>
              </div>
              <div class="formulario-component novo-formulario">
                <h1 class="pagina-form mb-4">Cadastrar Licitação</h1>

                <!-- Formulário -->
                <form [formGroup]="filtroForm" (ngSubmit)="onFormSubmit()">
                  <!-- Dados da Licitação -->
                  <div class="form-section">
                    <div class="form-row">
                      <div>
                        <label for="agency">Órgão da Licitação</label>
                        <select id="agency" formControlName="agency">
                          <option value="" disabled selected>
                            Selecione um órgão
                          </option>
                          <option
                            *ngFor="let option of agencyOptions"
                            [ngValue]="option"
                          >
                            {{ option.label }}
                          </option>
                        </select>
                      </div>

                      <div>
                        <label for="unit_id">Unidades Compradora</label>
                        <select id="unit_id" formControlName="unit_id">
                          <option value="" disabled selected>
                            Selecione uma unidade
                          </option>
                          <option
                            *ngFor="let option of unitOptions"
                            [ngValue]="option.value"
                          >
                            {{ option.key }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-row">
                      <div>
                        <label for="document_title">Título do Documento</label>
                        <input
                          id="document_title"
                          type="text"
                          formControlName="document_title"
                        />
                      </div>
                      <div>
                        <label for="document_type_id">Tipo de Documento</label>
                        <select
                          id="document_type_id"
                          formControlName="document_type_id"
                        >
                          <option></option>

                          <option
                            *ngFor="let option of documentTypeOptions"
                            [ngValue]="option.value"
                          >
                            {{ option.key }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-row">
                      <div>
                        <label for="call_instrument_id"
                          >Tipo de Instrumento Convocatório</label
                        >
                        <select
                          id="call_instrument_id"
                          formControlName="call_instrument_id"
                        >
                          <option></option>

                          <option
                            *ngFor="let option of callInstrumentOptions"
                            [ngValue]="option.value"
                          >
                            {{ option.key }}
                          </option>
                        </select>
                      </div>
                      <div>
                        <label for="contracting_modality_id"
                          >Modalidade de Contratação</label
                        >
                        <select
                          id="contracting_modality_id"
                          formControlName="contracting_modality_id"
                        >
                          <option></option>
                          <option
                            *ngFor="let option of modalidadeContratoOpcoes"
                            [ngValue]="option.value"
                          >
                            {{ option.key }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-row">
                      <div>
                        <label for="dispute_mode_id">Modo de Disputa</label>
                        <select
                          id="dispute_mode_id"
                          formControlName="dispute_mode_id"
                        >
                          <option></option>

                          <option
                            *ngFor="let option of modoDisputaOpcoes"
                            [ngValue]="option.value"
                          >
                            {{ option.key }}
                          </option>
                        </select>
                      </div>
                      <div>
                        <label for="legal_basic_id">Âmparo Legal</label>
                        <select
                          id="legal_basic_id"
                          formControlName="legal_basic_id"
                        >
                          <option></option>

                          <option
                            *ngFor="let option of legalBasicOptions"
                            [ngValue]="option.value"
                          >
                            {{ option.key }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="">
                        <label for="file">Documento da Licitação</label>
                        <div class="">
                          <label class="file-label" for="file">
                            <span *ngIf="!selectedFiles"
                              >Selecionar Arquivo</span
                            >
                            <span *ngIf="selectedFiles">{{
                              selectedFiles
                            }}</span>
                          </label>
                          <input
                            id="file"
                            type="file"
                            formControlName="file"
                            (change)="onFileSelected($event, 'file')"
                          />
                        </div>
                        <p class="file-instructions">
                          Tipos permitidos:
                          <strong>PDF</strong>
                        </p>
                      </div>
                      <div>
                        <input
                          id="agency_country_register"
                          type="hidden"
                          formControlName="agency_country_register"
                          [disabled]="true"
                        />
                      </div>
                    </div>

                    <div class="form-row">
                      <div>
                        <label for="number">Número da Compra</label>
                        <input
                          id="number"
                          type="text"
                          formControlName="number"
                        />
                      </div>
                      <div>
                        <label for="year">Ano da Compra</label>
                        <input id="year" type="number" formControlName="year" />
                      </div>
                    </div>

                    <div class="form-row">
                      <div>
                        <label for="process_number">Número do Processo</label>
                        <input
                          id="process_number"
                          type="text"
                          formControlName="process_number"
                        />
                      </div>
                      <div>
                        <label for="goals">Objeto da Compra</label>
                        <textarea id="goals" formControlName="goals"></textarea>
                      </div>
                    </div>

                    <div class="form-row">
                      <div>
                        <label for="additional_information"
                          >Informação Complementar</label
                        >
                        <textarea
                          id="additional_information"
                          formControlName="additional_information"
                        ></textarea>
                      </div>
                      <div>
                        <label for="opening_date_proposal"
                          >Data da Abertura da Proposta</label
                        >
                        <input
                          id="opening_date_proposal"
                          type="date"
                          formControlName="opening_date_proposal"
                        />
                      </div>
                    </div>

                    <div class="form-row">
                      <div>
                        <label for="closing_date_proposal"
                          >Data do Encerramento da Proposta</label
                        >
                        <input
                          id="closing_date_proposal"
                          type="date"
                          formControlName="closing_date_proposal"
                        />
                      </div>
                      <div class="switch-wrapper">
                        <label for="srp"
                          >Compra do Sistema de Registro de Preços?</label
                        >
                        <label class="switch">
                          <input
                            id="srp"
                            type="checkbox"
                            formControlName="srp"
                          />
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <!-- Itens da Licitação -->
                  <div class="form-section">
                    <h2 class="section-title">
                      Itens da Licitação
                      <span
                        class="toggle-icon"
                        [class.open]="showItems"
                        (click)="toggleItemsSection()"
                        >+</span
                      >
                    </h2>
                    <div
                      [class.hidden]="!showItems"
                      class="content"
                      formGroupName="items"
                    >
                      <!-- Primeira linha -->
                      <div class="form-row">
                        <div>
                          <label for="item_category_id"
                            >Categoria do Item *</label
                          >
                          <select
                            id="item_category_id"
                            formControlName="item_category_id"
                          >
                            <option></option>

                            <option
                              *ngFor="let option of itemCategoriaEnum"
                              [ngValue]="option.value"
                            >
                              {{ option.key }}
                            </option>
                          </select>
                        </div>
                        <div>
                          <label for="confidential_budget"
                            >Orçamento Sigiloso?*</label
                          >
                          <div class="switch-wrapper">
                            <label class="switch">
                              <input
                                id="confidential_budget"
                                type="checkbox"
                                formControlName="confidential_budget"
                              />
                              <span></span>
                            </label>
                          </div>
                        </div>
                      </div>

                      <!-- Segunda linha -->
                      <div class="form-row">
                        <div>
                          <label for="item_type">Tipo de Benefício *</label>
                          <select id="item_type" formControlName="benefit_type_id">
                            <option></option>

                            <option
                              *ngFor="let option of beneficiosEnum"
                              [ngValue]="option.value"
                            >
                              {{ option.key }}
                            </option>
                          </select>
                        </div>
                        <div>
                          <label for="judging_criteria_id"
                            >Critério de Julgamento *</label
                          >
                          <select
                            id="judging_criteria_id"
                            formControlName="judging_criteria_id"
                          >
                            <option></option>

                            <option
                              *ngFor="let option of criterioDeJulgamentoEnum"
                              [ngValue]="option.value"
                            >
                              {{ option.key }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <!-- Terceira linha -->
                      <div class="form-row">
                        <div>
                          <label for="description">Descrição do Item *</label>
                          <textarea
                            id="description"
                            formControlName="description"
                            maxlength="2048"
                            placeholder="Descrição do item"
                          ></textarea>
                        </div>
                      </div>

                      <div class="form-row">
                        <div>
                          <label for="description">Justificativa da compra presencial *</label>
                          <textarea
                            id="description"
                            formControlName="justification_in_person"
                            maxlength="2048"
                            placeholder="Descrição do item"
                          ></textarea>
                        </div>
                      </div>
                      <div class="form-row">
                        <div>
                          <label
                            >Aplicabilidade da Margem de Preferência
                            Normal</label
                          >
                          <div class="switch-wrapper">
                            <label class="switch">
                              <input
                                id="applicability_normal_preference_margin"
                                type="checkbox"
                                formControlName="applicability_normal_preference_margin"
                              />
                              <span></span>
                            </label>
                          </div>
                        </div>
                        <div>
                          <label>Incentivo fiscal PPB (Processo Produtivo Básico)</label
                          >
                          <div class="switch-wrapper">
                            <label class="switch">
                              <input
                                id="applicability_normal_preference_margin"
                                type="checkbox"
                                formControlName="basic_productive_incentive"
                              />
                              <span></span>
                            </label>
                          </div>
                        </div>
                        <div>
                          <label
                            >Aplicabilidade da Margem de Preferência
                            Adicional</label
                          >
                          <div class="switch-wrapper">
                            <label class="switch">
                              <input
                                id="applicability_additional_preference_margin"
                                type="checkbox"
                                formControlName="applicability_additional_preference_margin"
                              />
                              <span></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <!-- Quarta linha -->
                      <div class="form-row">
                        <div>
                          <label for="quantity">Quantidade</label>
                          <input
                            id="quantity"
                            type="number"
                            formControlName="quantity"
                            placeholder="Quantidade"
                          />
                        </div>
                        <div>
                          <label for="item_type">Material ou Serviço? *</label>
                          <select id="item_type" formControlName="item_type">
                            <option></option>
                            <option
                              *ngFor="let option of materialOuServicoEnum"
                              [ngValue]="option.value"
                            >
                              {{ option.key }}
                            </option>
                          </select>
                        </div>
                        <div>
                          <label for="unit_of_measurement"
                            >Unidade de Medida *</label
                          >
                          <select
                            id="unit_of_measurement"
                            formControlName="unit_of_measurement"
                          >
                            <option></option>

                            <option
                              *ngFor="let option of unidadeDeMedidaEnum"
                              [ngValue]="option.value"
                            >
                              {{ option.key }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <!-- Quinta linha -->
                      <div class="form-row">
                        <div>
                          <label for="estimated_unit_value"
                            >Valor Unitário Estimado *</label
                          >
                          <input
                            id="estimated_unit_value"
                            type="number"
                            formControlName="estimated_unit_value"
                            placeholder="R$ 0,00"
                          />
                        </div>
                        <div>
                          <label for="total_value">Valor Total *</label>
                          <input
                            id="total_value"
                            type="number"
                            formControlName="total_value"
                            placeholder="R$ 0,00"
                          />
                        </div>
                      </div>

                      <!-- Sexta linha -->
                      <div class="form-row">
                        <div>
                          <label for="assets">Patrimônio</label>
                          <input
                            id="assets"
                            type="text"
                            formControlName="assets"
                            placeholder="Patrimônio"
                          />
                        </div>
                        <div>
                          <label for="real_estate_registry_code"
                            >Código Registro Imobiliário</label
                          >
                          <input
                            id="real_estate_registry_code"
                            type="text"
                            formControlName="real_estate_registry_code"
                            placeholder="Código Registro Imobiliário"
                          />
                        </div>
                      </div>

                      <!-- Sétima linha -->
                      <div class="form-row">
                        <div>
                          <label for="normal_preference_margin_percentage">
                            Percentual da Margem de Preferência Normal (%)
                          </label>
                          <input
                            id="normal_preference_margin_percentage"
                            type="number"
                            formControlName="normal_preference_margin_percentage"
                            placeholder="Percentual da Margem"
                          />
                        </div>
                        <div>
                          <label for="additional_preference_margin_percentage">
                            Percentual da Margem de Preferência Adicional (%)
                          </label>
                          <input
                            id="additional_preference_margin_percentage"
                            type="number"
                            formControlName="additional_preference_margin_percentage"
                            placeholder="Percentual da Margem"
                          />
                        </div>
                      </div>

                      <!-- Oitava linha -->
                      <div class="form-row">
                        <div>
                          <label for="ncm_nbs_code">Código NCM/NBS</label>
                          <input
                            id="ncm_nbs_code"
                            type="text"
                            formControlName="ncm_nbs_code"
                            placeholder="Código NCM/NBS"
                          />
                        </div>
                        <div>
                          <label for="ncm_nbs_description"
                            >Descrição NCM/NBS</label
                          >
                          <textarea
                            id="ncm_nbs_description"
                            formControlName="ncm_nbs_description"
                            maxlength="2048"
                            placeholder="Descrição NCM/NBS"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Botão de Envio -->
                  <button type="submit" class="btn bg-dark text-white">
                    Salvar
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
