<div class="mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <div>
      <h5>Licitações</h5>
      <small>Lista de licitações cadastradas</small>
    </div>
    <button
      [relativeTo]="route.parent"
      routerLink="cadastrar-licitacao"
      class="btn btn-adm-adicionar ms-2"
      aria-label="Adicionar nova licitação"
    >
      <mat-icon>add</mat-icon> Adicionar Licitação
    </button>
  </div>

  <div class="container-fluid">
    <div class="filtro-row mb-4">
      <form
        [formGroup]="filtersForm"
        (ngSubmit)="applyFilters()"
        class="d-flex flex-wrap align-items-end gap-3"
      >
        <div class="flex-grow-1">
          <label for="processo" class="form-label">N° do Processo</label>
          <input
            id="processo"
            type="text"
            class="form-control"
            placeholder="Digite o número"
            formControlName="number"
          />
        </div>

        <div class="flex-grow-1" style="max-width: 120px">
          <label for="ano" class="form-label">Ano</label>
          <input
            id="ano"
            type="text"
            class="form-control"
            placeholder="Digite o ano"
            formControlName="year"
          />
        </div>

        <div class="flex-grow-1">
          <label for="contracting_modality_id" class="form-label"
            >Modalidade</label
          >
          <select
            id="contracting_modality_id"
            class="form-control"
            formControlName="contracting_modality_id"
          >
            <option value="" selected>Todos</option>
            <option
              *ngFor="let modalidade of modalidadeContratoOpcoes"
              [value]="modalidade.value"
            >
              {{ modalidade.key }}
            </option>
          </select>
        </div>

        <div class="flex-grow-1">
          <label for="agency_country_register" class="form-label">Órgão</label>
          <select
            id="agency_country_register"
            class="form-control"
            formControlName="agency_country_register"
          >
            <option value="" selected>Todos</option>
            <option
              *ngFor="let orgao of orgaos"
              [value]="orgao.country_register"
            >
              {{ orgao.name }}
              <!-- Exibe o nome do órgão -->
            </option>
          </select>
        </div>

        <div>
          <button
            type="submit"
            class="btn btn-primary"
            aria-label="Filtrar licitações"
          >
            Filtrar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table-editada mb-0">
      <thead>
        <tr>
          <th scope="col">Nº Seq</th>
          <th scope="col">Licitação nº</th>
          <th scope="col">Nº Compra</th>
          <th scope="col">Ano</th>
          <th scope="col">Nº Processo</th>
          <th scope="col">Órgão</th>
          <th scope="col">Unidade</th>
          <th scope="col">Criado em</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dataSource.data">
          <td>{{ element.gateway_sequence }}</td>
          <td>{{ element.process_number }}/{{ element.year }}</td>
          <td>{{ element.number }}</td>
          <td>{{ element.year }}</td>
          <td>{{ element.process_number }}</td>
          <td>{{ element.agency.name }}</td>
          <td>{{ element.unit.name }}</td>
          <td>{{ element.created_at | date : "dd/MM/yyyy, HH:mm" }}</td>
          <td>
            <div class="d-flex justify-content-evenly gap-2 py-1">
              <div class="d-flex flex-column align-items-center">
                <a
                  (click)="irParaPncp(1)"
                  class="btn-visualizar btn-format d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../../../../../assets/icons/visualizar-adm-icon.svg"
                    alt="Visualizar"
                  />
                </a>
                <span class="mt-1 legenda-icons">Visualizar</span>
              </div>

              <div class="d-flex flex-column align-items-center">
                <a
                  class="btn-edit btn-format d-flex justify-content-center align-items-center"
                  [relativeTo]="route.parent"
                  [routerLink]="['editar-licitacoes', element.id]"
                >
                  <img
                    src="../../../../../assets/icons/edit-icon-adm.svg"
                    alt="Editar"
                  />
                </a>
                <span class="mt-1 legenda-icons">Editar</span>
              </div>

              <div class="d-flex flex-column align-items-center">
                <a
                  [relativeTo]="route.parent"
                  [routerLink]="['itens-licitacoes', element.id]"
                  class="btn-itens btn-format d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../../../../../assets/icons/itens-adm-icon.svg"
                    alt="Itens"
                  />
                </a>
                <span class="mt-1 legenda-icons">Itens</span>
              </div>

              <div class="d-flex flex-column align-items-center">
                <a
                  (click)="openArquivosDialog(element)"
                  class="btn-arquivo btn-format d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../../../../../assets/icons/arquivo-adm-icon.svg"
                    alt="Arquivos"
                  />
                </a>
                <span class="mt-1 legenda-icons">Arquivos</span>
              </div>

              <div class="d-flex flex-column align-items-center">
                <a
                  [relativeTo]="route.parent"
                  [routerLink]="['atas-licitacoes', element.id]"
                  class="btn-atas btn-format d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../../../../../assets/icons/atas-adm-icon.svg"
                    alt="Atas"
                  />
                </a>
                <span class="mt-1 legenda-icons">Atas</span>
              </div>

              <div class="d-flex flex-column align-items-center">
                <button
                  class="btn-remove btn-format d-flex justify-content-center align-items-center"
                  (click)="openDeleteModal(element, deleteModal)"
                >
                  <img
                    src="../../../../../assets/icons/remove-icon.svg"
                    alt="Deletar"
                  />
                </button>
                <span class="mt-1 legenda-icons">Excluir</span>
              </div>

              <ng-template #deleteModal>
                <div class="modal-header">
                  <h5 class="modal-title text-danger">
                    <mat-icon>warning</mat-icon> Atenção!
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modalRef?.hide()"
                  ></button>
                </div>
                <div class="modal-body">
                  <p class="fw-bold">
                    Deseja realmente excluir a licitação
                    {{ selectedLicitacao?.number }}/{{
                      selectedLicitacao?.year
                    }}?
                  </p>
                  <form [formGroup]="deleteForm">
                    <label for="justification" class="form-label fw-bold">
                      Informe o motivo da exclusão da licitação:
                      {{ selectedLicitacao?.number }}/{{
                        selectedLicitacao?.year
                      }}:
                    </label>
                    <textarea
                      id="justification"
                      class="form-control"
                      formControlName="justification"
                      placeholder="Motivo da exclusão da licitação"
                    ></textarea>
                    <div
                      *ngIf="
                        deleteForm.controls['justification'].invalid &&
                        deleteForm.controls['justification'].touched
                      "
                      class="text-danger mt-1"
                    >
                      O motivo da exclusão é obrigatório.
                    </div>
                  </form>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                  <button
                    type="button"
                    class="btn btn-danger"
                    [disabled]="deleteForm.invalid"
                    (click)="confirmDelete()"
                  >
                    Excluir
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="modalRef?.hide()"
                  >
                    Fechar
                  </button>
                </div>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="bkg-bottom d-flex justify-content-end align-items-center">
    <span class="resultado me-3">{{ dataSource.data.length }} resultados</span>
    <nav aria-label="Paginação">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link"
            (click)="goToPage(1)"
            aria-label="Primeira página"
          >
            &laquo;&laquo;
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link"
            (click)="goToPreviousPage()"
            aria-label="Página anterior"
          >
            &laquo;
          </a>
        </li>
        <li class="page-item active">
          <span class="page-link" aria-current="page">
            {{ currentPage }} / {{ totalPages }}
          </span>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a
            class="page-link"
            (click)="goToNextPage()"
            aria-label="Próxima página"
          >
            &raquo;
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a
            class="page-link"
            (click)="goToPage(totalPages)"
            aria-label="Última página"
          >
            &raquo;&raquo;
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
