<div class="slider-container">
  <div class="slider">
    <div class="slides" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
      <div class="slide" *ngFor="let slide of slides">
        <img [src]="slide.image_url" alt="{{slide.title}}">
        <div class="caption">
          <h2>{{ slide.title }}</h2>
          <p>{{ slide.content | slice:0:200 }}...</p>
          <a [routerLink]="['/noticias', slide.slug]" class="btn">Ler Notícia Completa</a>
        </div>
      </div>
    </div>
  </div>
  <div class="thumbnails">
    <div class="thumbnail">
      <ng-container *ngFor="let slide of slides; let i = index">
        <img [src]="slide.image_url" [class.active]="i === currentSlide" alt="{{ slide.title }}" (click)="setSlide(i)">
      </ng-container>
    </div>
  </div>
</div>
