<div class="mt-4">
  <h3 class="mb-3">Termos de Contrato</h3>
  <small>Lista de termos cadastrados</small>

  <div class="action-button text-end mb-3 justify-content-end d-flex">
    <button
      class="btn btn-dark d-flex justify-content-center align-items-center"
      [relativeTo]="route.parent"
      [routerLink]="['adicionar-termos', contratoId]"
    >
      <mat-icon>add</mat-icon> Adicionar Novo Item
    </button>
  </div>

  <!-- Tabela de Termos -->
  <div class="table-responsive">
    <table class="table-editada table-bordered">
      <thead>
        <tr>
          <th>Nº Seq</th>
          <th>Termo</th>
          <th>Contrato PNCP Nº</th>
          <th>Criado em</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of combinedTerms; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.number }}</td>
          <td>
            {{ item.contract_number || "-" }}/{{ item.contract_year || "-" }}
          </td>
          <td>{{ item.created_at | date : "dd/MM/yyyy" }}</td>
          <td class="text-center">
            <div class="d-flex justify-content-center gap-3 py-1">
              <div
                class="d-flex flex-column align-items-center"
                (click)="visualizar(item)"
              >
                <a
                  class="btn-visualizar btn-format cup mt-0 d-flex justify-content-center align-items-center"
                  matTooltip="Visualizar"
                >
                  <img
                    src="../../../../../assets/icons/visualizar-adm-icon.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Visualizar</span>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a
                  class="btn-edit btn-format cup mt-0 d-flex justify-content-center align-items-center"
                  matTooltip="Editar"
                  [relativeTo]="route.parent"
                  [routerLink]="[
                    'editar-termos',
                    item.id
                  ]"
                >
                  <img
                    src="../../../../../assets/icons/edit-icon-adm.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Editar</span>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a
                  class="btn-arquivo btn-format cup mt-0 d-flex justify-content-center align-items-center"
                  (click)="openFilesModal(item, templateFiles)"
                  matTooltip="Arquivos"
                >
                  <img
                    src="../../../../../assets/icons/arquivo-adm-icon.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Arquivos</span>
              </div>

              <div
                class="d-flex flex-column align-items-center"
                (click)="openDeleteModal(item, deleteModal)"
              >
                <a
                  class="btn btn-sm btn-format btn-remove"
                  matTooltip="Deletar"
                >
                  <img
                    src="../../../../../assets/icons/remove-icon.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Deletar</span>
              </div>
              <ng-template #deleteModal>
                <div class="modal-header">
                  <h5 class="modal-title text-danger">
                    <mat-icon>warning</mat-icon> Atenção!
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modalRef?.hide()"
                  ></button>
                </div>
                <div class="modal-body">
                  <p class="fw-bold">
                    Deseja realmente excluir a licitação
                    {{ item?.number }}/{{ item?.year }}?
                  </p>
                  <form [formGroup]="deleteForm">
                    <label for="justification" class="form-label fw-bold">
                      Informe o motivo da exclusão da licitação:
                      {{ item?.number }}/{{ item?.year }}:
                    </label>
                    <textarea
                      id="justification"
                      class="form-control"
                      formControlName="justification"
                      placeholder="Motivo da exclusão da licitação"
                    ></textarea>
                    <div
                      *ngIf="
                        deleteForm.controls['justification'].invalid &&
                        deleteForm.controls['justification'].touched
                      "
                      class="text-danger mt-1"
                    >
                      O motivo da exclusão é obrigatório.
                    </div>
                  </form>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                  <button
                    type="button"
                    class="btn btn-danger"
                    [disabled]="deleteForm.invalid"
                    (click)="confirmDelete()"
                  >
                    Excluir
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="modalRef?.hide()"
                  >
                    Fechar
                  </button>
                </div>
              </ng-template>
            </div>
          </td>
        </tr>

        <tr *ngIf="termos.length === 0 && !isLoading">
          <td colspan="8" class="text-center text-muted">
            Nenhum termo encontrado.
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginação -->
  <div class="d-flex justify-content-end gap-2 align-items-center mt-3">
    <button
      class="btn btn-secondary"
      (click)="goToPage(1)"
      [disabled]="currentPage === 1"
    >
      &laquo;&laquo;
    </button>
    <button
      class="btn btn-secondary"
      (click)="goToPreviousPage()"
      [disabled]="currentPage === 1"
    >
      &laquo;
    </button>

    <span>{{ currentPage }} de {{ totalPages }}</span>

    <button
      class="btn btn-secondary"
      (click)="goToNextPage()"
      [disabled]="currentPage === totalPages"
    >
      &raquo;
    </button>
    <button
      class="btn btn-secondary"
      (click)="goToPage(totalPages)"
      [disabled]="currentPage === totalPages"
    >
      &raquo;&raquo;
    </button>
  </div>
</div>

<!-- Modal Template -->
<ng-template #templateFiles>
  <div class="modal-header bg-dark">
    <h5 class="modal-title text-white">Arquivos do Contrato</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef?.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-start align-items-center gap-4 mb-4">
      <div>
        <strong>Contrato PNCP Nº</strong>: {{ selectedContrato?.number }}/{{
          selectedContrato?.year
        }}
      </div>
      <div><strong>Termo</strong>: {{ selectedTerm?.number }}</div>
    </div>
    <form [formGroup]="fileForm" (ngSubmit)="onSubmitFile()">
      <div class="row">
        <!-- Campo Título do Documento -->
        <div class="col-md-6">
          <label for="document_title" class="form-label"
            >Título do Documento *</label
          >
          <input
            type="text"
            id="document_title"
            class="form-control"
            formControlName="document_title"
            required
          />
        </div>

        <!-- Campo Tipo de Documento -->
        <div class="col-md-6">
          <label class="form-label">Tipo de Documento *</label>
          <select
            class="form-select"
            formControlName="document_type_id"
            required
          >
            <option value="" disabled selected>Selecionar</option>
            <option *ngFor="let tipo of tiposDocumentos" [ngValue]="tipo.value">
              {{ tipo.key }}
            </option>
          </select>
        </div>
      </div>

      <!-- Campo Arquivo -->
      <div class="row mt-3">
        <div class="col-md-12">
          <label for="file" class="form-label">Documento *</label>
          <input
            type="file"
            id="file"
            class="form-control"
            (change)="onFileChangeTermos($event)"
            required
          />
        </div>
      </div>

      <!-- Botão de Submissão -->
      <div class="row mt-3">
        <div class="col-md-12">
          <button
            type="submit"
            class="btn btn-dark"
            [disabled]="fileForm.invalid"
          >
            Adicionar
          </button>
        </div>
      </div>
    </form>

    <table class="table table-striped mt-3" *ngIf="files && files.length > 0">
      <thead>
        <tr>
          <th>Arquivo</th>
          <th>Titulo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ file.label }}</td>
          <td>{{ file.document_title }}</td>
          <td>
            <!-- Botão de Visualizar -->
            <a
              [href]="file.gateway_location"
              target="_blank"
              class="btn btn-sm btn-primary me-2"
              matTooltip="Visualizar"
            >
              <mat-icon>visibility</mat-icon>
            </a>
            <!-- Botão de Remover -->
            <button
              class="btn btn-sm btn-danger"
              (click)="openDeleteArquivosModal(file, deleteModalArquivos)"
              matTooltip="Remover"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!files || files.length === 0" class="text-center mt-3">
      <p class="text-muted">Não há arquivos disponíveis.</p>
    </div>
  </div>
</ng-template>

<ng-template #deleteModalArquivos>
  <div class="modal-header">
    <h5 class="modal-title text-danger">
      <mat-icon>warning</mat-icon> Atenção!
    </h5>
    <button
      type="button"
      class="btn-close text-white"
      aria-label="Close"
      (click)="modalRef?.hide()"
    ></button>
  </div>

  <div class="modal-body">
    <p class="fw-bold">
      Deseja realmente excluir o arquivo
      <span class="text-danger">{{ selectedFileArquivo?.label }}</span
      >?
    </p>
    <form [formGroup]="deleteForm">
      <label for="justification" class="form-label fw-bold">
        Informe o motivo da exclusão do arquivo:
      </label>
      <textarea
        id="justification"
        class="form-control"
        formControlName="justification"
        placeholder="Motivo da exclusão do arquivo"
        rows="3"
      ></textarea>
      <div
        *ngIf="
          deleteForm.controls['justification'].invalid &&
          deleteForm.controls['justification'].touched
        "
        class="text-danger mt-1"
      >
        O motivo da exclusão é obrigatório.
      </div>
    </form>
  </div>

  <div class="modal-footer d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-danger"
      [disabled]="deleteForm.invalid"
      (click)="confirmDeleteArquivosTermos()"
    >
      Excluir
    </button>
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">
      Fechar
    </button>
  </div>
</ng-template>
