<div class="container mt-4">
  <h2>RESULTADOS DO ITEM</h2>
  <p class="text-muted">Lista de resultados cadastrados para a licitação</p>

  <!-- Botão para adicionar novo resultado -->
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-dark" (click)="openAddResultadoModal()">
      Adicionar novo resultado
    </button>
  </div>

  <!-- Informações do cabeçalho -->
  <div class="row mb-4">
    <div class="col">
      <strong>QUANTIDADE</strong>
      <p>{{ licitacao.quantity || 0 }}</p>
    </div>
    <div class="col">
      <strong>VALOR TOTAL</strong>
      <p>
        {{
          licitacao.estimated_unit_value | currency : "BRL" : "symbol" : "1.2-2"
        }}
      </p>
    </div>
  </div>

  <!-- Tabela de resultados -->
  <div class="table-responsive my-4">
    <table class="table-editada table-bordered">
      <thead>
        <tr>
          <th>Situação</th>
          <th>Fornecedor</th>
          <th>Quantidade</th>
          <th>Valor Total</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultado of resultados">
          <td>{{ resultado.status === 1 ? "Pendente" : "Inativo" }}</td>
          <td>{{ resultado.supplier_name_or_social_reason || "N/A" }}</td>
          <td>{{ resultado.quantity || 0 }}</td>
          <td>R$ {{ resultado.total_price }}</td>
          <td class="text-center">
            <button
              class="btn-format btn-remove border-0 ps-0 pe-0 ms-0 me-0"
              tooltip="Remover Item"
              (click)="deleteResultado(resultado.id)"
            >
              <img
                src="../../../../../assets/icons/remove-icon.svg"
                alt="Remover Publicação"
              />
            </button>
          </td>
        </tr>
        <tr *ngIf="resultados.length === 0">
          <td colspan="7" class="text-center text-muted">
            Nenhum resultado encontrado
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #addResultadoModal>
  <div class="modal-header bg-dark">
    <h5 class="modal-title text-white">Adicionar Novo Resultado</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <form class="form-itens-licitacao" [formGroup]="novoResultadoForm">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Quantidade Homologada *</label>
          <input
            type="number"
            class="form-control"
            formControlName="quantity"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Valor Unitário Homologado *</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="unit_price"
            mask="separator.2"
            thousandSeparator="."
            decimalMarker=","
            prefix="R$ "
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Valor Total Homologado *</label>
          <input
            type="text"
            class="form-control"
            formControlName="total_price"
            mask="separator.2"
            thousandSeparator="."
            decimalMarker=","
            prefix="R$ "
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Tipo de Pessoa *</label>
          <select class="form-select" formControlName="person_type">
            <option value="">Selecione</option>
            <option value="PJ">Pessoa Jurídica</option>
            <option value="PF">Pessoa Física</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >CNPJ/CPF ou Identificador da empresa estrangeira *</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="supplier_ni"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Nome ou razão social do fornecedor/arrematante *</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="supplier_name_or_social_reason"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Porte do fornecedor *</label>
          <select class="form-select" formControlName="supplier_size_id">
            <option value="">Não informado</option>
            <option value="1">Microempresa</option>
            <option value="2">Pequena empresa</option>
            <option value="3">Grande empresa</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Natureza Jurídica *</label>
          <select class="form-control" formControlName="legal_nature_id">
            <option value="" disabled selected>Selecione uma opção</option>
            <option
              *ngFor="let option of naturezaJuridicaOptions"
              [ngValue]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font">Código ISO do País *</label>
          <select class="form-control" formControlName="country_code">
            <option value="" disabled selected>Selecione um país</option>
            <option *ngFor="let pais of paisDeOrigem" [ngValue]="pais.id">
              {{ pais.label }}
            </option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Indicador de sub-contratação do item *</label
          >
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="subcontracting_indicator"
            />
            <label class="form-check-label">Sim</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Ordem de classificação do fornecedor *</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="srp_classification_order"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Porcentagem de desconto *</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="discount_percentage"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Data do resultado da homologação do item *</label
          >
          <input type="date" class="form-control" formControlName="date" />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Aplicação da Margem de Preferência *</label
          >
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="preference_margin_applicability"
            />
            <label class="form-check-label">Sim</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Amparo Legal para Margem de Preferência</label
          >
          <select
            class="form-control"
            formControlName="preference_margin_legal_basis"
          >
            <option value="" disabled selected>Selecione uma opção</option>
            <option
              *ngFor="let option of amparoParaMargem"
              [ngValue]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >País de Origem do Produto</label
          >
          <select class="form-control" formControlName="product_origin_country">
            <option value="" disabled selected>Selecione um país</option>
            <option *ngFor="let pais of paisDeOrigem" [ngValue]="pais.id">
              {{ pais.label }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Aplicação do Benefício ME/EPP *</label
          >
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="benefit_me_epp_applicability"
            />
            <label class="form-check-label">Sim</label>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Aplicação do Critério de Desempate *</label
          >
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="tiebreaker_criterion_applicability"
            />
            <label class="form-check-label">Sim</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Amparo Legal para Critério de Desempate</label
          >
          <select
            class="form-control"
            formControlName="tiebreaker_criterion_legal_basis"
          >
            <option value="" disabled selected>Selecione uma opção</option>
            <option
              *ngFor="let option of amparoParaDesempate"
              [ngValue]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Símbolo da Moeda Estrangeira</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="foreign_currency_symbol"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Data da Cotação da Moeda Estrangeira</label
          >
          <input
            type="date"
            class="form-control"
            formControlName="foreign_currency_exchange_date"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Fuso Horário da Cotação da Moeda Estrangeira</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="foreign_currency_timezone_offset"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label strong_font"
            >Valor Nominal da Moeda Estrangeira</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="foreign_currency_nominal_value"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">
      Cancelar
    </button>
    <button
      type="button"
      class="btn bg-dark text-white hover-sucesso"
      (click)="adicionarResultado()"
    >
      Salvar
    </button>
  </div>
</ng-template>
