.bkg-administrativo {
    color: #000;
    font-style: normal;
    line-height: 122.487%;
    text-align: center;

    .titulo {
        margin-top: 50px;
        font-size: 46.759px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .subtitulo {
        font-size: 15px;
        font-weight: 600;
    }

    .buttons {
        gap: 16px;
        flex-wrap: wrap;
        padding: 80px;
        .btn-padrao__hover {
            width: 185.838px;
            height: 133.838px;
            max-height: 100%;
            padding: 12.493px;
            justify-content: center;
            align-items: center;
            align-content: center;
            display: flex;
            flex-direction: column;
            gap: 16.104px;
            flex-shrink: 0;
            flex-wrap: wrap;

            .btn-padrao__perfil-icon {
                width: 30.003px;
                height: 35.458px;
                background-size: cover;
                background-image: url('../../../assets/icons/perfil-icon-preto.svg');

            }

            .btn-padrao__text {
                text-align: center;
                font-size: 13.638px;
                font-style: normal;
                font-weight: 700;
                color: #000;
                white-space: normal;

            }
        }

        .btn-padrao__hover:hover {
            background-color: #000;

            .btn-padrao__text {
                color: #fff;

            }

            .btn-padrao__perfil-icon {
                filter: invert(1);

            }
        }

    }
}