::ng-deep {
  app-forms {
    width: 100%;
  }
  .geral {
    display: none;
  }
  .footer {
    .borda-verde {
      display: none;
    }
    ul {
      li {
        border-bottom: 3px solid #55ff9f;
        width: max-content;
      }
    }
  }
  .dashboard-header {
    .geral {
      display: block;
    }
  }
  .logo-container {
    display: none !important;
  }
  .adm-class div.bkg-header {
    background-image: none !important;
    background-color: #cbcbcb !important ;
    padding: 0;
    .container-fluid {
      .pb-4 {
        padding-bottom: 0.5rem !important;
      }
    }
  }
  .text-light {
    color: #000 !important;
  }
  .bkg-dashboard {
    background-image: none;
    background-color: #fff;
    .row {
      --bs-gutter-x: 0;
    }
  }
}

.bg-pagina-interna {
  .text-left {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.487%; /* 18.373px */
  }

  .pagina-interna {
    color: #000;
    font-size: 26.131px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.487%;
    text-transform: uppercase;
  }

  .formulario-component {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    .pagina-form {
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 800;
      line-height: 122.487%; /* 18.373px */
      text-transform: uppercase;
    }
  }
}
.button-voltar {
  font-size: 8px;
  font-weight: 500;
  padding: 5px 36px;
  box-shadow: 0 2px 3.3px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  background-color: #ebebeb;
  border: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 9.263px;
  cursor: pointer;

  mat-icon {
    width: 12px;
    height: 12px;
    font-size: 12px;
    margin-right: 12px;
  }
}
@media (max-width: 768px) {
  .formulario-component {
    width: 100% !important;
  }

  .button-voltar {
    margin: 0px !important;
    justify-content: center !important;
  }

  .justify-content-center {
    justify-content: center !important;
    flex-direction: column-reverse !important;
  }
}
