<div class="bkg-dashboard">
  <div class="">
    <div class="row altura">
      <div class="col-sm-6 col-md-2">
        <app-sidebar-administrativo></app-sidebar-administrativo>
      </div>
      <div class="col-sm-6 col-md-10 ms-0 ps-0">
        <div class="dashboard-header">
          <app-navbar></app-navbar>
        </div>
        <div class="container-fluid">
          <div class="bg-pagina-interna">
            <h1 class="pagina-interna mt-2">{{ titulo_pagina }}</h1>
            <div class="d-flex justify-content-start">
              <p class="text-left">
                Antes de enviar certifique-se de que todas as informações
                <br />
                preenchidas nos campos abaixo estão corretas!
              </p>
              <div class="button-voltar ms-3" (click)="goBack()"><mat-icon>person</mat-icon> Voltar</div>

            </div>
            <div class="row">
              <div class="col">
                <div class="formulario-component d-flex flex-column">
                  <h1 class="pagina-form mb-4">{{ titulo_form }}</h1>
                  <ng-content select="[app-formulario]"></ng-content>

                  <app-forms
                    [dynamicFields]="dynamicFields"
                    (formSubmit)="onSubmit($event)"
                  ></app-forms>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
