<div class="w-100">
  <div class="container mt-5 me-auto">
    <div class="form-content">
      @if(isEditMode){
      <h3 class="mb-4">Editar Cliente</h3>
      } @else {
      <h3 class="mb-4">Cadastrar Novo Cliente</h3>
      }
      <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
        <!-- Cidade -->
        <div class="form-group mb-3">
          <label for="cidade">Cidade*</label>
          <input
            autocomplete="off"
            type="text"
            class="form-control"
            placeholder="Digite o nome da cidade"
            autocomplete="off"
            [typeahead]="cidadeOptions"
            [typeaheadMinLength]="0"
            [typeaheadOptionField]="'label'"
            (typeaheadOnSelect)="onCidadeSelect($event)"
            [formControl]="getFormControl('city.label')"
          />

          <div
            *ngIf="isLoading"
            class="spinner-border spinner-border-sm text-primary"
            role="status"
          >
            <span class="visually-hidden">Carregando...</span>
          </div>
        </div>

        <!-- Nome do Cliente -->
        <div class="form-group mb-3">
          <label for="nome">Nome do Cliente*</label>
          <input
            id="nome"
            class="form-control"
            formControlName="name"
            placeholder="Nome do cliente"
          />
        </div>

        <!-- Status e Permissões -->
        <div class="form-group mb-3">
          <label>Status:</label>
          <div class="d-flex flex-wrap flex-column justify-content-start">
            <!-- Permissions -->
            <!-- PNCP -->
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="pncp"
                id="pncp"
              />
              <label class="form-check-label" for="pncp">
                PNCP:
                <span
                  class="ms-1"
                  [ngClass]="{
                    'text-success': clienteForm.get('pncp')?.value,
                    'text-danger': !clienteForm.get('pncp')?.value
                  }"
                >
                  {{
                    clienteForm.get("pncp")?.value
                      ? "Habilitado"
                      : "Desabilitado"
                  }}
                </span>
              </label>
            </div>

            <!-- Portal Transparência -->
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="portal_transparencia"
                id="portalTransparencia"
              />
              <label class="form-check-label" for="portalTransparencia">
                Portal da Transparência:
                <span
                  class="ms-1"
                  [ngClass]="{
                    'text-success': clienteForm.get('portal_transparencia')
                      ?.value,
                    'text-danger': !clienteForm.get('portal_transparencia')
                      ?.value
                  }"
                >
                  {{
                    clienteForm.get("portal_transparencia")?.value
                      ? "Habilitado"
                      : "Desabilitado"
                  }}
                </span>
              </label>
            </div>

            <!-- Diário Oficial -->
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="diario_oficial"
                id="diarioOficial"
              />
              <label class="form-check-label" for="diarioOficial">
                Diário Oficial:
                <span
                  class="ms-1"
                  [ngClass]="{
                    'text-success': clienteForm.get('diario_oficial')?.value,
                    'text-danger': !clienteForm.get('diario_oficial')?.value
                  }"
                >
                  {{
                    clienteForm.get("diario_oficial")?.value
                      ? "Habilitado"
                      : "Desabilitado"
                  }}
                </span>
              </label>
            </div>

            <!-- Arquivo Assinado -->
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="file_is_sent_signed"
                id="fileIsSentSigned"
              />
              <label class="form-check-label" for="fileIsSentSigned">
                Arquivo Enviado:
                <span
                  class="ms-1"
                  [ngClass]="{
                    'text-success': clienteForm.get('file_is_sent_signed')
                      ?.value,
                    'text-danger': !clienteForm.get('file_is_sent_signed')
                      ?.value
                  }"
                >
                  {{
                    clienteForm.get("file_is_sent_signed")?.value
                      ? "Com Assinatura (Não será assinado pela plataforma)"
                      : "Sem Assinatura (Será assinado pela plataforma)"
                  }}
                </span>
              </label>
            </div>
            @if(isEditMode){
            <!-- Arquivo Assinado -->
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="is_active"
                id="is_active"
              />
              <label class="form-check-label" for="is_active">
                Usuário Ativo:
                <span
                  class="ms-1"
                  [ngClass]="{
                    'text-success': clienteForm.get('is_active')?.value,
                    'text-danger': !clienteForm.get('is_active')?.value
                  }"
                >
                  {{
                    clienteForm.get("is_active")?.value
                      ? "Ativado"
                      : "Desativado"
                  }}
                </span>
              </label>
            </div>

            }
          </div>
        </div>

        <!-- Ano Inicial -->
        <div class="form-group mb-3">
          <label for="beginning_official_gazette"
            >Ano Inicial do Diário Oficial</label
          >
          <input
            id="beginning_official_gazette"
            class="form-control"
            type="number"
            formControlName="beginning_official_gazette"
            placeholder="Ano inicial"
          />
        </div>

        <!-- Próxima Edição -->
        <div class="form-group mb-3">
          <label for="next_edition_number">Número da Próxima Edição</label>
          <input
            id="next_edition_number"
            class="form-control"
            formControlName="next_edition_number"
            placeholder="Número da próxima edição"
            type="number"
          />
        </div>

        <!-- Subdomínio -->
        <div class="form-group mb-3">
          <label for="subdominio">Subdomínio/Slug :</label>
          <input
            id="subdominio"
            class="form-control"
            formControlName="slug"
            placeholder="Subdomínio/slug"
          />
        </div>

        <!-- Tipo -->
        <div class="form-group mb-3">
          <label for="government_body">Tipo de Cliente*</label>
          <select
            id="government_body"
            class="form-control"
            formControlName="government_body"
          >
            <option value="" disabled>Selecione um tipo de cliente</option>
            <option value="house_of_representatives">
              Câmara dos Deputados
            </option>
            <option value="federal_senate">Senado Federal</option>
            <option value="state_government_palace">
              Palácio do Governo Estadual
            </option>
            <option value="legislative_assembly">Assembleia Legislativa</option>
            <option value="city_hall">Prefeitura</option>
            <option value="city_council">Câmara Municipal</option>
            <option value="ministries">Ministérios</option>
            <option value="court">Tribunal</option>
            <option value="state_department">Secretaria Estadual</option>
            <option value="municipal_department">Secretaria Municipal</option>
            <option value="company">Empresa</option>
            <option value="other">Outros</option>
          </select>
          <div *ngIf="clienteForm.get('government_body')?.invalid &&clienteForm.get('government_body')?.touched" class="text-danger">
            Por favor, selecione um tipo de cliente.
          </div>
        </div>

        <!--city code-->
        <input
          type="hidden"
          id="codigoCidade"
          class="form-control"
          formControlName="city_code"
          placeholder="Código da cidade"
          readonly
        />
        <!-- Endereço -->
        <div class="form-group mb-3" formGroupName="address">
          <h4 class="mb-3">Endereço</h4>

          <!-- Rua -->
          <div class="mb-3">
            <label for="street">Rua</label>
            <input
              id="street"
              class="form-control"
              formControlName="street"
              placeholder="Nome da rua"
            />
            <div
              *ngIf="
                clienteForm.get('address.street')?.invalid &&
                clienteForm.get('address.street')?.touched
              "
              class="text-danger"
            >
              Por favor, insira o nome da rua.
            </div>
          </div>

          <!-- Número -->
          <div class="mb-3">
            <label for="number">Número</label>
            <input
              id="number"
              type="string"
              class="form-control"
              formControlName="number"
              placeholder="Número"
            />
            <div
              *ngIf="
                clienteForm.get('address.number')?.invalid &&
                clienteForm.get('address.number')?.touched
              "
              class="text-danger"
            >
              Por favor, insira o número.
            </div>
          </div>

          <!-- Complemento -->
          <div class="mb-3">
            <label for="complement">Complemento</label>
            <input
              id="complement"
              class="form-control"
              formControlName="complement"
              placeholder="Complemento"
            />
          </div>

          <!-- Bairro -->
          <div class="mb-3">
            <label for="district">Bairro</label>
            <input
              id="district"
              class="form-control"
              formControlName="district"
              placeholder="Bairro"
            />
            <div
              *ngIf="
                clienteForm.get('address.district')?.invalid &&
                clienteForm.get('address.district')?.touched
              "
              class="text-danger"
            >
              Por favor, insira o bairro.
            </div>
          </div>

          <!-- CEP -->
          <div class="mb-3">
            <label for="zip">CEP</label>
            <input
              id="zip"
              type="text"
              class="form-control"
              formControlName="zip"
              placeholder="CEP"
              mask="00000-000"
            />
            <div
              *ngIf="
                clienteForm.get('address.zip')?.invalid &&
                clienteForm.get('address.zip')?.touched
              "
              class="text-danger"
            >
              <div *ngIf="clienteForm.get('address.zip')?.errors?.['required']">
                Por favor, insira o CEP.
              </div>
              <div
                *ngIf="clienteForm.get('address.zip')?.errors?.['minlength'] || clienteForm.get('address.zip')?.errors?.['maxlength']"
              >
                O CEP deve ter 8 dígitos.
              </div>
            </div>
          </div>
        </div>

        <!-- Redes Sociais -->
        <div class="form-group mb-3" formGroupName="networks">
          <h4 class="mb-3">Redes Sociais</h4>

          <!-- Yt -->
          <div class="mb-3">
            <label for="youtube">Youtube</label>
            <input
              id="youtube"
              class="form-control"
              formControlName="youtube"
              placeholder="Digite o link do seu canal do Youtube"
            />
          </div>
          <!-- Facebook -->
          <div class="mb-3">
            <label for="facebook">Facebook</label>
            <input
              id="facebook"
              class="form-control"
              formControlName="facebook"
              placeholder="Digite o link do seu Facebook"
            />
          </div>
          <!-- instagram -->
          <div class="mb-3">
            <label for="instagram">Instagram</label>
            <input
              id="instagram"
              class="form-control"
              formControlName="instagram"
              placeholder="Digite o link do seu perfil instagram"
            />
          </div>
          <!-- tiktok -->
          <div class="mb-3">
            <label for="tiktok">Tiktok</label>
            <input
              id="tiktok"
              class="form-control"
              formControlName="tiktok"
              placeholder="Digite o link do seu canal do tiktok"
            />
          </div>
        </div>

        <!-- Domínio -->
        <div class="form-group mb-3">
          <label for="domain">Domínio</label>
          <input
            id="domain"
            class="form-control"
            formControlName="domain"
            placeholder="Domínio"
          />
        </div>

        <div class="form-group mb-3">
          <label for="previous_official_gazette_link">Diário Oficial Anterior</label>
          <input
            id="previous_official_gazette_link"
            class="form-control"
            formControlName="previous_official_gazette_link"
            placeholder="Link do diário oficial anterior"
          />
        </div>

        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="Email"
          />
        </div>

        <!-- Submit Button -->
        @if(isEditMode){

        <button type="submit" class="btn btn-dark w-100 hover-sucesso">
          @if(isLoadingButton){
          <div class="spinner-border text-light" role="status"></div>
          } @else { Editar }
        </button>
        } @else {
        <button type="submit" class="btn btn-dark w-100 hover-sucesso">
          @if(isLoadingButton){
          <div class="spinner-border text-light" role="status"></div>
          } @else {Cadastrar}
        </button>
        }
      </form>
    </div>
  </div>
</div>
