<div class="w-100">
  <div class="container mt-5 me-auto">
    <div class="form-content">
      <h3 class="mb-4">
        {{ isEditavel ? "Editar Usuário" : " Cadastrar Novo usuário" }}
      </h3>
      <form [formGroup]="usuarioForm"  autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="client">Cliente*</label>
          <input
            id="autoComplete"
            type="text"
            class="form-control"
            autocomplete="off"
            formControlName="tenant_slug"
            [typeahead]="searchResults"
            (typeaheadOnSelect)="onSelect($event)"
            typeaheadOptionField="name"
            placeholder="Digite para buscar..."
          />
        </div>
        <div class="form-group mb-3">
          <label for="nome">Nome*</label>
          <input
            id="nome"
            class="form-control"
            formControlName="name"
            placeholder="Nome"
          />
        </div>

        <div class="form-group mb-3">
          <label for="aaa">Email*</label>
          <input
            id="aaa"
            class="form-control"
            formControlName="email"
            placeholder="Email"
            type="email"
            autocomplete="off"
          />
        </div>

        <div class="form-group mb-3">
          <label for="teste">Usuário*</label>
          <input
            id="teste"
            class="form-control"
            formControlName="username"
            placeholder="Usuário"
            autocomplete="off"
          />
        </div>

        <div class="form-group mb-3">
          <label for="country_register">CPF*</label>
          <input
            id="country_register"
            class="form-control"
            formControlName="country_register"
            placeholder="CPF"
          />
        </div>

        <div class="form-group mb-3">
          <label for="phone">Telefone*</label>
          <input
            id="phone"
            class="form-control"
            formControlName="phone"
            placeholder="Telefone"
          />
        </div>

        <div class="form-group mb-3">
          <label for="121212">Senha*</label>
          <input
            id="121212"
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Senha"
            autocomplete="off"
          />
        </div>

        <div class="form-group mb-3">
          <label for="password_confirmation">Confirmação de Senha*</label>
          <input
            id="password_confirmation"
            type="password"
            class="form-control"
            formControlName="password_confirmation"
            placeholder="Confirme a Senha"
          />
        </div>

        <div class="form-group mb-3">
          <label>Status do Usuário:</label>
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="is_active"
              id="is_active"
            />
            <label class="form-check-label" for="is_active">
              {{ usuarioForm.get("is_active")?.value ? "Ativo" : "Inativo" }}
            </label>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="role">Permissão*</label>
          <select
            id="role"
            class="form-control"
            formControlName="role"
            (change)="onRoleChange()"
          >
            <option value="" disabled selected>Selecione uma função</option>
            <option value="admin">Administrador(a)</option>
            <option value="secretary">Secretário(a)</option>
          </select>
        </div>
        @if(usuarioForm.get('role')?.value === 'secretary'){
        <div formGroupName="permissions">
          <div formGroupName="diario_oficial">
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="add"
                id="diario_oficial_add"
              />
              <label class="form-check-label" for="diario_oficial_add">
                <strong class="text-uppercase me-1"> Diário Oficial:</strong>
                <div
                  [ngClass]="{
                    habilitado: usuarioForm.get(
                      'permissions.diario_oficial.add'
                    )?.value,
                    desabilitado: !usuarioForm.get(
                      'permissions.diario_oficial.add'
                    )?.value
                  }"
                >
                  {{
                    usuarioForm.get("permissions.diario_oficial.add")?.value
                      ? "Habilitado"
                      : "Desabilitado"
                  }}
                </div>
              </label>
            </div>
          </div>
          <div formGroupName="pncp">
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="add"
                id="pncp_add"
              />
              <label class="form-check-label" for="pncp_add">
                <strong class="text-uppercase me-1">PNCP:</strong>
                <div
                  [ngClass]="{
                    habilitado: usuarioForm.get('permissions.pncp.add')?.value,
                    desabilitado: !usuarioForm.get('permissions.pncp.add')
                      ?.value
                  }"
                >
                  {{
                    usuarioForm.get("permissions.pncp.add")?.value
                      ? "Habilitado"
                      : "Desabilitado"
                  }}
                </div>
              </label>
            </div>
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="edit_own"
                id="pncp_edit_own"
              />
              <label class="form-check-label" for="pncp_edit_own">
                <strong class="text-uppercase me-1"
                  >PNCP (Editar conteúdo próprios):</strong
                >
                <div
                  [ngClass]="{
                    habilitado: usuarioForm.get('permissions.pncp.edit_own')
                      ?.value,
                    desabilitado: !usuarioForm.get('permissions.pncp.edit_own')
                      ?.value
                  }"
                >
                  {{
                    usuarioForm.get("permissions.pncp.edit_own")?.value
                      ? "Habilitado"
                      : "Desabilitado"
                  }}
                </div>
              </label>
            </div>
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="edit_others"
                id="pncp_edit_others"
              />
              <label class="form-check-label" for="pncp_edit_others">
                <strong class="text-uppercase me-1"
                  >PNCP (Editar conteúdo de outros):</strong
                >
                <div
                  [ngClass]="{
                    habilitado: usuarioForm.get('permissions.pncp.edit_others')
                      ?.value,
                    desabilitado: !usuarioForm.get(
                      'permissions.pncp.edit_others'
                    )?.value
                  }"
                >
                  {{
                    usuarioForm.get("permissions.pncp.edit_others")?.value
                      ? "Habilitado"
                      : "Desabilitado"
                  }}
                </div>
              </label>
            </div>
          </div>
          <div formGroupName="transparencia">
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="add"
                id="transparencia_add"
              />
              <label class="form-check-label" for="transparencia_add">
                <strong class="text-uppercase me-1">
                  Portal de Transparência:
                </strong>
                <div
                  [ngClass]="{
                    habilitado: usuarioForm.get('permissions.transparencia.add')
                      ?.value,
                    desabilitado: !usuarioForm.get(
                      'permissions.transparencia.add'
                    )?.value
                  }"
                >
                  {{
                    usuarioForm.get("permissions.transparencia.add")?.value
                      ? "Habilitado"
                      : "Desabilitado"
                  }}
                </div>
              </label>
            </div>
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="edit_own"
                id="transparencia_edit_own"
              />
              <label class="form-check-label" for="transparencia_edit_own">
                <strong class="text-uppercase me-1"
                  >Portal de Transparência (Editar conteúdo próprios):
                </strong>
                <div
                  [ngClass]="{
                    habilitado: usuarioForm.get(
                      'permissions.transparencia.edit_own'
                    )?.value,
                    desabilitado: !usuarioForm.get(
                      'permissions.transparencia.edit_own'
                    )?.value
                  }"
                >
                  {{
                    usuarioForm.get("permissions.transparencia.edit_own")?.value
                      ? "Habilitado"
                      : "Desabilitado"
                  }}
                </div>
              </label>
            </div>
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="edit_others"
                id="transparencia_edit_others"
              />
              <label class="form-check-label" for="transparencia_edit_others">
                <strong class="text-uppercase me-1"
                  >Portal de Transparência (Editar conteúdo de outros):
                </strong>
                <div
                  [ngClass]="{
                    habilitado: usuarioForm.get(
                      'permissions.transparencia.edit_others'
                    )?.value,
                    desabilitado: !usuarioForm.get(
                      'permissions.transparencia.edit_others'
                    )?.value
                  }"
                >
                  {{
                    usuarioForm.get("permissions.transparencia.edit_others")
                      ?.value
                      ? "Habilitado"
                      : "Desabilitado"
                  }}
                </div>
              </label>
            </div>
          </div>
        </div>
        }

        <button
          type="submit"
          class="btn btn-dark w-100 mt-2"
          [disabled]="usuarioForm.invalid"
        >
          {{ isEditavel ? "Editar" : " Cadastrar" }}

        </button>
      </form>
    </div>
  </div>
</div>
