<div class="bkg-header geral">
  <div
    class="align"
    [ngClass]="!isLoginRoute && isAdmRoute ? 'container-fluid' : 'container'"
  >
    <div
      class="ps-0 row align-items-center pb-4"
      [ngClass]="{
        'justify-content-center': isLoginRoute,
        'justify-content-between': !isLoginRoute
      }"
    >
      <div
        class="ps-0 col-8 d-flex col-md-4 logo-mobile align-items-center w-auto ml-auto mr-auto"
      >
        @if(logo){
        <div
          class="logo-container"
          [relativeTo]="route.parent"
          [routerLink]="['/app', slug, 'home']"
        >
          <div class="logo">
            <img [src]="logo" alt="{{ logoText2 }}" />
          </div>
        </div>
        }
        <div
          class="d-lg-flex d-none flex-column ms-4 mt-3 text-light logado"
          *ngIf="!isLoginRoute && isAdmRoute"
        >
          <h6 class="m-0 text-uppercase">Seja Bem Vindo,</h6>
          <h2 class="m-0 bold">{{ logoText2 }}</h2>
        </div>
      </div>

      <div class="col col-md-8 campos-direita">
        <div class="buttons-header">
          <a
            *ngIf="isPortalTransparencia"
            href="https://esic.cge.ro.gov.br/"
            target="_blank"
            class="btn-padrao button-ecac"
          >
            <img src="../../../../assets/logos/ecac.webp" alt="Logo Ecac" />
            <p>eSIC</p>
          </a>
          <a
            *ngIf="isPortalTransparencia"
            href="https://radardatransparencia.atricon.org.br/radar-da-transparencia-publica.html"
            target="_blank"
            class="btn-padrao button-radar"
          >
            <img
              src="../../../../assets/logos/radar-transparencia.webp"
              alt="Logo Radar"
            />
          </a>

          <ng-container *ngIf="!isLoginRoute">
            <ng-container *ngIf="!isAdmRoute; else deslogarTemplate">
              <div class="btn-padrao__hover button-login" (click)="navigate()">
                <div class="btn-padrao__perfil-icon"></div>
                <div class="btn-padrao__text">fazer login</div>
              </div>
            </ng-container>

            <ng-template #deslogarTemplate>
              <div
                class="button-login text-align-center d-flex justify-content-center text-white me-4"
              >
                <div class="d-flex">
                  <div class="d-flex dropdown">
                    <mat-icon>person</mat-icon>
                    <div class="dropdown-toggle" (click)="isOpen = !isOpen">
                      <div class="d-flex flex-column">
                        <p class="text-dark mb-0">Usuário logado:</p>
                        <p class="text-dark mb-0" *ngIf="loggedInUserName">
                          {{ loggedInUserName }}
                        </p>
                      </div>
                    </div>
                    <div class="dropdown-menu" [class.show]="isOpen">
                      <a
                        class="dropdown-item"
                        (click)="openProfileModal(profileTemplate)"
                      >
                        <i class="fas fa-cog"></i>
                        Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Profile Modal Template -->
              <ng-template #profileTemplate>
                <div class="modal-header bg-dark">
                  <h4 class="modal-title text-white">Editar Perfil</h4>
                  <button
                    type="button"
                    class="btn-close"
                    (click)="modalRef?.hide()"
                  ></button>
                </div>

                <div class="modal-body">
                  <form
                    [formGroup]="profileForm"
                    (ngSubmit)="onProfileSubmit()"
                  >
                    <div class="mb-3">
                      <label for="name" class="form-label">Nome</label>
                      <input
                        type="text"
                        class="form-control w-100"
                        id="name"
                        formControlName="name"
                        [class.is-invalid]="
                          profileForm.get('name')?.invalid &&
                          profileForm.get('name')?.touched
                        "
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="profileForm.get('name')?.errors?.['required']"
                      >
                        Campo obrigatório
                      </div>
                    </div>
                    <div>
                      <!-- Botão para atualizar apenas o nome -->
                      <button
                        type="button"
                        class="mb-3 hover-sucesso btn bg-success text-white"
                        [disabled]="!profileForm.get('name')?.valid"
                        (click)="onUpdateProfile()"
                      >
                        Atualizar Nome
                      </button>
                    </div>

                    <!-- Senha Atual -->
                    <div class="mb-3">
                      <label
                        for="current_password"
                        class="form-label fw-semibold"
                        >Senha Atual</label
                      >
                      <div class="input-group">
                        <input
                          [type]="showCurrentPassword ? 'text' : 'password'"
                          class="form-control"
                          id="current_password"
                          formControlName="current_password"
                          [class.is-invalid]="
                            profileForm.get('current_password')?.invalid &&
                            profileForm.get('current_password')?.touched
                          "
                        />
                        <button
                          class="btn btn-outline-success d-flex btn-radius"
                          type="button"
                          (click)="showCurrentPassword = !showCurrentPassword"
                        >
                          <mat-icon>{{
                            showCurrentPassword
                              ? "visibility_off"
                              : "visibility"
                          }}</mat-icon>
                        </button>
                        <div
                          class="invalid-feedback"
                          *ngIf="profileForm.get('current_password')?.errors?.['required']"
                        >
                          Campo obrigatório
                        </div>
                      </div>
                    </div>

                    <!-- Nova Senha -->
                    <div class="mb-3">
                      <label for="password" class="form-label fw-semibold"
                        >Nova Senha</label
                      >
                      <div class="input-group">
                        <input
                          [type]="showNewPassword ? 'text' : 'password'"
                          class="form-control"
                          id="password"
                          formControlName="password"
                          [class.is-invalid]="
                            profileForm.get('password')?.invalid &&
                            profileForm.get('password')?.touched
                          "
                        />
                        <button
                          class="btn btn-outline-success d-flex btn-radius"
                          type="button"
                          (click)="showNewPassword = !showNewPassword"
                        >
                          <mat-icon>{{
                            showNewPassword ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                        <div class="invalid-feedback">
                          <span
                            *ngIf="profileForm.get('password')?.errors?.['required']"
                          >
                            Campo obrigatório
                          </span>
                          <span
                            *ngIf="profileForm.get('password')?.errors?.['minlength']"
                          >
                            A senha deve ter no mínimo 8 caracteres
                          </span>
                        </div>
                      </div>
                    </div>

                    <!-- Confirmar Nova Senha -->
                    <div class="mb-3">
                      <label
                        for="password_confirmation"
                        class="form-label fw-semibold"
                      >
                        Confirmar Nova Senha
                      </label>
                      <div class="input-group">
                        <input
                          [type]="showConfirmPassword ? 'text' : 'password'"
                          class="form-control"
                          id="password_confirmation"
                          formControlName="password_confirmation"
                          [class.is-invalid]="
        (profileForm.get('password_confirmation')?.errors?.['required'] &&
         profileForm.get('password_confirmation')?.touched) ||
        profileForm.get('password_confirmation')?.errors?.['mismatch']
      "
                        />
                        <button
                          class="btn btn-outline-success d-flex btn-radius"
                          type="button"
                          (click)="showConfirmPassword = !showConfirmPassword"
                        >
                          <mat-icon>{{
                            showConfirmPassword
                              ? "visibility_off"
                              : "visibility"
                          }}</mat-icon>
                        </button>
                        <div class="invalid-feedback">
                          <span
                            *ngIf="
        profileForm.get('password_confirmation')?.errors?.['required'] &&
        profileForm.get('password_confirmation')?.touched
      "
                          >
                            Campo obrigatório
                          </span>
                          <span
                            *ngIf="
        profileForm.get('password_confirmation')?.errors?.['mismatch'] &&
        !profileForm.get('password_confirmation')?.errors?.['required']
      "
                          >
                            As senhas novas não coincidem
                          </span>
                        </div>
                      </div>
                    </div>

                    <div
                      class="d-flex justify-content-between align-items-center flex-row-reverse gap-2 w-auto mt-3"
                    >
                      <!-- Botão para atualizar apenas as senhas -->
                      <button
                        type="button"
                        class="w-auto hover-sucesso btn bg-success text-white"
                        [disabled]="
                          !profileForm.get('current_password')?.valid ||
                          !profileForm.get('password')?.valid ||
                          !profileForm.get('password_confirmation')?.valid
                        "
                        (click)="onUpdatePassword()"
                      >
                        Atualizar Senha
                      </button>

                      <button
                        type="button"
                        class="w-auto btn btn-outline-danger w-100"
                        (click)="closeModal()"
                      >
                        Cancelar
                      </button>
                    </div>
                  </form>
                </div>
              </ng-template>

              <div class="deslogar me-4">
                <div
                  class="btn-padrao__hover d-flex flex-row button-login"
                  (click)="logout()"
                >
                  <img
                    class="btn-padrao__icon"
                    src="../../../../assets/icons/deslogar.svg"
                    alt=""
                  />
                  <div class="btn-padrao__text">Sair</div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
      <div class="col col-md-4 menu" *ngIf="!isLoginRoute">
        <button
          class="menu-branco"
          (click)="toggleMenu()"
          mat-icon-button
          aria-label="menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="campos-mobile" [ngClass]="{ ativo: mobile }">
  <button (click)="toggleMenu()" mat-icon-button aria-label="menu">
    <mat-icon>close</mat-icon>
  </button>
  <div class="menu-content">
    <a href="https://esic.cge.ro.gov.br/" class="item">eSIC</a>
    <a
      class="item"
      href="https://radardatransparencia.atricon.org.br/radar-da-transparencia-publica.html"
      >Radar de transparencia pública</a
    >
    <div class="item" routerLink="/adm/login">Login</div>
  </div>
</div>
