<div class="bkg-header">
  <div class="container align">
    <div class="row align-items-center mb-4">
      <div class="col-8 col-md-4 logo-mobile w-auto ml-auto mr-auto">
        <div class="logo-container" routerLink="/home">
          <div class="logo">
            <img src="../../../../assets/logos/logo-itaberaba.webp" alt="" />
          </div>
          <div class="logo-text">
            <p class="text1">{{ logoText1 }}</p>
            <p class="text2">{{ logoText2 }}</p>
          </div>
        </div>
      </div>
      <div class="col-8 campos-direita">
        <div class="buttons-header">
          <a
            *ngIf="!isAdmRoute"
            href="https://esic.cge.ro.gov.br/"
            target="_blank"
            class="btn-padrao button-ecac"
          >
            <img src="../../../../assets/logos/ecac.webp" alt="Logo Ecac" />
            <p>eSIC</p>
          </a>
          <a
            *ngIf="!isAdmRoute"
            href="https://radardatransparencia.atricon.org.br/radar-da-transparencia-publica.html"
            target="_blank"
            class="btn-padrao button-radar"
          >
            <img
              src="../../../../assets/logos/radar-transparencia.webp"
              alt="Logo Radar"
            />
          </a>

          <ng-container *ngIf="!isAdmRoute; else deslogarTemplate">
            <div class="btn-padrao__hover button-login" routerLink="/adm/login">
              <div class="btn-padrao__perfil-icon"></div>
              <div class="btn-padrao__text">fazer login</div>
            </div>
          </ng-container>
          
          <ng-template #deslogarTemplate>
            <div class="deslogar">
              <div class="btn-padrao__hover button-login" (click)="logout()">
                <div class="btn-padrao__perfil-icon"></div>
                <div class="btn-padrao__text">Sair</div>
              </div>
            </div>
          </ng-template>
          
        </div>
      </div>
      <div class="col-4 menu">
        <button
          class="menu-branco"
          (click)="toggleMenu()"
          mat-icon-button
          aria-label="menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="campos-mobile" [ngClass]="{ ativo: mobile }">
  <button (click)="toggleMenu()" mat-icon-button aria-label="menu">
    <mat-icon>close</mat-icon>
  </button>
  <div class="menu-content">
    <a href="https://esic.cge.ro.gov.br/" class="item">eSIC</a>
    <a
      class="item"
      href="https://radardatransparencia.atricon.org.br/radar-da-transparencia-publica.html"
      >Radar de transparencia pública</a
    >
    <div class="item" routerLink="/adm/login">Login</div>
  </div>
</div>
