<div class="bkg-header geral">
  <div class="container align">
    <div
      class="ps-0 row align-items-center pb-4"
      [ngClass]="{
        'justify-content-center': isLoginRoute,
        'justify-content-between': !isLoginRoute
      }"
    >
      <div
        class="ps-0 col-8 d-flex col-md-4 logo-mobile align-items-center w-auto ml-auto mr-auto"
      >
        <div class="logo-container"  routerLink="/home">
          <div class="logo">
            <img src="../../../../assets/logos/logo-itaberaba.webp" alt="" />
          </div>
          <div class="logo-text">
            <p class="text1">{{ logoText1 }}</p>
            <p class="text2">{{ logoText2 }}</p>
          </div>
        </div>
        <div
          class="d-lg-flex d-none flex-column ms-4 mt-3 text-light logado"
          *ngIf="!isLoginRoute && isAdmRoute"
        >
          <h6 class="m-0 text-uppercase">Seja Bem Vindo,</h6>
          <!-- <h2>{{loggedInUserEmail}}</h2> -->
          <h2 class="m-0 bold">Matheus Albuquerque</h2>
        </div>
      </div>

      <div class="col col-md-8 campos-direita">
        <div class="buttons-header">
          <a
            *ngIf="isPortalTransparencia"
            href="https://esic.cge.ro.gov.br/"
            target="_blank"
            class="btn-padrao button-ecac"
          >
            <img src="../../../../assets/logos/ecac.webp" alt="Logo Ecac" />
            <p>eSIC</p>
          </a>
          <a
            *ngIf="isPortalTransparencia"
            href="https://radardatransparencia.atricon.org.br/radar-da-transparencia-publica.html"
            target="_blank"
            class="btn-padrao button-radar"
          >
            <img
              src="../../../../assets/logos/radar-transparencia.webp"
              alt="Logo Radar"
            />
          </a>

          <ng-container *ngIf="!isLoginRoute">
            <ng-container *ngIf="!isAdmRoute; else deslogarTemplate">
              <div
                class="btn-padrao__hover button-login"
                routerLink="/adm/login"
              >
                <div class="btn-padrao__perfil-icon"></div>
                <div class="btn-padrao__text">fazer login</div>
              </div>
            </ng-container>

            <ng-template #deslogarTemplate>
              <div class="deslogar me-4">
                <div
                  class="btn-padrao__hover d-flex flex-row button-login"
                  (click)="logout()"
                >
                 <img class="btn-padrao__icon" src="../../../../assets/icons/deslogar.svg" alt="">
                 <div class="btn-padrao__text">
                  Sair
                 </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
      <div class="col col-md-4 menu" *ngIf="!isLoginRoute">
        <button
          class="menu-branco"
          (click)="toggleMenu()"
          mat-icon-button
          aria-label="menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="campos-mobile" [ngClass]="{ ativo: mobile }">
  <button (click)="toggleMenu()" mat-icon-button aria-label="menu">
    <mat-icon>close</mat-icon>
  </button>
  <div class="menu-content">
    <a href="https://esic.cge.ro.gov.br/" class="item">eSIC</a>
    <a
      class="item"
      href="https://radardatransparencia.atricon.org.br/radar-da-transparencia-publica.html"
      >Radar de transparencia pública</a
    >
    <div class="item" routerLink="/adm/login">Login</div>
  </div>
</div>
