<div class="bkg-diario">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center flex-column">
                    <div class="titulo">
                        <h1>Diário Oficial</h1>
                    </div>
                    <div class="subtitulo">
                        <p>Escolha o ano que deseja realizar a sua pesquisa:</p>
                    </div>
                    <div class="buttons w-100 d-flex justify-content-center">
                        <ng-container *ngFor="let content of listaAnos">
                            <a class="button" [routerLink]="'/diario-oficial-anos'" class="btn-padrao__hover button-acessos">
                                <div class="btn-padrao__perfil-icon"></div>
                                <div class="btn-padrao__text">{{ content }}</div>
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>