.m-4 {
    h4 {
      font-weight: 600;
    }

    .form-container {
      display: flex;
      flex-direction: column;

      .form-toggles {
        display: flex;
        gap: 2rem;
        margin-bottom: 1rem;

        .form-toggle-group {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;

          .form-check {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .form-check-label {
              margin-left: 0.25rem;
              font-weight: 500;
            }
          }
        }
      }

      .form-flex {
        display: flex;
        gap: 2rem;

        .form-column {
          flex: 1;

          .mb-3 {
            margin-bottom: 1rem;

            .form-control {
              border-radius: 5px;
            }
          }
        }
      }

      button.btn-primary {
        background-color: #000000;
        border-color: #000000;
        padding: 0.5rem 1.5rem;

        &:hover {
          background-color: #2e2e2e;
          border-color: #2e2e2e;
        }
      }
    }
  }

  input,textarea,select{
    width: 95%;
  }
