<div class="mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <div>
      <h5>Usuários</h5>
      <small>Lista de usuários cadastrados</small>
    </div>
    <button
      [relativeTo]="route.parent"
      routerLink="cadastrar-usuarios"
      class="btn btn-adm-adicionar ms-2 d-flex align-items-center"
    >
      <mat-icon class="me-1">person</mat-icon> Adicionar Usuário
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Usuário</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Status</th>
          <th>Diário Oficial</th>
          <th>PNCP</th>
          <th>Transparência</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dataSource.data">
          <td>{{ element.tenant.name }}</td>
          <td>{{ element.name }}</td>
          <td>{{ element.email }}</td>
          <td>{{ element.username }}</td>
          <td>{{ element.country_register || "N/A" }}</td>
          <td>{{ element.phone || "N/A" }}</td>
          <td>{{ element.is_active ? "Ativo" : "Inativo" }}</td>
          <td>{{ element.permissions.diario_oficial.add ? "Sim" : "Não" }}</td>
          <td>{{ element.permissions.pncp.add ? "Sim" : "Não" }}</td>
          <td>{{ element.permissions.transparencia.add ? "Sim" : "Não" }}</td>
          <td>
            <div class="d-flex justify-content-evenly">
              <div class="d-flex flex-column align-items-center">
                <a
                  class="btn-edit btn-format cup mt-0 d-flex justify-content-center align-items-center"
                  matTooltip="Editar"
                  [routerLink]="[
                    '/adm/dashboard-administrativo/editar-usuarios',
                    element.id
                  ]"
                >
                  <img
                    src="../../../../../assets/icons/edit-icon-adm.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Editar</span>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a
                  href="{{ slug + '/adm/login' }}"
                  target="_blank"
                  class="btn-auth btn-format d-flex align-items-center"
                  matTooltip="Autenticar"
                >
                  <img
                    src="../../../../../assets/icons/autenticar-adm-icon.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Autenticar</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="bkg-bottom d-flex justify-content-between align-items-center mt-3"
  >
    <span class="resultado me-3">
      {{ dataSource.data.length }} resultados
    </span>
    <nav aria-label="Navegação de Página">
      <ul class="pagination mb-0">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link"
            (click)="goToPage(1)"
            aria-label="Primeira Página"
          >
            &laquo;&laquo;
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link"
            (click)="goToPreviousPage()"
            aria-label="Página Anterior"
          >
            &laquo;
          </a>
        </li>
        <li class="page-item active">
          <span class="page-link">{{ currentPage }} / {{ totalPages }}</span>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a
            class="page-link"
            (click)="goToNextPage()"
            aria-label="Próxima Página"
          >
            &raquo;
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a
            class="page-link"
            (click)="goToPage(totalPages)"
            aria-label="Última Página"
          >
            &raquo;&raquo;
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
