<div class="mt-2">
  <tabset>
    <tab heading="Cadastrar Imagens Home" id="tab1">
      <div class="w-100">
        <div class="container mt-5 me-auto">
          <div class="form-content">
            <h3 class="mb-4">Cadastrar Imagens Home</h3>
            <form [formGroup]="fotosForm">
              <div class="form-group mb-3">
                <label for="image">Imagens da Home*</label>
                <input
                  type="file"
                  id="image"
                  class="form-control"
                  formControlName="photo"
                  (change)="onFileChange($event)"
                  multiple
                  required
                />
                <small class="form-text text-muted">
                  Apenas imagens nos formatos JPEG, PNG ou GIF são permitidas.
                </small>
              </div>
              <div class="my-3" *ngIf="selectedImages.length > 0">
                <h6>Pré-visualização:</h6>
                <div class="d-flex flex-wrap gap-3">
                  <img
                    *ngFor="let img of selectedImages"
                    [src]="img"
                    alt="Pré-visualização da imagem"
                    class="img-thumbnail"
                    width="200"
                  />
                </div>
              </div>
              <button type="submit" (click)="onSubmit()" class="btn btn-dark w-100">
                Cadastrar Imagens
              </button>
            </form>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Cadastrar Logo do Cliente">
      <div class="w-100">
        <div class="container mt-5 me-auto">
          <div class="form-content">
            <h3 class="mb-4">Cadastrar Logo</h3>
            <form [formGroup]="logoForm">
              <div class="form-group mb-3">
                <label for="imagem">Logo do Cliente*</label>
                <input
                  id="imagem"
                  type="file"
                  class="form-control"
                  (change)="onFileLogoChange($event)"
                  required
                />
                <small class="form-text text-muted">
                  Apenas imagens nos formatos JPEG, PNG ou GIF são permitidas.
                </small>
              </div>

              <div *ngIf="selectedLogo" class="my-3">
                <h6>Pré-visualização:</h6>
                <img
                  [src]="selectedLogo"
                  alt="Pré-visualização da logo"
                  class="img-thumbnail"
                  width="200"
                />
              </div>

              <button type="submit" (click)="onSubmitLogo()" class="btn btn-dark w-100">
                Cadastrar Logo
              </button>
            </form>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Cadastrar Logo do Diário Oficial">
      <div class="w-100">
        <div class="container mt-5 me-auto">
          <div class="form-content">
            <h3 class="mb-4">Cadastrar Logo Diário Oficial</h3>
            <form [formGroup]="logoFormDiario">
              <div class="form-group mb-3">
                <label for="imagem">Logo do Cliente*</label>
                <input
                  id="imagem"
                  type="file"
                  class="form-control"
                  (change)="onFileLogoDiarioChange($event)"
                  required
                />
                <small class="form-text text-muted">
                  Apenas imagens nos formatos JPEG, PNG ou GIF são permitidas.
                </small>
              </div>

              <div *ngIf="selectedLogoDiario" class="my-3">
                <h6>Pré-visualização:</h6>
                <img
                  [src]="selectedLogoDiario"
                  alt="Pré-visualização da logo"
                  class="img-thumbnail"
                  width="200"
                />
              </div>

              <button type="submit" (click)="onSubmitLogoDiario()" class="btn btn-dark w-100">
                Cadastrar Logo
              </button>
            </form>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
