<div class="w-100">
  <div class="container mt-5 me-auto">
    <div class="form-content">
      <h3 class="mb-4">Cadastrar Nova Foto</h3>
      <form [formGroup]="fotosForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="image">Imagem*</label>
          <input
            type="file"
            id="image"
            class="form-control"
            (change)="onFileChange($event)"
            formControlName="photo"
            required
          />
        </div>

        <button
          type="submit"
          class="btn btn-dark w-100"
          [disabled]="fotosForm.invalid"
        >
          Cadastrar Imagem
        </button>
      </form>
    </div>
  </div>
</div>
