.footer {
    background: #0C4CBE;
    color: #fff;
    font-size: 13.434px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px 10px;
  
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: left;
    }
  
    .row {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 1200px;
      width: 100%;
    }
  
    .col {
      flex: 1;
      margin: 20px;
      min-width: 250px;
    }
  
    .title_footer ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    .title_footer ul li {
      position: relative;
      padding-left: 20px;
    }
  
    .title_footer ul li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      background-color: #fff;
    }
  
    .borda-verde {
      background-color: #55FF9F;
      height: 3px;
      width: 100%;
    }
  
    .contato-footer p {
      margin: 0;
    }
  
    .button-section_footer {
      padding-top: 10px;
      gap: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .img {
      width: 68.269px;
      height: 65.673px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  
    .insta {
      background: linear-gradient(54deg, #CC8100 9.93%, #CC2E00 39.64%, #CC016C 69.36%, #A51296 99.97%);
    }
  
    .face {
      background: #0571F0;
    }
  
    .yt {
      background: #F00505;
    }
  
    .yt img {
      width: 55.559px;
      height: 55.043px;
    }
  
    .pwr {
      max-width: 100px;
      height: 65.673px;
      margin-top: 10px;
      padding: 10px 20px;
      border-radius: 5px;
    }
  
    .pwr img {
      width: 100%;
    }
  }
  