<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col d-flex w-100 px-0 mx-0">
        <div class="w-100
        ">
          <div class="title_footer">
            <ul>
              <li>Câmara Municipal de Itaberaba</li>
            </ul>
            <div class="borda-verde"></div>
          </div>
          <div class="contato-footer">
            <div class="row">
              <div class="col-12">
                <p>E-mail: legislativo&#64;cmitaberaba.ba.gov.br</p>
                <p>Tel.: (75) 3251-2395</p>
                <p>CEP: 46880-000</p>
                <p>Praça J.J. Seabra, 37</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col d-flex w-100 px-0 mx-0">
        <div class="margin-auto">
          <div class="title_footer">
            <ul>
              <li>Redes sociais</li>
            </ul>
            <div class="borda-verde"></div>
          </div>
          <div class="button-section_footer">
            <div class="img insta">
              <img
                src="../../../../assets/icons/insta-icon.webp"
                alt="Instagram"
              />
            </div>
            <div class="img face">
              <img
                src="../../../../assets/icons/face-icon.svg"
                alt="Facebook"
              />
            </div>
            <div class="img yt">
              <img src="../../../../assets/icons/yt-icon.svg" alt="YouTube" />
            </div>
          </div>
        </div>
      </div> -->
      <div class="col d-flex w-100 px-0 mx-0">
        <div class="margin-auto">
          <div class="title_footer">
            <ul>
              <li>Desenvolvido por:</li>
            </ul>
            <div class="borda-verde"></div>
          </div>
          <div class="btn-padrao pwr">
            <img src="../../../../assets/logos/pwr.webp" alt="PWR Logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
