<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title_footer">
                    <ul>
                        <li>Câmara Municipal de Itaberaba</li>
                    </ul>
                    <div class="borda-verde w-75"></div>
                </div>
                <div class="contato-footer">
                    <p>Praça J.J. Seabra, 37
                    <p>Tel.: (75) 3251-2395</p>
                    <p>E-mail: legislativo&#64;cmitaberaba.ba.gov.br</p>
                </div>
            </div>
            <div class="col-md-4 ml-3">
                <div class="title_footer">
                    <ul>
                        <li>Redes sociais</li>
                    </ul>
                    <div class="borda-verde w-50"></div>
                </div>
                <div class="button-section_footer">
                    <div class="img insta">
                        <img width="47px" height="47px" src="../../../../assets/icons/insta-icon.webp" alt="">
                    </div>
                    <div class="img face">
                        <img width="47px" height="47px" src="../../../../assets/icons/face-icon.svg" alt="">
                    </div>
                    <div class="img yt">
                        <img width="47px" height="47px" src="../../../../assets/icons/yt-icon.svg" alt="">
                    </div>


                </div>
            </div>
            <div class="col-md-4">
                <div class="title_footer">
                    <ul>
                        <li>Desenvolvido por:</li>
                    </ul>
                    <div class="borda-verde w-50"></div>
                </div>
                <div class="btn-padrao pwr">
                    <img src="../../../../assets/logos/pwr.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>