<div class="container">
    <div class="regimento-container">
        <div class="regimento-content">
            <h2>Regimento interno</h2>
            <div>
                <div class="texto">
                    Resolução Nº 001/2016: Altera dispositivos da resolução nº 28, de 24 de setembro de 1991, que dispõe
                    sobre o regimento interno da câmara municipal de São Miguel do Guama
                </div>
            </div>
        </div>
        <div class="regimento-image">
            <img src="https://i.postimg.cc/wjDGwZf1/1400500.png"
                alt="Presidente" />
        </div>
    </div>

</div>