<h1 class="pagina-interna mt-2">Ratificação da licitação</h1>
<div class="d-flex justify-content-start">
  <p class="text-left">
    Antes de enviar certifique-se de que todas as informações
    <br />
    preenchidas nos campos abaixo estão corretas!
  </p>
  <div
    (click)="onVoltar()"
    class="button-voltar ms-3 d-flex justify-content-center align-items-center"
  >
    <mat-icon
      role="img"
      class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color"
      aria-hidden="true"
      data-mat-icon-type="font"
      >person</mat-icon
    >
    Voltar
  </div>
</div>
<div class="container ratificacao-container">
  <form
    [formGroup]="ratificacaoForm"
    (ngSubmit)="onSubmit()"
    class="ratificacao-form"
  >
    <div class="form-group-row">
      <div class="form-group">
        <label for="orgao">ÓRGÃO:</label>
        <p class="orgao">{{ agencyName }}</p>
      </div>
      <div class="form-group">
        <label for="orgao">Unidade:</label>
        <p class="orgao">{{ Unidade }}</p>
      </div>
    </div>
    <div class="form-group-row">
      <div class="form-group">
        <label for="tipoInstrumento">TIPO DE INSTRUMENTO CONVOCATÓRIO*</label>
        <select
          id="tipoInstrumento"
          class="form-select"
          formControlName="call_instrument_id"
        >
          <option
            *ngFor="let option of modoDisputaOpcoes"
            [value]="option.value"
          >
            {{ option.key }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="modalidade">MODALIDADE*</label>
        <select
          id="modalidade"
          class="form-select"
          formControlName="contracting_modality_id"
        >
          <option
            *ngFor="let option of modalidadeContratoOpcoes"
            [value]="option.value"
          >
            {{ option.key }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group-row">
      <div class="form-group">
        <label for="modoDisputa">MODO DE DISPUTA*</label>
        <select
          id="modoDisputa"
          class="form-select"
          formControlName="dispute_mode_id"
        >
          <option
            *ngFor="let option of modoDisputaOpcoes"
            [value]="option.value"
          >
            {{ option.key }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="amparoLegal">AMPARO LEGAL*</label>
        <select
          id="amparoLegal"
          class="form-select"
          formControlName="legal_basic_id"
        >
          <option
            *ngFor="let option of legalBasicOptions"
            [value]="option.value"
          >
            {{ option.key }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group-row">
      <div class="form-group">
        <label for="dataAbertura">DATA DE ABERTURA DE PROPOSTA*</label>
        <input
          id="dataAbertura"
          type="datetime-local"
          class="form-control"
          formControlName="opening_date_proposal"
        />
      </div>

      <div class="form-group">
        <label for="dataEncerramento">DATA DE ENCERRAMENTO DE PROPOSTA*</label>
        <input
          id="dataEncerramento"
          type="datetime-local"
          class="form-control"
          formControlName="closing_date_proposal"
        />
      </div>
    </div>

    <div class="form-group-row">
      <div class="form-group">
        <label for="numeroCompra">NÚMERO DA COMPRA*</label>
        <input
          id="numeroCompra"
          type="text"
          class="form-control"
          formControlName="number"
        />
      </div>

      <div class="form-group">
        <label for="numeroProcesso">NÚMERO DO PROCESSO*</label>
        <input
          id="numeroProcesso"
          type="text"
          class="form-control"
          formControlName="process_number"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="objetoCompra">OBJETO DA COMPRA*</label>
      <textarea
        id="objetoCompra"
        rows="2"
        class="form-control"
        formControlName="goals"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="infoComplementar">INFORMAÇÃO COMPLEMENTAR</label>
      <textarea
        id="infoComplementar"
        rows="2"
        class="form-control"
        formControlName="additional_information"
      ></textarea>
    </div>

    <div class="form-group-row">
      <div class="form-group">
        <label for="situacaoCompra">SITUAÇÃO DA COMPRA*</label>
        <select
          id="situacaoCompra"
          class="form-select"
          formControlName="contracting_situation_id"
        >
          <option
            *ngFor="let option of situacaoCompra"
            [value]="option.value"
          >
            {{ option.key }}
          </option>
        </select>
      </div>

      <div class="form-group switch-group">
        <label for="registroPreco"
          >COMPRA DO SISTEMA DE REGISTRO DE PREÇOS?</label
        >
        <mat-slide-toggle formControlName="srp"></mat-slide-toggle>
      </div>
    </div>

    <div class="form-group">
      <label for="change_reason">JUSTIFICATIVA DA EDIÇÃO*</label>
      <textarea
        id="change_reason"
        rows="3"
        class="form-control"
        formControlName="change_reason"
      ></textarea>
    </div>

    <div class="form-actions d-flex justify-content-start">
      <button
        type="submit"
        class="bg-dark text-white hover-sucesso"
        [disabled]="ratificacaoForm.invalid"
      >
        ENVIAR
      </button>
    </div>
  </form>
</div>
