<app-layout-table [titulo_pagina]="'Indicação/Deliberação'" [dataSource]="dataSource"
    [displayedColumns]="displayedColumns">
    <div class="filtro-container" app-filtro>
        <form class="d-flex" [formGroup]="filtroForm" (ngSubmit)="onFormSubmit()">
            <div class="d-flex flex-column bold">
                <span class="w-auto text-center">Categoria</span>
                <input type="text" class="w-auto" formControlName="ataDaSessao">
            </div>
            <div class="d-flex flex-column bold margin-left">
                <span class="w-auto text-center">Número</span>
                <input type="text" class="w-auto" formControlName="ataDaSessao">
            </div>
            <div class="d-flex flex-column bold">
                <span class="w-auto text-center">Ano</span>
                <input type="text" class="w-auto" formControlName="ataDaSessao">
            </div>
            <div class="d-flex flex-column bold">
                <span class="w-auto text-center">data</span>
                <input type="text" class="w-auto" formControlName="ataDaSessao">
            </div>
            <div class="d-flex justify-content-center align-items-center"> 
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" class="mt-auto">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </form>
    </div>
</app-layout-table>