<div class="bg-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="titulo">
                    ACESSO RÁPIDO
                </div>
                <div class="d-flex-acesso">
                    <div class="acesso-rapido">
                        <div class="icone">
                            <svg width="34" height="41" viewBox="0 0 34 41" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_269_191)">
                                    <path
                                        d="M0.939434 40.0345C0.31608 39.7501 0.0873174 39.2601 0.110294 38.5521C0.266132 33.8473 2.08425 29.9793 5.55265 26.977C8.2119 24.6755 11.3067 23.5533 14.7741 23.5606C16.2446 23.5637 17.7141 23.5409 19.1845 23.5647C24.4411 23.6499 28.4919 26.0552 31.4019 30.5482C32.9593 32.9535 33.6965 35.6516 33.7734 38.5521C33.7924 39.258 33.5666 39.7491 32.9443 40.0345H0.939434Z"
                                        fill="#225EC9" />
                                    <path
                                        d="M16.9668 0.248781C22.535 0.251895 27.0384 4.95044 27.0354 10.7546C27.0334 16.5608 22.5091 21.2344 16.8969 21.2282C11.3257 21.222 6.83731 16.5037 6.8463 10.6632C6.85729 4.91618 11.3946 0.245666 16.9668 0.248781Z"
                                        fill="#225EC9" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_269_191">
                                        <rect width="33.6651" height="39.786" fill="white"
                                            transform="translate(0.109314 0.248779)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="texto">
                            DIÁRIO OFICIAL
                        </div>
                    </div>
                    <div class="acesso-rapido">
                        <div class="icone">
                            <svg width="34" height="41" viewBox="0 0 34 41" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_269_191)">
                                    <path
                                        d="M0.939434 40.0345C0.31608 39.7501 0.0873174 39.2601 0.110294 38.5521C0.266132 33.8473 2.08425 29.9793 5.55265 26.977C8.2119 24.6755 11.3067 23.5533 14.7741 23.5606C16.2446 23.5637 17.7141 23.5409 19.1845 23.5647C24.4411 23.6499 28.4919 26.0552 31.4019 30.5482C32.9593 32.9535 33.6965 35.6516 33.7734 38.5521C33.7924 39.258 33.5666 39.7491 32.9443 40.0345H0.939434Z"
                                        fill="#225EC9" />
                                    <path
                                        d="M16.9668 0.248781C22.535 0.251895 27.0384 4.95044 27.0354 10.7546C27.0334 16.5608 22.5091 21.2344 16.8969 21.2282C11.3257 21.222 6.83731 16.5037 6.8463 10.6632C6.85729 4.91618 11.3946 0.245666 16.9668 0.248781Z"
                                        fill="#225EC9" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_269_191">
                                        <rect width="33.6651" height="39.786" fill="white"
                                            transform="translate(0.109314 0.248779)" />
                                    </clipPath>
                                </defs>
                            </svg>


                        </div>
                        <div class="texto">
                            portal de transparência
                        </div>
                    </div>
                    <div class="acesso-rapido">
                        <div class="icone">
                            <svg width="34" height="41" viewBox="0 0 34 41" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_269_191)">
                                    <path
                                        d="M0.939434 40.0345C0.31608 39.7501 0.0873174 39.2601 0.110294 38.5521C0.266132 33.8473 2.08425 29.9793 5.55265 26.977C8.2119 24.6755 11.3067 23.5533 14.7741 23.5606C16.2446 23.5637 17.7141 23.5409 19.1845 23.5647C24.4411 23.6499 28.4919 26.0552 31.4019 30.5482C32.9593 32.9535 33.6965 35.6516 33.7734 38.5521C33.7924 39.258 33.5666 39.7491 32.9443 40.0345H0.939434Z"
                                        fill="#225EC9" />
                                    <path
                                        d="M16.9668 0.248781C22.535 0.251895 27.0384 4.95044 27.0354 10.7546C27.0334 16.5608 22.5091 21.2344 16.8969 21.2282C11.3257 21.222 6.83731 16.5037 6.8463 10.6632C6.85729 4.91618 11.3946 0.245666 16.9668 0.248781Z"
                                        fill="#225EC9" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_269_191">
                                        <rect width="33.6651" height="39.786" fill="white"
                                            transform="translate(0.109314 0.248779)" />
                                    </clipPath>
                                </defs>
                            </svg>


                        </div>
                        <div class="texto">
                            pncp
                        </div>
                    </div>
                    <div class="acesso-rapido">
                        <div class="icone">
                            <svg width="34" height="41" viewBox="0 0 34 41" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_269_191)">
                                    <path
                                        d="M0.939434 40.0345C0.31608 39.7501 0.0873174 39.2601 0.110294 38.5521C0.266132 33.8473 2.08425 29.9793 5.55265 26.977C8.2119 24.6755 11.3067 23.5533 14.7741 23.5606C16.2446 23.5637 17.7141 23.5409 19.1845 23.5647C24.4411 23.6499 28.4919 26.0552 31.4019 30.5482C32.9593 32.9535 33.6965 35.6516 33.7734 38.5521C33.7924 39.258 33.5666 39.7491 32.9443 40.0345H0.939434Z"
                                        fill="#225EC9" />
                                    <path
                                        d="M16.9668 0.248781C22.535 0.251895 27.0384 4.95044 27.0354 10.7546C27.0334 16.5608 22.5091 21.2344 16.8969 21.2282C11.3257 21.222 6.83731 16.5037 6.8463 10.6632C6.85729 4.91618 11.3946 0.245666 16.9668 0.248781Z"
                                        fill="#225EC9" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_269_191">
                                        <rect width="33.6651" height="39.786" fill="white"
                                            transform="translate(0.109314 0.248779)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="texto">
                            lei 14.133
                        </div>
                    </div>
                    <div class="acesso-rapido">
                        <div class="icone">
                            <svg width="34" height="41" viewBox="0 0 34 41" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_269_191)">
                                    <path
                                        d="M0.939434 40.0345C0.31608 39.7501 0.0873174 39.2601 0.110294 38.5521C0.266132 33.8473 2.08425 29.9793 5.55265 26.977C8.2119 24.6755 11.3067 23.5533 14.7741 23.5606C16.2446 23.5637 17.7141 23.5409 19.1845 23.5647C24.4411 23.6499 28.4919 26.0552 31.4019 30.5482C32.9593 32.9535 33.6965 35.6516 33.7734 38.5521C33.7924 39.258 33.5666 39.7491 32.9443 40.0345H0.939434Z"
                                        fill="#225EC9" />
                                    <path
                                        d="M16.9668 0.248781C22.535 0.251895 27.0384 4.95044 27.0354 10.7546C27.0334 16.5608 22.5091 21.2344 16.8969 21.2282C11.3257 21.222 6.83731 16.5037 6.8463 10.6632C6.85729 4.91618 11.3946 0.245666 16.9668 0.248781Z"
                                        fill="#225EC9" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_269_191">
                                        <rect width="33.6651" height="39.786" fill="white"
                                            transform="translate(0.109314 0.248779)" />
                                    </clipPath>
                                </defs>
                            </svg>


                        </div>
                        <div class="texto">
                            noticias do tcm
                        </div>
                    </div>
                    <div class="acesso-rapido">
                        <div class="icone">
                            <svg width="34" height="41" viewBox="0 0 34 41" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_269_191)">
                                    <path
                                        d="M0.939434 40.0345C0.31608 39.7501 0.0873174 39.2601 0.110294 38.5521C0.266132 33.8473 2.08425 29.9793 5.55265 26.977C8.2119 24.6755 11.3067 23.5533 14.7741 23.5606C16.2446 23.5637 17.7141 23.5409 19.1845 23.5647C24.4411 23.6499 28.4919 26.0552 31.4019 30.5482C32.9593 32.9535 33.6965 35.6516 33.7734 38.5521C33.7924 39.258 33.5666 39.7491 32.9443 40.0345H0.939434Z"
                                        fill="#225EC9" />
                                    <path
                                        d="M16.9668 0.248781C22.535 0.251895 27.0384 4.95044 27.0354 10.7546C27.0334 16.5608 22.5091 21.2344 16.8969 21.2282C11.3257 21.222 6.83731 16.5037 6.8463 10.6632C6.85729 4.91618 11.3946 0.245666 16.9668 0.248781Z"
                                        fill="#225EC9" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_269_191">
                                        <rect width="33.6651" height="39.786" fill="white"
                                            transform="translate(0.109314 0.248779)" />
                                    </clipPath>
                                </defs>
                            </svg>


                        </div>
                        <div class="texto">
                            biografia da cidade
                        </div>
                    </div>
                </div>
                <button class="btn btn-banner">
                    ACESSAR PÁGINA DE NOTÍCIAS
                </button>
            </div>
            <div class="col-md-6">
                <div class="titulo">
                    ÚLTIMAS NOTÍCIAS
                </div>
                <app-slider></app-slider>
                <button class=" btn btn-banner">
                    ACESSAR PÁGINA DE NOTÍCIAS
                </button>
            </div>
        </div>
    </div>
</div>
<div class="noticias-gerais">
    <div class="d-flex">
        <div class="img-row w-100" *ngFor="let content of images">
            <img class="img-fluid w-100" [src]="content.img" alt="" >
        </div>
    </div>

    <h1 class="titulo-noticias d-flex justify-content-center">
        Notícias Gerais
    </h1>
    <app-general-news />

    <div class="d-flex mt-4">
        <div class="img-row w-100" *ngFor="let content of images2">
            <img class="img-fluid w-100 h-100" [src]="content.img" alt="" >
        </div>
    </div>
</div>