.bg-banner {
  background: url("/app/assets/bkg/bkg-acesso-rapido.jpg") no-repeat;
  background-size: cover;

  .titulo {
    color: #fff;
    font-size: 20.986px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding-left: 13.12px;
    margin-top: 59px;
    margin-bottom: 15px;

    &::after {
      content: "";
      position: absolute;
      width: 7.87px;
      height: 7.87px;
      background: #fff;
      left: 0;
      top: 11px;
    }
  }

  .btn-banner {
    width: 100%;
    text-align: center;
    border-radius: 22.953px;
    border: 3.06px solid #fff;
    color: #fff;
    font-size: 15.302px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 60px;
  }

  .d-flex-acesso {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;

    .acesso-rapido {
      border-radius: 22.953px;
      background: #fff;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 32%;
      height: 150px;
      max-width: 100%;
      text-align: center;

      &:hover {
        background: #225ec9;
        transition: all 0.3s;
        transition: all 0.7s;

        .texto {
          color: #fff;
        }

        .icone {
          filter: brightness(0) invert(1);
        }
      }

      .icone {
        margin-top: 11px;
        img {
          max-width: 120px;
        }
      }

      .texto {
        color: #225ec9;
        font-size: 15.302px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 11px;
        line-height: 18px;
      }
    }
  }
}

.titulo-noticias {
  color: #225ec9;
  font-size: 37.841px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.487%;
  text-transform: uppercase;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .titulo-noticias {
    text-align: center;
  }
  .d-flex-acesso {
    justify-content: center;
  }
  .acesso-rapido {
    width: 45% !important;
  }
}

.max-height-img {
  img {
    height: 250px;
  }
}
