<div class="bg-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="titulo">ACESSO RÁPIDO</div>
        <div class="d-flex-acesso">
          <ng-container *ngFor="let acesso of acessos">
            <a
              *ngIf="acesso.routerLink"
              class="acesso-rapido text-decoration-none"
              [routerLink]="acesso.routerLink"
            >
              <div class="icone">
                <img [src]="acesso.icon_img"/>
              </div>
              <div class="texto">
                {{ acesso.texto }}
              </div>
            </a>

            <a
              *ngIf="acesso.link"
              class="acesso-rapido text-decoration-none"
              [href]="acesso.link"
              target="_blank"
            >
          
              @if(acesso.icon_img === "../../../assets/logos/Tcu.svg"){
                <div class="icone">
                  <img width="50%" [src]="acesso.icon_img"/>
                </div>
              }
              @else{
                <div class="icone">
                  <img [src]="acesso.icon_img"/>
                </div>
              }
              <div class="texto">
                {{ acesso.texto }}
              </div>
            </a>
          </ng-container>
        </div>
      </div>

      <div class="col-md-6">
        <div class="titulo">ÚLTIMAS NOTÍCIAS</div>
        <app-slider></app-slider>
      </div>

      <button (click)="scrollToNoticias()" class="btn btn-banner" type="button">
        ACESSAR PÁGINA DE NOTÍCIAS
      </button>

    </div>
  </div>
</div>

<div class="noticias-gerais" id="noticias_gerais">
  <div class="d-flex">
    <div class="img-row w-100" *ngFor="let content of images">
      <img class="img-fluid w-100" [src]="content.url" alt="" />
    </div>
  </div>

  <h1 class="titulo-noticias d-flex justify-content-center">Notícias Gerais</h1>
  <app-general-news></app-general-news>

  <div class="d-flex mt-4">
    <div class="img-row w-100" *ngFor="let content of images2">
      <img class="img-fluid w-100 h-100" [src]="content.img" alt="" />
    </div>
  </div>
</div>
