.right-column{
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  
    h2 {
      font-size: 18.38px;
      font-weight: 700;
      line-height: 22.52px;
      text-align: left;
      color: #225ec9;
    }
    .search-bar {
      form {
        display: flex;
        gap:8px;
        align-items: center;

        .logo{
          max-height: 100%;
          width: 90px;
          margin-right: 100px;
        }
        .btn-buscar{
          background: #225EC9;
          border: 1.33px solid #225EC9;
          font-size: 11.11px;
          font-weight: 700;
          line-height: 13.61px;
          text-align: left;
          color: #fff;
          min-width: 135px;
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 35px;
          margin-top: 24px;
        }
        
        label {
          color: #225ec9;
  
          font-size: 13.67px;
          font-weight: 700;
          line-height: 16.74px;
          text-transform: uppercase;
          text-align: center;
        }
        ::ng-deep .input-container {
          position: relative;
          text-align: center;
          cursor: pointer;
          input{
            padding-left: 13px;
            padding-top: 0px;
            min-width: 98px;
          }
          .ng-select{
            min-width: 98px;
            font-size: 11px;
            .ng-value-container{
              padding-left: 27px;
              padding-top: 6px;   
            }
          }
          input, .ng-select-container {
            width: 100%;
            border-radius: 12px;
            border: 1px solid #225ec9;
            height: 35px;
            &::placeholder{
              font-family: Inter;
              font-size: 11.11px;
              font-weight: 500;
              line-height: 13.61px;
              text-align: left;
              color: #225EC980;
            }        
          }
        }
      }
    }
  }
}


.custom-file-input {
  position: relative;
  text-align: center;
  cursor: pointer;
  border: 1px solid #225ec9;
  border-radius: 12px;
  margin-top: 3%;
}

.custom-file-input input[type="file"] {
  width: 100%;
  padding: 13px 33px;
  border-radius: 12px;
  margin-top: 5px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  border: 1px solid #225ec9;
}

.custom-file-input label {
  display: inline-block;
  width: 100%;
  padding: 13px 33px;
  border-radius: 12px;
  margin-top: 5px;
  background-color: #fff;
  color: #225ec980;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.custom-file-input input[type="file"]:focus + label {
  border-color: #225ec9;
  cursor: pointer;
}

.table-container {
  max-width: 100%;
  overflow: auto;
  max-height: 680px;
  min-height: 670px;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    padding-left: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #225ec9;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #0033cc;
  }

  .official-docs-table {
    width: 100%;
    border-collapse: collapse;

    thead {
      th {
        background: #225ec9;
        padding: 20px;
        font-size: 14.33px;
        font-weight: 700;
        line-height: 17.55px;
        text-align: center;
        color: #fff;
      }

      th:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }

      th:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }

    tbody {
      tr {
        font-size: 14.33px;
        font-weight: 500;
        color: #5171ce;
        text-align: center;

        &:nth-child(even) {
          background-color: #f2f2f2;
        }

        &:nth-child(odd) {
          background-color: #ffffff;
        }

        td {
          padding: 12px;

          .download-link {
            color: #0033cc;
            text-decoration: none;
            font-size: 18px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.mat-icon{
  color:#225ec9;
}
.official-docs-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; // Define a largura fixa das colunas

  thead {
    th {
      background: #225ec9;
      padding: 20px;
      font-size: 14.33px;
      font-weight: 700;
      line-height: 17.55px;
      text-align: center;
      color: #fff;

      &:first-child {
        width: max-content; // Aplica max-content para as primeiras colunas
      }

      &:nth-child(2) {
        width: max-content; // Aplica max-content para a segunda coluna
      }

      &:nth-child(3) {
        width: 40%; // Define uma largura maior para a descrição
      }

      &:last-child {
        width: max-content; // Aplica max-content para a última coluna
      }
    }
  }

  tbody {
    tr {
      font-size: 14.33px;
      font-weight: 500;
      color: #5171ce;
      text-align: center;

      &:nth-child(even) {
        background-color: #f2f2f2;
      }

      &:nth-child(odd) {
        background-color: #ffffff;
      }

      td {
        padding: 12px;

        &:nth-child(3) {
          width: 40%; // Aplica a mesma largura maior para a coluna de descrição no corpo da tabela
          text-align: center;
        }

        .download-link {
          color: #0033cc;
          text-decoration: none;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .right-column {
    width: 100%;
    overflow-x: auto;
    max-width: 320px;
  }
}
