<nav class="menu-header">
    <ul class="menu">
      <li><a [relativeTo]="route.parent" [routerLink]="[slug, 'home']">INÍCIO</a></li>
      <!-- <li><a>LEGISLAÇÃO</a></li>
      <li><a href="#">DADOS MUNICIPAIS</a></li>-->
      <li><a (click)="scrollToFooter()" class="pointer" >CONTATO</a></li>

      <div class="dropdown" *ngIf="showCamaraMenu">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Camara
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Agenda do Presidente</a>
          <a class="dropdown-item" href="#">Comissões</a>
          <a class="dropdown-item" href="#">Estrutura Organizacional</a>
          <a class="dropdown-item" href="#">Mesa Diretora</a>
          <a class="dropdown-item" href="#">Regimento Interno</a>
          <a class="dropdown-item" href="#">Vereadores</a>
        </div>
      </div>
    </ul>
    <div class="diario-oficial">
      Diário Oficial (O Art. 37 da Constituição Federal do Brasil de 1988)
    </div>
  </nav>
