<nav class="menu-header">
    <ul class="menu">
      <li><a routerLink="/home">INÍCIO</a></li>
      <li><a routerLink="/legislacao-municipal">LEGISLAÇÃO</a></li>
      <li><a href="#">DADOS MUNICIPAIS</a></li>
      <li><a href="#">NOTÍCIAS</a></li>
      <li><a href="#">CONTATO</a></li>
    </ul>
    <div class="search-container">
      <input type="text" placeholder="BUSQUE POR ALGO AQUI">
      <button type="button">
        <img src="../../../../assets/icons/search-icon.svg" alt="">
      </button>
    </div>
  </nav>
  