<div class="container bg-dark text-white h-auto">
  <h2 class="title">Edição de item da licitação</h2>
  <p class="text-white">servidor de dados (LINUX)</p>
</div>
<div class="container">
  <form [formGroup]="editarItemForm" (ngSubmit)="salvar()">
    <fieldset>
      <legend>Itens da Licitação</legend>

      <div class="form-row">
        <div class="form-group">
          <label for="basic_productive_incentive"
            >Incentivo fiscal PPB (Processo Produtivo Básico)</label
          >
          <label class="toggle-switch">
            <input
              type="checkbox"
              formControlName="basic_productive_incentive"
            />
            <span class="slider"></span>
          </label>
        </div>

        <div class="form-group">
          <label for="confidential_budget">Orçamento sigiloso?</label>
          <label class="toggle-switch">
            <input type="checkbox" formControlName="confidential_budget" />
            <span class="slider"></span>
          </label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="item_type">Material ou Serviço? *</label>
          <select id="item_type" formControlName="item_type">
            <option></option>
            <option
              *ngFor="let option of materialOuServicoEnum"
              [ngValue]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Descrição do item *</label>
          <textarea
            id="description"
            formControlName="description"
            maxlength="2048"
            placeholder="Máximo de caracteres: 2048"
          ></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="quantity">Quantidade *</label>
          <input id="quantity" type="number" formControlName="quantity" />
        </div>

        <div class="form-group">
          <label for="unit_of_measurement">Unidade de medida *</label>
          <select id="item_type" formControlName="unit_of_measurement">
            <option></option>
            <option
              *ngFor="let option of unidadeDeMedidaEnum"
              [ngValue]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="estimated_unit_value">Valor unitário estimado *</label>
          <input
            id="estimated_unit_value"
            type="text"
            formControlName="estimated_unit_value"
            currencyMask
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="total_value">Valor total *</label>
          <input
            id="total_value"
            type="text"
            formControlName="total_value"
            currencyMask
            class="form-control"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="contract_item_situation_id">Situação do item *</label>
          <input
            id="contract_item_situation_id"
            type="text"
            formControlName="contract_item_situation_id"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="ncm_nbs_code">Código NCM/NBS</label>
          <input id="ncm_nbs_code" type="text" formControlName="ncm_nbs_code" />
        </div>

        <div class="form-group">
          <label for="ncm_nbs_description">Descrição NCM/NBS</label>
          <textarea
            id="ncm_nbs_description"
            formControlName="ncm_nbs_description"
            maxlength="2048"
          ></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="change_reason">Motivo da edição</label>
          <textarea
            id="change_reason"
            formControlName="change_reason"
            maxlength="2048"
          ></textarea>
        </div>
      </div>
    </fieldset>

    <button type="submit" class="btn bg-dark text-white hover-sucesso">Salvar</button>
  </form>
</div>
