.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.container-edit {
  margin: 0 auto;
  max-width: 1620px !important;
}

.header {
  width: 100%;
  display: flex;
  margin-top: 50px;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 10px 10px 0 0;
  color: #fff;
}

.back-button {
  cursor: pointer;
  border-radius: 27.063px;
  background: #fff;
  display: inline-flex;
  padding: 14.362px 48.64px 11.654px 48.36px;
  justify-content: center;
  align-items: center;
  font-size: 17.739px;
  font-style: normal;
  font-weight: 600;
  color: #517cc7;
  width: max-content !important;
  border: none;
  text-align: center;
}

.title {
  font-size: 33.987px;
  font-style: normal;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
}

.content {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.7;
  border-right: 1px solid #d9d9d9;
  height: 100%;
  justify-content: space-around;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.logo {
  width: auto;
}

.year-container {
  margin-top: 10px;
  width: 150px;
}

.month-container {
  width: 150px;
}

.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
}

::ng-deep {
  .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
    .mat-mdc-text-field-wrapper {
    cursor: pointer;
    border-radius: 22.059px;
    border: 3.309px solid #3566f3;
  }

  .mat-mdc-select-value {
    color: #3566f3;
    text-transform: uppercase;
  }
}

.form-container {
  width: 100%;
  text-align: left;
}

.form-title {
  color: #225ec9;
  font-size: 35.793px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-title2 {
  color: #225ec9;
  font-size: 17.385px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: -10px;
}

mat-form-field {
  width: 100%;
  padding-bottom: 20px;
}

button {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .filter-container {
    height: 100%;
  }

  .content {
    flex-wrap: wrap;
  }

  .form-title {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

  .form-title2 {
    font-size: 14px;
    margin: 0;
  }

  .left-column {
    border: none;
    flex-direction: column-reverse;
    width: 100%;
    margin-right: 0;

    .logo-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      img {
        width: 50%;
      }
    }
  }
}
