<div class="bkg-administrativo">
    <div class="container">
        <h1>GERENCIADOR DE DIÁRIOS OFICIAIS</h1>
        <div class="d-flex justify-content-center">
            <div class="button-voltar" routerLink="/menu-diario-oficial-administrativo">
                Voltar
            </div>
            <p class="text-center">
                Essa é a lista de documentos cadastrados até o momento, <br> não encontrou o seu aqui? Entre em contato
                com a Assistech
            </p>
        </div>
        <div class="gerenciador-content">
            <div class="table-container">
                <table>
                    <thead>
                        <tr class="bold">
                            <th>DATA</th>
                            <th>EDIÇÃO</th>
                            <th>ARQUIVO</th>
                            <th>STATUS</th>
                            <th>AÇÕES</th>
                            <th>ANEXAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doc of documents">
                            <td>{{ doc.date }}</td>
                            <td>{{ doc.edition }}</td>
                            <td>{{ doc.file }}</td>
                            <td>{{ doc.status }}</td>
                            <td>
                                <div class="actions">
                                    <div class="btn-action">
                                        <div class="megaphone"></div>
                                    </div>
                                    <div class="btn-action ">
                                        <div class="clipboard"></div>
                                    </div>
                                    <div class="btn-action ">
                                        <div class="check"></div>
                                    </div>
                                </div>
                            </td>
                            <td><button class="btn-attach">ANEXAR</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
