<!-- Formulário Principal -->
<div>
  <h2 class="title-page">PUBLICAR NO DIÁRIO OFICIAL</h2>
  <div class="d-flex">
    <p class="text-left">
      Antes de enviar, certifique-se de que todas as informações preenchidas<br />
      nos campos abaixo estão corretas!
    </p>
    <div class="btn-voltar ms-2" (click)="goBack()">
      <mat-icon>person</mat-icon><span>voltar</span>
    </div>
  </div>
</div>
<div class="form-publicar-diario">
  <strong class="mb-4">CADASTRO DIÁRIO OFICIAL</strong>
  <div class="d-flex justify-content-start align-items-center mt-4">
    <form
      class="form-sem-agenda"
      [formGroup]="filtroForm"
      (ngSubmit)="onFormSubmit($event)">
      <!-- Campo Data -->
       @if(!isStaff){
        <div class="form-group w-100">
          <label>DATA</label>
          <input
            type="text"
            class="form-control mb-4"
            [value]="filtroForm.get('date')?.value | date : 'dd/MM/yyyy'"
            readonly
            [disabled]="true"
          />
        </div>
       }
       @else {
        <div class="form-group w-100">
          <label>DATA</label>
          <input
            type="text"
            class="form-control mb-4"
            formControlName="date"
            [disabled]="true"
            [maxDate]="minDate"
            [bsConfig]="bsConfig"
            placeholder="Data"
            bsDatepicker
          />
        </div>
       }
      <!-- Campo Descrição -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>DESCRIÇÃO</mat-label>
        <textarea
          matInput
          formControlName="description"
          required
          rows="6"
        ></textarea>
        <mat-error *ngIf="filtroForm.get('description')?.errors?.['required']">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <!-- Campo Arquivo -->
      <div class="file-upload-section">
        <label class="mat-label">ARQUIVO</label>
        <div class="file-section mat-elevation-z0 d-flex">
          <button
            type="button"
            (click)="fileInput.click()"
            class="btn bg-dark text-white rounded-0"
          >
            ADICIONAR ARQUIVOS
          </button>
          <input
            #fileInput
            type="file"
            class="file-input"
            (change)="onFileChangeAgendado($event, 'files')"
            accept=".pdf"
            formControlName="files"
            multiple
            hidden
          />
          <div
            class="file-info d-flex align-items-center flex-column justify-content-center bg-light px-4"
          >
            <p class="no-file mt-2 ms-2" *ngIf="!selectedFiles.length">
              ARQUIVOS
            </p>
          </div>
        </div>
        <small><i>TIPOS DE ARQUIVO ACEITOS: .PDF</i></small>
      </div>

      <!-- Lista de Arquivos -->
      <div class="upload-content" *ngIf="selectedFiles.length > 0">
        <table class="table table-editada table-bordered table-sm mt-5">
          <thead>
            <tr>
              <th>Arquivos Anexados</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of selectedFiles; let i = index">
              <td class="p-3">{{ file.name }}</td>
              <td>
                <div class="row">
                  <div class="col">
                    <button
                      mat-icon-button
                      color="primary"
                      (click)="viewFile($event, file)"
                    >
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                  <div class="col">
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="removeFile(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <button
        type="submit"
        class="btn bg-dark text-white w-25 mt-4 hover-sucesso"
        [disabled]="!filtroForm.valid"
      >
        Enviar
      </button>
    </form>
  </div>

  <!-- Botão de Agendamento -->
  <button
    mat-stroked-button
    color="primary"
    class="btn bg-dark text-white mt-4"
    (click)="openModal(template)"
  >
    Agendar publicação
  </button>
</div>

<!-- Modal Template -->
<ng-template #template>
  <div class="modal-header d-flex justify-content-between">
    <h4 mat-dialog-title>Agendar Publicação</h4>
    <mat-icon class="cup" (click)="modalRef?.hide()">close</mat-icon>
  </div>

  <mat-dialog-content class="modal-body">
    <form [formGroup]="formAgendado" (ngSubmit)="onSubmitAgendado()">
      <!-- Campo Datepicker -->
      <div class="mb-3">
        <label for="dataAgendada">Data Agendada</label>
        <input
          type="text"
          class="form-control"
          [minDate]="minDate"
          [bsConfig]="bsConfig"
          placeholder="Data"
          formControlName="date"
          bsDatepicker
          required
        />
        <div
          *ngIf="formAgendado.get('date')?.errors?.['required'] && formAgendado.get('date')?.touched"
          class="invalid-feedback"
        >
          Campo obrigatório
        </div>
      </div>

      <!-- Campo Arquivo -->
      <div class="file-upload-section">
        <label class="mat-label">ARQUIVO</label>
        <div class="file-section mat-elevation-z0 d-flex">
          <input
            #fileInput
            type="file"
            class="file-input"
            (change)="onFileChangeAgendado($event, 'files')"
            accept=".pdf"
            formControlName="files"
            multiple
            hidden
          />
          <button
            type="button"
            (click)="fileInput.click()"
            class="btn bg-dark text-white"
          >
            SELECIONAR ARQUIVO
          </button>
          <div
            class="file-info d-flex align-items-center flex-column justify-content-center"
          >
            <p class="no-file mt-2 ms-2" *ngIf="!selectedFiles.length">
              NENHUM ARQUIVO SELECIONADO
            </p>
          </div>
        </div>
        <small><i>TIPOS DE ARQUIVO ACEITOS: .PDF</i></small>
      </div>

      <!-- Lista de Arquivos -->
      <div class="upload-content" *ngIf="selectedFiles.length > 0">
        <table class="table table-editada table-bordered table-sm mt-5">
          <thead>
            <tr>
              <th>Arquivos Anexados</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of selectedFiles; let i = index">
              <td class="p-3">{{ file.name }}</td>
              <td>
                <div class="row">
                  <div class="col">
                    <button
                      mat-icon-button
                      color="primary"
                      (click)="viewFile($event, file)"
                    >
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                  <div class="col">
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="removeFile(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Descrição</mat-label>
        <textarea
          matInput
          formControlName="description"
          required
          rows="4"
        ></textarea>
        <mat-error
          *ngIf="formAgendado.get('description')?.errors?.['required']"
        >
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <div
        class="d-flex justify-content-center align-items-center flex-column gap-2 w-100 mt-3"
      >
        <button
          type="submit"
          class="w-100 hover-sucesso btn bg-dark text-white"
          [disabled]="!formAgendado.valid"
        >
          Confirmar Agendamento
        </button>
        <button
          mat-stroked-button
          type="button"
          class="w-100"
          (click)="closeModal()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>
