<div class="bkg-administrativo">
    <div class="d-flex justify-content-center flex-wrap">
      <app-layout-forms-adm 
        [titulo_pagina]="'PPA'" 
        [form]="ppaForm" 
        [dynamicFields]="dynamicFields" 
        (formSubmit)="onFormSubmit(ppaForm)">
      </app-layout-forms-adm>
      
      <app-layout-forms-adm 
        [titulo_pagina]="'LDO'" 
        [form]="ldoForm" 
        [dynamicFields]="dynamicFields" 
        (formSubmit)="onFormSubmit(ldoForm)">
      </app-layout-forms-adm>
  
      <app-layout-forms-adm 
        [titulo_pagina]="'LOA'" 
        [form]="loaForm" 
        [dynamicFields]="dynamicFields" 
        (formSubmit)="onFormSubmit(loaForm)">
      </app-layout-forms-adm>
    </div>
  </div>
  