@import "ngx-toastr/toastr";
@import "ngx-bootstrap/datepicker/bs-datepicker.css";
html,
body {
  height: 100%;
}

.pointer{
  cursor: pointer;
}

@media print {
  #printContainer > div {
    display: inline;
  }
}

select:disabled {
  background: #ededed;
}

.unverified-signature-warning {
  display: none;
}

.toast-container {
  position: fixed !important;
}
.custom-dialog-container {
  max-height: 90vh;
  overflow-y: auto;
}

.btn-edit btn-format {
  border: none;
}

.nao-encontrado {
  justify-content: CENTER;
  display: flex;
  color: #8d8d8d;
  margin-top: 11px;
  margin-bottom: 13px;
}

.ng-select {
  width: 100%;
}
div.w-esq-side {
  width: 178px;
}
div.w-dir-main {
  width: calc(100% - 178px);
}
@media (max-width: 768px) {
  div.w-esq-side {
    width: 100%;
  }
  div.w-dir-main {
    width: 100%;
  }
}

body {
  font-family: "Inter", sans-serif !important;
  transition: all 0.5s;
  margin: 0;

  .btn-padrao__hover {
    background-color: #fff;
    max-height: 98px;
    border-radius: 15px;
    padding: 5px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    .btn-padrao__perfil-icon {
      background-image: url("/assets/icons/perfil-icon-azul.svg");
      background-repeat: no-repeat;
      width: 22px;
      height: 26px;
      margin-bottom: 5px;
    }

    .btn-padrao__text {
      margin: 0;
      font-size: 10px;
      color: #225ec9;
      text-transform: uppercase;
      white-space: nowrap;
      font-weight: 700;
    }

    &:hover {
      background-color: #225ec9;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transition: background-color 0.3s ease, color 0.3s ease;

      .btn-padrao__perfil-icon {
        background-image: url("/assets/icons/perfil-icon-branco.svg");
      }

      .btn-padrao__text {
        color: #fff;
      }
    }
  }

  .btn-padrao {
    background-color: #fff;
    max-height: 98px;
    border-radius: 15px;
    padding: 5px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  .bold {
    font-weight: 800;
  }

  .btn {
    .spinner-border {
      margin-left: 12px;
      font-size: 9px;
      width: 20px;
      height: 20px;
    }
  }
}

.btn-padrao__perfil-icon {
  background-image: url("/assets/icons/perfil-icon-azul.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 26px;
  margin-bottom: 5px;
}

.table {
  padding: 24px 104px 1px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.filtro-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border-radius: 15px;
  background: #3566f3;
  padding: 20.5px 30px 19px 15px;
  align-items: center;

  .textos {
    p {
      margin: 0;
    }
  }

  input {
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    width: 200px;
    margin-left: 10px;
  }
}

.white-space {
  white-space: nowrap;
}

.mt-10 {
  margin-top: 10px;
}
.bkg-bottom {
  margin-bottom: 30px;
}
.bkg-login {
  background-image: url("../src/assets/bkg/bkg-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bkg-diario {
  background-image: url("../src/assets/bkg/bkg-ata-das-sessoes.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bkg-diario-novo {
  background-image: url("../src/assets/bkg/diario-oficial-bkg-novo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bkg-administrativo {
  background-image: url("../src/assets/bkg/bkg-administrativo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bkg-dashboard {
  background-image: url("../src/assets/bkg/bkg-dashboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.adm-class div.bkg-header {
  background-image: url("../src/assets/bkg/bkg-header-login.png");
  background-size: cover;

  .buttons-header {
    display: none;
  }

  .col-md-4 {
    width: auto;
    justify-content: center;
  }

  .text1,
  .text2 {
    color: #000 !important;
  }
}

.adm-class {
  footer.footer {
    background-color: #272727;
  }
  div {
    &.latest-news_header {
      display: none;
    }
  }
  nav {
    &.menu-header {
      display: none;
    }
  }
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.home-class {
  div {
    &.bkg-header {
      background-image: url("../src/assets/bkg/bkg-header-azul.png");
      background-size: cover;
    }
  }
}

.habilitado {
  font-style: italic;
  font-weight: 500;
  line-height: 12.25px;
  color: #16cc47;
}

.desabilitado {
  font-style: italic;
  font-weight: 500;
  line-height: 12.25px;
  color: #db4646;
}
.btn-auth {
  background: #328b1c;
  img {
    filter: none !important;
  }
}
.btn-enviar {
  width: calc(100vw / 4.5) !important;
}
.btn-enviar:hover {
  background-color: #328b1c !important;
}
@media (max-width: 768px) {
  .btn-enviar {
    width: 100%;
  }
}
.btn-format {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
    filter: invert(1);
  }
  svg {
    filter: invert(1);
    width: 20px;
    height: 20px;
  }
}
.legenda-icons {
  font-size: 12px;
  text-align: center;
}
.btn-visualizar {
  background-color: #4338ca;
}
.btn-edit {
  background-color: #2dd4bf;
}
.btn-resultados {
  background-color: #16cc47;
  img {
    filter: none !important;
  }
}
.btn-atas {
  background-color: #374151;
}
.btn-itens {
  background-color: #fbbf24;
}
.btn-arquivo {
  background-color: #3b82f6;
}
.btn-remove {
  background-color: #ef4444 !important;
  img {
    filter: brightness(2);
  }
}
.btn-cancelar {
  background-color: #ef4444 !important;
  svg {
    filter: invert(1);
  }
}
.btn-remove-page {
  background-color: #ef4444 !important;
  img {
    min-width: 35px;
    min-height: 35px;
  }
}
.mat-edit {
  width: 31px;
  height: 31px;
  mat-icon {
    margin-top: 1vh;
    font-size: 15px;
  }
}

.data-campo {
  width: 100%;

  .mat-mdc-form-field-flex {
    background-color: transparent !important;
  }

  .mat-mdc-form-field-infix {
    background-color: transparent !important;
  }

  .mat-mdc-text-field-wrapper {
    background-color: transparent !important;
  }

  .mat-mdc-form-field-input-control {
    height: 80px !important;
  }
  .mdc-line-ripple::before {
    border-bottom-width: 0px !important;
  }
  .mdc-text-field__input {
    font-size: 25px !important;
    padding-left: 25px !important;
  }
}
.cup {
  cursor: pointer;
}

@media (max-width: 768px) {
  label {
    font-size: 14px !important;
  }

  .filtro-container {
    flex-wrap: wrap;
  }

  form {
    flex-wrap: wrap;
  }

  .filtro-container {
    .ata-da-sessao {
      font-size: 14px !important;
      padding-left: 0px !important;
    }
  }

  .date-inputs {
    display: flex;
    gap: 2px;

    input {
      font-size: 12px !important;
      width: 35px !important;

      &:nth-child(3) {
        width: 45px !important;
      }
    }
  }
}

@media (min-width: 1660px) {
  .altura {
    min-height: 86.5vh;
  }
}
@media (min-width: 769px) and (max-width: 1660px) {
  .altura {
    min-height: 83.6vh;
  }
}
@media (max-width: 768px) {
  .altura {
    height: 100%;
  }
}
::ng-deep {
  .mdc-text-field--no-label:not(.mdc-text-field--textarea)
    .mat-mdc-form-field-input-control.mdc-text-field__input,
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    color: #000 !important;
  }
}

.text-left {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 122.487%;
}

.button-voltar {
  font-size: 13px;
  font-weight: 500;
  padding: 5px 36px;
  box-shadow: 0 2px 3.3px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  background-color: #ebebeb;
  border: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  height: 32px;
  cursor: pointer;
}

.pagina-interna {
  color: #000;
  font-size: 26.131px;
  font-style: normal;
  font-weight: 600;
  line-height: 122.487%;
  text-transform: uppercase;
  margin-top: 2vh;
}
.strong_font {
  font-weight: 700;
  color: #000;
}

/* Estilo para status "ativa" */
.tx-green {
  background: #e0efe3;
  color: #28a745;
  border: 2px solid #1c7a30;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: capitalize;
  display: inline-block;
}
.tx-red {
  background: #efe0e0;
  color: #a72828;
  border: 2px solid #7a1c1c;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: capitalize;
  display: inline-block;
}
.tx-mustard {
  background: #efece0;
  color: #a79a28;
  border: 2px solid #7a711c;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: capitalize;
  display: inline-block;
}

.table-editada {
  width: 100% !important;
  thead {
    background-color: #ebebeb;
    border: 1px solid #d4d3d3;
    tr {
      th {
        color: #000;
        text-align: left;
        font-size: 12.527px;
        font-style: normal;
        font-weight: 600;
        line-height: 122.487%;
        background: #ebebeb;
        border: none;
        text-align: center;
        padding: 13px 0px;
      }
    }
  }

  tbody {
    td {
      border: 1px solid #d4d3d3;
      text-align: center;
    }
    tr {
      &:nth-child(even) {
        background-color: #ebeaea !important;
      }

      &:nth-child(odd) {
        background-color: #ffffff !important;
      }
    }
  }
}

.form-itens-licitacao {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 500px;
  width: 100%;
  padding-right: 15px;

}

.form-itens-licitacao::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.form-itens-licitacao::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Cor do indicador da barra */
  border-radius: 4px; /* Deixe o indicador com cantos arredondados */
}

.form-itens-licitacao::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Cor do fundo do trilho */
}
.btn-close {
  filter: invert(1);
}

.hover-sucesso:hover {
  transition: all 0.6s;
  border: 1px solid #28a745 !important;
  background-color: #18752e !important;
}
.btn-voltar {
  display: flex;
  width: 106px;
  height: 32px;
  padding: 15px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 8.947px;
  border-radius: 3.579px;
  border: 0.895px solid rgba(0, 0, 0, 0.06);
  background: #ebebeb;
  box-shadow: 0px 2px 3.3px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  mat-icon {
    width: 22.263px;
    height: 22.053px;
    margin: 0;
    padding: 0;
  }
  span {
    border: none;
    color: #1f1f1f;
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;
  }
}
