<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-grid"
    [ngClass]="{ 'two-columns': dynamicFields.length > 4 }"
  >
    <div
      *ngFor="let field of dynamicFields"
      [ngClass]="{
        'full-width': field.type === 'file' || field.type === 'title'
      }"
    >
      <div *ngIf="field.type === 'title'" class="full-width">
        <h3 class="form-title mt-4">{{ field.label }}</h3>
      </div>

      <div *ngIf="field.type === 'text' || field.type === 'number'">
        <label>{{ field.label }}</label>
        <input
          [type]="field.type"
          [formControlName]="field.name"
          class="form-control"
          [required]="field.required"
        />
      </div>

      <div *ngIf="field.type === 'textarea'">
        <label>{{ field.label }}</label>
        <textarea
          [formControlName]="field.name"
          class="form-control"
          [required]="field.required"
        ></textarea>
      </div>

      <div *ngIf="field.type === 'select'">
        <label>{{ field.label }}</label>
        <select [formControlName]="field.name" class="form-control">
          <option value="" disabled selected hidden>
            {{ field.placeholder || "Selecione" }}
          </option>
          <option *ngFor="let option of field.options" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>

      <!-- Campo Datepicker -->
      <div *ngIf="field.type === 'date'">
        <mat-form-field appearance="fill" class="full-width data-campo">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [formControlName]="field.name"
            [required]="field.required"
            (focus)="picker.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div
        *ngIf="field.type === 'file' && field.fileType === 'complex'"
        class="file-upload-wrapper d-flex flex-wrap justify-content-center"
      >
        <div>
          <label>
            {{ field.label }}
            <h5 class="obrigatorio-complex form-title">(Obrigatório)</h5>
          </label>
        </div>
        <div class="bkg-button">
          <input
            type="file"
            (change)="onFileChange($event, field.name)"
            class="form-control-file"
            [accept]="field.accept"
          />
        </div>
      </div>

      <div *ngIf="field.type === 'file' && field.fileType === 'complex'">
        <p class="file-upload-instructions">
          {{nameFile}} <br>
          Tipos de arquivo aceitos: pdf, Máx. tamanho do arquivo:
          <strong>5 MB</strong>, Máx. arquivos: 5
        </p>
      </div>

      <div
        *ngIf="field.type === 'file' && field.fileType === 'simple'"
        class="file-upload-wrapper_simple"
      >
        <label>
          {{ field.label }}
          <h5 class="obrigatorio-simple form-title">(Obrigatório)</h5>
        </label>
        <input
          type="file"
          (change)="onFileChange($event, field.name)"
          class="form-control-file"
          [accept]="field.accept"
        />
        <p class="aviso-capacidade">MÁX. Tamanho do arquivo: 100mb.</p>
      </div>

      <div *ngIf="field.type === 'checkbox'">
        <div class="container-label mt-4">
          <span class="label-text">
            <label>{{ field.label }}</label>
          </span>
          <label class="switch">
            <input
              type="checkbox"
              [formControlName]="field.name"
              class="form-control"
              [required]="field.required"
            />
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="!form.valid" class="btn btn-primary mt-10 mt-4">Enviar</button>
</form>
