form {

  label {
    display: flex;
    justify-content: center;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.6px;
  }

  select {
    appearance: none;
    outline: none;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to top, #ffffff, #f2f2f2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  select:hover,
  select:focus {
    border-color: #aaa;
  }

  select:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  option {
    padding: 12px 20px;
    font-size: 16px;
  }

  select:focus {
    background-color: #fff;
  }

  select::after {
    content: "\25BC";
    position: absolute;
    top: calc(50% - 10px);
    right: 12px;
    font-size: 16px;
    pointer-events: none;
  }

  .form-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    @media (min-width: 768px) {
      &.two-columns {
        display: grid !important;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }

    .full-width {
      grid-column: span 2;
    }
  }

  .file-upload-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    .bkg-button {
      background: url("../../../../assets/sem_categoria/solte_arquivo.png")
        no-repeat center center;
      background-size: contain;
      width: 100%;
      height: 175px;
    }
    .form-control-file {
      margin-bottom: 20px;
    }

    .upload-container {
      display: flex;
      padding: 20px 30px;
      background-color: #d9d9d9;
      border-radius: 10px;
      text-align: center;
      font-size: 16px;
      color: #848484;
      border: 3px solid #c0c0c0;
      position: relative;
      cursor: pointer;
      transition: background-color 0.3s ease;
      justify-content: center;
      align-items: center;
      width: 70%;
      &:hover {
        background-color: #cfcfcf; // Cor do fundo ao passar o mouse
      }

      input[type="file"] {
        opacity: 0; // Oculta o input original
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
      }

      .upload-icon {
        display: block;
        margin-bottom: 10px;
        font-size: 30px; // Tamanho do ícone
      }
      .upload-text {
        color: #a1a1a1;
        width: 40%;
        font-size: 17.89px;
        font-weight: 700;
        line-height: 21.91px;
        text-align: center;
      }
    }
  }

  .file-upload-wrapper_simple {
    cursor: pointer;

    .aviso-capacidade {
      color: #000;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
    }

    input[type="file"] {
      cursor: pointer;
      height: 51px;
    }
  }

  textarea {
    flex-shrink: 0;
    border-radius: 5px;
    border: 2.663px solid #696969;
    opacity: 0.7;
    opacity: 1;
    width: 100%;
  }

  input,
  select {
    height: 51px !important;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2.663px solid #696969;
    opacity: 0.7;
    width: 100%;
  }

  .file-upload-instructions {
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
  }

  .btn {
    display: flex;
    width: 100%;
    height: 51px;
    padding: 26.632px 114.157px 27.222px 113.633px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 26.633px;
    border: 2.663px solid #000;
    opacity: 0.9;
    background: #000;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .container-label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    max-width: 533px;
    max-height: 79.9px;
    padding: 19.23px 83px 19.67px 83px;
    border-radius: 5px;
    border: 2.66px solid #5e5e5e;
    .label-text {
      label {
        margin-top: 0px;
      }
    }
  }

  .label-text {
    font-weight: bold;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 0px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 60px;
    border-radius: 8px;
    border: 2.66px solid #5e5e5e;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 2.66px solid #5e5e5e;
  }

  input:checked + .slider {
    background-color: #774343;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #5e5e5e;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .obrigatorio-simple {
    display: none;
    font-size: 10px;
    font-weight: 400;
    color: #852d2d;
    font-style: italic;
  }
  .obrigatorio-complex {
    display: none;
    font-size: 10px;
    font-weight: 400;
    color: #852d2d;
    font-style: italic;
  }
  @media (max-width: 768px) {
    .form-grid {
      display: flex;
      flex-direction: column;
    }

    .file-upload-wrapper {
      margin-top: 0px !important;

      .form-control-file {
        margin-bottom: 0px !important;
      }
    }

    .file-upload-instructions {
      margin-top: 10px;
    }
  }
}
::ng-deep{
  .mat-mdc-form-field-infix{
    padding: 0px !important;
  }
  .mat-mdc-text-field-wrapper{
    padding-left: 0px !important;
  }
  .mat-mdc-form-field-icon-prefix, .mat-mdc-form-field-icon-suffix{
    display: none;
  }
}
