<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of dynamicFields">
      <mat-form-field *ngIf="field.type === 'text'">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [formControlName]="field.name" required>
      </mat-form-field>
      
      <mat-form-field *ngIf="field.type === 'number'">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [formControlName]="field.name" type="number" required>
      </mat-form-field>
  
      <div *ngIf="field.type === 'file'">
        <input type="file" (change)="onFileChange($event, field.name)">
      </div>
    </div>
  
    <button mat-raised-button type="submit">Enviar</button>
  </form>
  