
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of dynamicFields">
    <div *ngIf="field.type === 'text' || field.type === 'number'">
      <label>{{ field.label }}</label>
      <input type="{{ field.type }}" [formControlName]="field.name" class="form-control" [required]="field.required">
    </div>
    
    <div *ngIf="field.type === 'file'">
      <label>{{ field.label }}</label>
      <input type="file" (change)="onFileChange($event, field.name)" class="form-control-file">
    </div>
  </div>

  <button type="submit" class="btn">Enviar</button>
</form>
