<div class="mt-4">
  <h3 class="mb-3">ATAS DE REGISTRO DE PREÇOS</h3>

  <div class="info-header d-flex justify-content-between mb-3">
    <div>
      <strong>LICITAÇÃO Nº:</strong>
      <span>{{ licitacao.number }}/{{ licitacao.year }}</span>
    </div>
    <div>
      <strong>NÚMERO DA COMPRA:</strong>
      <span>{{ licitacao.process_number }}</span>
    </div>
  </div>

  <div class="action-button text-end mb-3 justify-content-end d-flex">
    <button
      class="btn btn-dark d-flex justify-content-center align-items-center"
      (click)="openModal(addAtaModal)"
    >
      <mat-icon>add</mat-icon> Adicionar Nova Ata
    </button>
  </div>

  <div class="table-responsive">
    <table class="table-editada table-bordered">
      <thead>
        <tr>
          <th>Nº da Ata</th>
          <th>Ano</th>
          <th>Data da Assinatura</th>
          <th>Início da Vigência</th>
          <th>Fim da Vigência</th>
          <th>Status</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ata of atas">
          <td>{{ ata.numero }}</td>
          <td>{{ ata.ano }}</td>
          <td>{{ ata.data_assinatura | date : "dd/MM/yyyy" }}</td>
          <td>{{ ata.inicio_vigencia | date : "dd/MM/yyyy" }}</td>
          <td>{{ ata.fim_vigencia | date : "dd/MM/yyyy" }}</td>
          <td class="text-center">
            <strong
              [ngClass]="{
                'tx-mustard': ata.status === 'pendente',
                'tx-green': ata.status === 'ativa',
                'tx-red': ata.status === 'cancelada'
              }"
              class="status-label"
            >
              {{ ata.status | titlecase }}
            </strong>
          </td>

          <td class="text-center">
            <div class="d-flex justify-content-center gap-4 py-1">
              <!-- Botão de Visualizar -->
              <div class="d-flex flex-column align-items-center">
                <a
                  (click)="irParaPncp(ata)"
                  class="btn-visualizar btn-format d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../../../../../assets/icons/visualizar-adm-icon.svg"
                    alt="Visualizar"
                  />
                </a>
                <span class="mt-1 legenda-icons">Visualizar</span>
              </div>

              <!-- Botões disponíveis apenas para status diferente de 'cancelada' -->
              <ng-container *ngIf="ata.status !== 'cancelada'">
                <div class="d-flex flex-column align-items-center">
                  <a
                    class="btn-edit btn-format d-flex justify-content-center align-items-center"
                    (click)="openEditModal(editAtaModal, ata)"
                  >
                    <img
                      src="../../../../../assets/icons/edit-icon-adm.svg"
                      alt="Editar"
                    />
                  </a>
                  <span class="mt-1 legenda-icons">Editar</span>
                </div>
                <div class="d-flex flex-column align-items-center">
                  <a
                    (click)="openArquivosModal(cancelamentoModal, ata)"
                    class="btn-cancelar btn-format d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="../../../../../assets/icons/cancelar-adm-icon.svg"
                      alt="Cancelar"
                    />
                  </a>
                  <span class="mt-1 legenda-icons">Cancelar</span>
                </div>
              </ng-container>

              <!-- Botão de Arquivos (exibido somente se não for cancelada) -->
              <ng-container *ngIf="ata.status !== 'cancelada'">
                <div class="d-flex flex-column align-items-center">
                  <a
                    class="btn-arquivo btn-format d-flex justify-content-center align-items-center"
                    (click)="openArquivosModal(modalArquivosLicitacao, ata)"
                  >
                    <img
                      src="../../../../../assets/icons/arquivo-adm-icon.svg"
                      alt="Arquivos"
                    />
                  </a>
                  <span class="mt-1 legenda-icons">Arquivos</span>
                </div>
              </ng-container>

              <!-- Botão de Excluir -->
              <div class="d-flex flex-column align-items-center">
                <button
                  (click)="openDeleteModal(ata, deleteModal)"
                  class="btn-remove btn-format d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../../../../../assets/icons/remove-icon.svg"
                    alt="Deletar"
                  />
                </button>
                <span class="mt-1 legenda-icons">Excluir</span>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="atas.length === 0 && !isLoading">
          <td colspan="7" class="text-center text-muted">
            Nenhuma ata encontrada.
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="bkg-bottom d-flex justify-content-between align-items-center mt-3 flex-wrap"
  >
    <span class="resultado me-3">{{ atas.length }} resultados</span>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="goToPage(1)" aria-label="Primeira">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link"
            (click)="goToPreviousPage()"
            aria-label="Anterior"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item active">
          <span class="page-link bg-dark border-0">{{ currentPage }}</span>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="goToNextPage()" aria-label="Próxima">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a
            class="page-link"
            (click)="goToPage(totalPages)"
            aria-label="Última"
          >
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Modal -->
<ng-template #addAtaModal>
  <div class="modal-header bg-dark text-white">
    <h5 class="modal-title">{{ modalTitle }}</h5>
    <button
      type="button"
      class="btn-close text-white"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>

  <div class="modal-body">
    <p class="text-muted mb-4">Informe os dados da ATA</p>
    <form [formGroup]="formAta" class="row g-3">
      <!-- Número da ATA -->
      <div class="col-md-6">
        <label class="form-label">Número da ATA *</label>
        <input
          type="text"
          class="form-control"
          placeholder="Número da ATA"
          formControlName="price_registry_number"
        />
      </div>

      <!-- Ano da ATA -->
      <div class="col-md-6">
        <label class="form-label">Ano da ata *</label>
        <input
          type="number"
          class="form-control"
          placeholder="Ano da ata"
          formControlName="year_of_registry"
        />
      </div>

      <!-- Início da Vigência -->
      <div class="col-md-6">
        <label class="form-label">Início de Vigência *</label>
        <input
          type="date"
          class="form-control"
          formControlName="start_date_of_validity"
        />
      </div>

      <!-- Fim da Vigência -->
      <div class="col-md-6">
        <label class="form-label">Fim da Vigência *</label>
        <input
          type="date"
          class="form-control"
          formControlName="end_date_of_validity"
        />
      </div>

      <!-- Data da Assinatura -->
      <div class="col-md-6">
        <label class="form-label">Data da assinatura *</label>
        <input
          type="date"
          class="form-control"
          formControlName="signature_date"
        />
      </div>

      <!-- Tipo de Documento -->
      <div class="col-md-6">
        <label class="form-label">Tipo de documento *</label>
        <select class="form-control" formControlName="document_type_id">
          <option value="" disabled selected>Selecionar</option>
          <option *ngFor="let tipo of tiposDocumentos" [ngValue]="tipo.value">
            {{ tipo.key }}
          </option>
        </select>
      </div>

      <!-- Título do Documento -->
      <div class="col-12">
        <label class="form-label">Título do documento *</label>
        <input
          type="text"
          class="form-control"
          placeholder="Título do documento"
          formControlName="document_title"
        />
      </div>

      <!-- Motivo da Edição (apenas no modo edição) -->
      <!-- <div class="col-12" *ngIf="isEditMode">
        <label class="form-label">Motivo da edição *</label>
        <input
          type="text"
          class="form-control"
          placeholder="Motivo da edição"
          formControlName="change_reason"
        />
      </div> -->

      <!-- Upload do Arquivo -->
      <div class="col-12">
        <label class="form-label">Documento da ATA *</label>
        <input
          id="fileInput"
          type="file"
          class="form-control"
          (change)="onFileSelected($event)"
        />
        <small class="text-muted"
          >Tipos de arquivos aceitos: .pdf, .txt, .rtf, .doc, .docx, .odt</small
        >
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Fechar
    </button>
    <button
      type="button"
      class="btn btn-primary hover-sucesso"
      (click)="saveAta()"
    >
      Salvar
    </button>
  </div>
</ng-template>

<!-- Modal de Edição -->
<ng-template #editAtaModal>
  <div class="modal-header bg-dark text-white">
    <h5 class="modal-title">Ratificação da ATA</h5>
    <button
      type="button"
      class="btn-close text-white"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>

  <div class="modal-body">
    <p class="text-muted mb-4">Informe os dados para ratificação da ATA</p>
    <form [formGroup]="formEditAta" class="row g-3">
      <!-- Número da ATA -->
      <div class="col-md-6">
        <label class="form-label">Número da ATA *</label>
        <input
          type="text"
          class="form-control"
          formControlName="price_registry_number"
        />
      </div>

      <!-- Ano da ATA -->
      <div class="col-md-6">
        <label class="form-label">Ano da ATA *</label>
        <input
          type="number"
          class="form-control"
          formControlName="year_of_registry"
        />
      </div>

      <!-- Data de Assinatura -->
      <div class="col-md-6">
        <label class="form-label">Data da Assinatura *</label>
        <input
          type="date"
          class="form-control"
          formControlName="signature_date"
        />
      </div>

      <!-- Início da Vigência -->
      <div class="col-md-6">
        <label class="form-label">Início da Vigência *</label>
        <input
          type="date"
          class="form-control"
          formControlName="start_date_of_validity"
        />
      </div>

      <!-- Fim da Vigência -->
      <div class="col-md-6">
        <label class="form-label">Fim da Vigência *</label>
        <input
          type="date"
          class="form-control"
          formControlName="end_date_of_validity"
        />
      </div>

      <!-- Justificativa (Motivo de Edição) -->
      <div class="col-12">
        <label class="form-label">Justificativa *</label>
        <textarea
          class="form-control"
          placeholder="Informe o motivo da ratificação"
          formControlName="change_reason"
        ></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Fechar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="updateAta()"
      [disabled]="!formEditAta.valid"
    >
      Salvar Alterações
    </button>
  </div>
</ng-template>

<!-- Modal de Arquivos da Licitação -->
<ng-template #modalArquivosLicitacao>
  <div class="modal-header bg-dark text-white">
    <h5 class="modal-title">Arquivos da Licitação</h5>
    <button
      type="button"
      class="btn-close text-white"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>

  <div class="modal-body">
    <p class="text-muted mb-4">Gerenciamento de arquivos da licitação.</p>

    <!-- Informações principais -->
    <div class="info-box mb-4">
      <h6 class="fw-bold">ATA</h6>
      <div class="d-flex justify-content-between">
        <div>
          <strong>Número da ATA:</strong>
          <span>
            {{ selectedAta?.price_registry_number }}/{{
              selectedAta?.year_of_registry
            }}
          </span>
        </div>
        <div>
          <strong>Data de Assinatura:</strong>
          <span class="fw-bold">
            {{ selectedAta?.signature_date | date : "dd/MM/yyyy" }}
          </span>
        </div>
      </div>
    </div>

    <!-- Formulário de Upload -->
    <form [formGroup]="formArquivo" class="row g-3">
      <!-- Título do Documento -->
      <div class="col-12">
        <label for="tituloDocumento" class="form-label"
          >Título do documento *</label
        >
        <input
          type="text"
          id="tituloDocumento"
          class="form-control"
          placeholder="Título do documento"
          formControlName="document_title"
        />
      </div>

      <!-- Tipo de Documento -->
      <div class="col-12">
        <label for="tipoDocumento" class="form-label"
          >Tipo de documento *</label
        >
        <select
          id="tipoDocumento"
          class="form-control"
          formControlName="document_type_id"
        >
          <option value="" disabled selected>Selecionar</option>
          <option *ngFor="let tipo of tiposDocumentos" [value]="tipo.value">
            {{ tipo.key }}
          </option>
        </select>
      </div>

      <!-- Upload do Arquivo -->
      <div class="col-12">
        <label class="form-label">Documento da ATA *</label>
        <input
          id="fileInput"
          type="file"
          class="form-control"
          (change)="onFileSelectedModal($event)"
        />
        <small class="text-muted">
          Tipos de arquivos aceitos: .pdf, .txt, .rtf, .doc, .docx, .odt
        </small>
      </div>
    </form>

    <!-- Lista de Arquivos -->
    <div class="mt-4">
      <h6 class="fw-bold">Arquivos</h6>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Arquivo</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let arquivo of arquivos">
            <td>
              <strong>{{ arquivo.label }}</strong>
            </td>
            <td class="text-center">
              <!-- Botão de Download -->
              <button
                class="btn btn-success btn-sm me-2"
                (click)="downloadArquivo(arquivo)"
              >
                <mat-icon>visibility</mat-icon>
              </button>

              <!-- Botão de Exclusão -->
              <button
                class="btn btn-danger btn-sm"
                (click)="
                  openDeleteAtasArquivosModal(
                    arquivo,
                    confirmDeleteArquivoModal
                  )
                "
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <!-- Caso não haja arquivos -->
          <tr *ngIf="arquivos.length === 0">
            <td colspan="2" class="text-center text-muted">
              Nenhum arquivo disponível.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Fechar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="salvarArquivo()"
      [disabled]="!formArquivo.valid"
    >
      Salvar
    </button>
  </div>
</ng-template>

<ng-template #deleteModal>
  <div class="modal-header bg-white">
    <h5 class="modal-title text-danger">
      <mat-icon>warning</mat-icon> Atenção!
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef?.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <p class="fw-bold">
      Deseja realmente excluir a ATA
      {{ selectedAta?.numero }}/{{ selectedAta?.ano }}?
    </p>
    <form [formGroup]="deleteForm">
      <label for="justification" class="form-label fw-bold">
        Informe o motivo da exclusão da ATA:
        {{ selectedAta?.numero }}/{{ selectedAta?.ano }}:
      </label>
      <textarea
        id="justification"
        class="form-control"
        formControlName="justification"
        placeholder="Motivo da exclusão da ATA"
      ></textarea>
      <div
        *ngIf="
          deleteForm.controls['justification'].invalid &&
          deleteForm.controls['justification'].touched
        "
        class="text-danger mt-1"
      >
        O motivo da exclusão é obrigatório.
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-danger"
      [disabled]="deleteForm.invalid"
      (click)="confirmDelete()"
    >
      Excluir
    </button>
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">
      Fechar
    </button>
  </div>
</ng-template>

<ng-template #cancelamentoModal>
  <div class="modal-header bg-dark text-white">
    <h5 class="modal-title">Cancelamento da ATA</h5>
    <button
      type="button"
      class="btn-close text-white"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>

  <div class="modal-body">
    <p class="text-muted mb-4">Informe os dados de Cancelamento</p>

    <form [formGroup]="formCancelamento" class="row g-3">
      <!-- Data e Hora do Cancelamento -->
      <div class="col-md-6">
        <label class="form-label">Data e Hora de Cancelamento *</label>
        <input
          type="datetime-local"
          class="form-control"
          formControlName="date_canceled"
        />
      </div>

      <!-- Motivo da Edição -->
      <div class="col-md-6">
        <label class="form-label">Motivo da edição *</label>
        <input
          type="text"
          class="form-control"
          placeholder="Motivo da edição"
          formControlName="change_reason"
        />
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      [disabled]="formCancelamento.invalid"
      (click)="confirmCancel()"
    >
      Cancelar ATA
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Fechar
    </button>
  </div>
</ng-template>

<!-- Modal de Confirmação -->
<ng-template #confirmDeleteArquivoModal>
  <div class="modal-header bg-white">
    <h5 class="modal-title text-danger">
      <mat-icon>warning</mat-icon> Atenção!
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef?.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <p class="fw-bold">
      Deseja realmente excluir o arquivo:
      <strong>{{ selectedArquivo?.label }}</strong
      >?
    </p>
    <form [formGroup]="deleteForm">
      <label for="justification" class="form-label fw-bold"
        >Informe o motivo da exclusão:</label
      >
      <textarea
        id="justification"
        class="form-control"
        formControlName="justification"
        placeholder="Motivo da exclusão"
      ></textarea>
      <div
        *ngIf="
          deleteForm.controls['justification'].invalid &&
          deleteForm.controls['justification'].touched
        "
        class="text-danger mt-1"
      >
        O motivo da exclusão é obrigatório.
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      [disabled]="deleteForm.invalid"
      (click)="confirmDeleteArquivo()"
    >
      Excluir
    </button>
  </div>
</ng-template>
