<div class="mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <div>
      <h5>Contratos</h5>
      <small>Lista de contratos cadastrados</small>
    </div>
    <button
      [relativeTo]="route.parent"
      routerLink="adicionar-contratos"
      class="btn btn-adm-adicionar ms-2"
    >
      <mat-icon>add_circle</mat-icon> Adicionar novo contrato
    </button>
  </div>

  <div class="container-fluid">
    <div class="filtro-row mb-4">
      <form
        [formGroup]="filtersForm"
        (ngSubmit)="applyFilters()"
        class="d-flex flex-wrap align-items-end gap-3"
      >
        <div>
          <label for="processo" class="form-label">N° do Processo</label>
          <input
            id="processo"
            type="text"
            class="form-control"
            placeholder="Digite o número"
            formControlName="number"
          />
        </div>

        <div>
          <label for="ano" class="form-label">Ano</label>
          <input
            id="ano"
            type="text"
            class="form-control"
            placeholder="Digite o ano"
            formControlName="year"
          />
        </div>

        <div>
          <button
            type="submit"
            class="btn btn-primary"
            aria-label="Filtrar licitações"
          >
            Filtrar
          </button>
        </div>
      </form>
    </div>
  </div>

  @if(dataSource.data.length > 0 ){
  <div class="table-responsive">
    <table class="table-editada table-bordered mb-0">
      <thead>
        <tr>
          <th>Nº seq</th>
          <th>Contrato PNCP Nº</th>
          <th>Nº Processo</th>
          <th>Órgão</th>
          <th>Unidade</th>
          <th>Criado em</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dataSource.data; let i = index">
          <td>{{ element.gateway_sequence }}</td>
          <td>{{ element.number }}/{{ element.year }}</td>
          <td>{{ element.contract_type_id }}</td>
          <td>{{ element.procurement?.agency?.name }}</td>
          <td>{{ element.procurement?.unit?.name }}</td>
          <td>{{ element.created_at | date : "dd/MM/yyyy" }}</td>
          <td>
            <div class="d-flex justify-content-center gap-3 py-1">
              <div
                class="d-flex flex-column align-items-center"
                (click)="visualizar(element)"
              >
                <a
                  class="btn-visualizar btn-format cup mt-0 d-flex justify-content-center align-items-center"
                  matTooltip="Visualizar"
                >
                  <img
                    src="../../../../../assets/icons/visualizar-adm-icon.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Visualizar</span>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a
                  class="btn-edit btn-format cup mt-0 d-flex justify-content-center align-items-center"
                  matTooltip="Editar"
                  [relativeTo]="route.parent"
                  [routerLink]="['editar-contratos', element.id]"
                >
                  <img
                    src="../../../../../assets/icons/edit-icon-adm.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Editar</span>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a
                  class="btn-arquivo btn-format cup mt-0 d-flex justify-content-center align-items-center"
                  matTooltip="Arquivos"
                  (click)="openFilesModal(element, templateFiles)"
                >
                  <img
                    src="../../../../../assets/icons/arquivo-adm-icon.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Arquivos</span>
              </div>

              <div class="d-flex flex-column align-items-center">
                <a
                  class="btn-atas btn-format cup mt-0 d-flex justify-content-center align-items-center"
                  matTooltip="Termos"
                  [relativeTo]="route.parent"
                  [routerLink]="['termos-contratos', element.id]"
                >
                  <img
                    src="../../../../../assets/icons/atas-adm-icon.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Termos</span>
              </div>

              <div
                class="d-flex flex-column align-items-center"
                (click)="openDeleteModal(element, deleteModal)"
              >
                <a
                  class="btn btn-sm btn-format btn-remove"
                  matTooltip="Deletar"
                >
                  <img
                    src="../../../../../assets/icons/remove-icon.svg"
                    alt=""
                  />
                </a>
                <span class="mt-1 legenda-icons">Deletar</span>
              </div>
              <ng-template #deleteModal>
                <div class="modal-header">
                  <h5 class="modal-title text-danger">
                    <mat-icon>warning</mat-icon> Atenção!
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modalRef?.hide()"
                  ></button>
                </div>
                <div class="modal-body">
                  <p class="fw-bold">
                    Deseja realmente excluir a licitação
                    {{ element?.number }}/{{ element?.year }}?
                  </p>
                  <form [formGroup]="deleteForm">
                    <label for="justification" class="form-label fw-bold">
                      Informe o motivo da exclusão da licitação:
                      {{ element?.number }}/{{ element?.year }}:
                    </label>
                    <textarea
                      id="justification"
                      class="form-control"
                      formControlName="justification"
                      placeholder="Motivo da exclusão da licitação"
                    ></textarea>
                    <div
                      *ngIf="
                        deleteForm.controls['justification'].invalid &&
                        deleteForm.controls['justification'].touched
                      "
                      class="text-danger mt-1"
                    >
                      O motivo da exclusão é obrigatório.
                    </div>
                  </form>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                  <button
                    type="button"
                    class="btn btn-danger"
                    [disabled]="deleteForm.invalid"
                    (click)="confirmDelete()"
                  >
                    Excluir
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="modalRef?.hide()"
                  >
                    Fechar
                  </button>
                </div>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  } @else {
  <div class="nao-encontrado">NENHUM RESULTADO ENCONTRADO</div>
  }

  <div class="bkg-bottom d-flex justify-content-end align-items-center">
    <span class="resultado me-3">{{ totalItems }} resultados</span>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="goToPage(1)" aria-label="Primeira">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link"
            (click)="goToPreviousPage()"
            aria-label="Anterior"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item active">
          <span class="page-link">{{ currentPage }}</span>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="goToNextPage()" aria-label="Próxima">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a
            class="page-link"
            (click)="goToPage(totalPages)"
            aria-label="Última"
          >
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<ng-template #templateFiles>
  <!-- Cabeçalho -->
  <div class="modal-header bg-dark d-flex justify-content-between">
    <div>
      <h5 class="modal-title text-white">Arquivos do Contrato</h5>
      <small class="text-white">Gerenciamento de arquivos do contrato.</small>
    </div>
    <button
      type="button"
      class="btn text-white"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Corpo -->
  <div class="modal-body">
    <!-- Detalhes do Contrato -->
    <div class="d-flex justify-content-between mb-3">
      <div>
        <strong>Contrato PNCP Nº</strong> <br />
        <span>
          {{ selectedContrato?.number || "N/A" }}/{{
            selectedContrato?.year || "N/A"
          }}
        </span>
      </div>
      <div>
        <strong>Número da Compra</strong> <br />
        <span>{{
          selectedContrato?.procurement?.process_number || "N/A"
        }}</span>
      </div>
    </div>

    <!-- Formulário -->
    <form [formGroup]="fileForm" (ngSubmit)="onSubmitFileForm()">
      <!-- Título do Documento -->
      <div class="mb-3">
        <label for="document_title" class="form-label"
          >Título do documento *</label
        >
        <input
          type="text"
          class="form-control mw-100"
          id="document_title"
          formControlName="document_title"
          placeholder="Título do documento"
          required
        />
      </div>

      <!-- Tipo de Documento -->
      <div class="mb-3">
        <label for="document_type_id" class="form-label"
          >Tipo de documento *</label
        >
        <select
          class="form-select mw-100"
          id="document_type_id"
          formControlName="document_type_id"
          required
        >
          <option value="" disabled selected>Selecionar</option>
          <option *ngFor="let tipo of tiposDocumentos" [value]="tipo.value">
            {{ tipo.key }}
          </option>
        </select>
      </div>

      <!-- Upload de Arquivo -->
      <div class="mb-3">
        <label for="file" class="form-label">Documento da Licitação</label>
        <input
          type="file"
          class="form-control mw-100"
          id="file"
          (change)="onFileChange($event)"
          accept=".pdf, .txt, .rtf, .doc, .docx, .odt"
        />
        <small class="form-text text-muted">
          Tipos de arquivos aceitos: .pdf, .txt, .rtf, .doc, .docx, .odt
        </small>
      </div>

      <!-- Botão de Submissão -->
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn bg-dark text-white hover-sucesso">
          Enviar
        </button>
      </div>
    </form>

    <!-- Tabela de Arquivos -->
    <table class="table-editada mt-3">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Título do Documento</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ file.label }}</td>
          <td>{{ file.document_title }}</td>
          <td>
            <!-- Botão de Visualizar -->
            <a
              [href]="file.gateway_location"
              target="_blank"
              class="btn btn-sm btn-primary me-2"
              matTooltip="Visualizar"
            >
              <mat-icon>visibility</mat-icon>
            </a>
            <!-- Botão de Remover -->
            <button
              class="btn btn-sm btn-danger"
              (click)="openDeleteArquivosModal(file, deleteModalArquivos)"
              matTooltip="Remover"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <ng-template #deleteModalArquivos>
              <div class="modal-header">
                <h5 class="modal-title text-danger">
                  <mat-icon>warning</mat-icon> Atenção!
                </h5>
                <button
                  type="button"
                  class="btn-close text-white"
                  aria-label="Close"
                  (click)="modalRef?.hide()"
                ></button>
              </div>

              <div class="modal-body">
                <p class="fw-bold">
                  Deseja realmente excluir o arquivo
                  <span class="text-danger">{{
                    selectedFileArquivo?.label
                  }}</span
                  >?
                </p>
                <form [formGroup]="deleteForm">
                  <label for="justification" class="form-label fw-bold">
                    Informe o motivo da exclusão do arquivo:
                  </label>
                  <textarea
                    id="justification"
                    class="form-control"
                    formControlName="justification"
                    placeholder="Motivo da exclusão do arquivo"
                    rows="3"
                  ></textarea>
                  <div
                    *ngIf="
                      deleteForm.controls['justification'].invalid &&
                      deleteForm.controls['justification'].touched
                    "
                    class="text-danger mt-1"
                  >
                    O motivo da exclusão é obrigatório.
                  </div>
                </form>
              </div>

              <div class="modal-footer d-flex justify-content-between">
                <button
                  type="button"
                  class="btn btn-danger"
                  [disabled]="deleteForm.invalid"
                  (click)="confirmDeleteContratoArquivo(file.id)"
                >
                  Excluir
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="modalRef?.hide()"
                >
                  Fechar
                </button>
              </div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Rodapé -->
  <div class="modal-footer d-flex justify-content-between">
    <button
      class="btn btn-secondary"
      (click)="navigateFiles(-1)"
      [disabled]="currentFilePage === 1"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <span>Página {{ currentFilePage }}</span>

    <button
      class="btn btn-secondary"
      (click)="navigateFiles(1)"
      [disabled]="!selectedContrato?.id"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</ng-template>
