.bg-pagina-interna {
    background-image: url('../../../../assets/bkg/bkg-ata-das-sessoes.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: #fff;

    .pagina-interna {
        text-align: center;
        padding-top: 50px;
    }
    .table-component{
        background-color: transparent;
        padding-top: 0;
    }
}
