<div class="container">
    <div class="agenda-container">
        <div class="agenda-content">
          <h2>AGENDA DO PRESIDENTE</h2>
          <h3>2024</h3>
          <div *ngFor="let month of agenda">
            <h4>{{ month.month }}</h4>
            <ul>
              <li *ngFor="let item of month.items">
                <strong>DATA: {{ item.date }}</strong> <br> {{ item.description }}
              </li>
            </ul>
          </div>
        </div>
        <div class="agenda-image">
          <img src="/app/assets/temporarias/agenda-presidente.png" alt="Presidente" />
        </div>
      </div>
      
</div>